[2017-01-31 22:01] #1034 closed

[2017-01-31 23:07] wptex opened #1036 "Request Notification E-Mails Not Sent for Local Users"
#### Ombi Version:

V 2.1.1339

#### Update Branch:

Early Access Preview

#### Operating System:

Ubuntu 16.04.1 LTS

#### Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

For Ombi Local Users with the Request Added Notfication, no e-mail no

[2017-02-01 00:22] AD1995 opened #1037 "Error when approving Movie requests when using Radarr"
#### Ombi Version:

V 2.1.1339

#### Update Branch:

Early Access Preview

#### Operating System:

WIndows Server 2012 R2

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

When approving a request, a message appears saying "This has been approved, but It has not been sent to Cou

[2017-02-01 01:41] curlz620 opened #1038 "After update to V2.1.1339 TV Requests still do not show"
#### Ombi Version:
 V2.1.1339

#### Update Branch:
EAP

#### Operating System:
Windows Server 2008

#### Applicable Logs (from `/logs/` directory or the Admin page):

#### Problem Description:I
 noticed that on a previous version an issue came up preventing the TV Show requests from appearing when selected. After updating to the newest release, which says it resolves the issue it still seems to be

[2017-02-01 07:15] SuperPotatoMen commented on #1038
Pleas  Don't remove the ``` tags for showing your logs correctly. Please make sure you remove any personal information from the logs

[2017-02-01 08:06] tidusjar commented on #1037
This is because the path in the settings is incorrect.
That path needs to be the path that is in Radarr

[2017-02-01 08:07] tidusjar commented on #1038
@curlz620 Can you send me your database please? Can you reset the admin password so I can log in?

tidusjar@gmail.com

[2017-02-01 08:09] #1037 closed

[2017-02-01 08:10] tidusjar commented on #1023
@seanvree can you send me your database? can you reset the admin password so I can log in?

tidusjar@gmail.com

[2017-02-01 08:32] #1035 closed

[2017-02-01 08:32] #1036 closed

[2017-02-01 09:04] Rhainland commented on #1038
I also have this issue since the update, i can view movies just fine but tv shows throw error 500.

Nothing in ombi logs about this

[2017-02-01 09:08] tidusjar commented on #1038
@Rhainland You are welcome to send me your DB, I just need someones so I can reproduce this to fix it

[2017-02-01 09:46] Rhainland commented on #1038
@tidusjar Any sensitive info in the db i should remove beforehand, or is everything in a settings file?

Regards

[2017-02-01 09:50] tidusjar commented on #1038
It's all encrypted so I couldn't view it anyway

On Wed, Feb 1, 2017 at 9:46 AM Rhainland <notifications@github.com> wrote:

[2017-02-01 09:50] seanvree commented on #1023
@tidusjar  - sent.

[2017-02-01 09:51] Rhainland commented on #1038
@tidusjar Can you drop me an email or where do you want me to send this to you?

[2017-02-01 09:53] d2dyno commented on #1038
Having the same issue. Email sent @tidusjar.

[2017-02-01 14:25] curlz620 commented on #1038
@tidusjar Just sent mine over now.

[2017-02-01 15:23] astlaurent opened #1041 "Verbiage bug in EAP"
Enable couch potato and then attempt to enable Radarr. Ombi replies back that Couch Potato and Watcher cannot be enabled at the same time.

[2017-02-01 15:23] #1041 closed

[2017-02-01 15:27] astlaurent opened #1042 "Verbiage bug on Latest EAP"
#### Ombi Version:

V 2.1.1346

#### Update Branch:

Early Access Preview

#### Operating System:

Windows 10

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Verbiage issue when enabling Radarr

#### Reproduction Steps:

Enable couch potato and then attempt to enable Radarr. O

[2017-02-01 17:46] SuperPotatoMen commented on #1042
Well, it is excly a correct error.  However.  I think @tidusjar forgot to add Radarr in that error.

[2017-02-01 18:12] FVGAZI opened #1043 "Cannot update"
#### Ombi Version:

V 2.0.1293

#### Update Branch:

Early Access Preview

#### Operating System:

Windows 10 64bit

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

The automatic update button doesn't work.
I've tried to manually update several times and it has no effect.
I've

[2017-02-01 19:37] SuperPotatoMen commented on #1043
Hi,

Did you delete your files and manually unzip the EAP files? (you need to user a other download link)

[2017-02-01 20:38] #1042 closed

[2017-02-01 20:50] FVGAZI commented on #1043
First I stopped Ombi. Then I manually unzipped the EAP and copied over the original.
What other download link?

[2017-02-01 20:52] Aireezz commented on #1038
I'm having the same issue, haven't sent my database over cause I see a few others already have. If you need me to I will though.

[2017-02-01 20:57] tidusjar commented on #1038
Sorry guys, had a busy day today.

Got some free time now so i'll fix it.

Is this happening only in the EAP? Or stable for some?

[2017-02-01 20:58] Aireezz commented on #1038
I'm using EAP.

On Wed, Feb 1, 2017 at 3:57 PM, Jamie <notifications@github.com> wrote:

[2017-02-01 20:59] d2dyno commented on #1038
@tidusjar I'm having this issue on stable.

[2017-02-01 21:20] tidusjar commented on #1038
I've fixed this and merged it into the EAP branch. Can someone confim that it is now fixed?

[2017-02-01 21:32] tidusjar commented on #1023
I've updated the EAP branch with the fix. Can you confirm it fixes the issue for you.

[2017-02-01 21:34] d2dyno commented on #1038
Switched to EAP,  still having this issue.

[2017-02-01 21:35] tidusjar commented on #1038
@d2dyno What's the version in the settings?

[2017-02-01 21:36] d2dyno commented on #1038
@tidusjar 2.1.1358

[2017-02-01 21:40] tidusjar commented on #1038
@d2dyno You never told me the username or pass in the email :)

[2017-02-01 21:50] d2dyno commented on #1038
@tidusjar sent.

[2017-02-01 21:58] tidusjar commented on #1038
Is there any thing in your life because I think it could be a sonarr issue (connecting and getting the root path)

[2017-02-01 22:01] Aireezz commented on #1038
Error messages: Invalid Path	Ombi.UI.Modules.ApprovalModule	Error	2/1/2017 3:54:49 PM
Error messages: Invalid Path	Ombi.UI.Modules.ApprovalModule	Error	2/1/2017 3:54:49 PM
Could not approve and send the TV Penny Dreadful to Sonarr!	Ombi.UI.Modules.ApprovalModule	Error	2/1/2017 3:54:49 PM
Invalid Path	Ombi.Api.SonarrApi	Error	2/1/2017 3:54:49 PM
Invalid Path	Ombi.Api.SonarrApi	Error	2/1/2017 3:54:4

[2017-02-01 22:14] SuperPotatoMen commented on #1043
You can found the EAP version over here:

https://ci.appveyor.com/project/tidusjar/requestplex/branch/eap/artifacts

Can you try this one?

[2017-02-01 22:20] d2dyno commented on #1038
There's nothing in the logs about sonarr issues. Only CP (because I stopped using it). A test connectivity comes back clean on Sonarr.

[2017-02-01 22:22] d2dyno commented on #1038
Think I fixed it. Had to hit 'submit' again on Sonarr (didn't change any fields). I'm seeing TV-Shows on the requests page now.

[2017-02-01 22:47] SuperPotatoMen commented on #739
It is now live in the 2.1 version!

[2017-02-02 00:08] FVGAZI commented on #1043
That worked. Thank you very much.
Is that where I should go for any future updates?

[2017-02-02 00:16] seanvree commented on #1023
@tidusjar  - YUP!  THX

[2017-02-02 00:16] #1023 closed

[2017-02-02 03:10] MarMed opened #1046 "Cannot launch v2.1.0"
#### Ombi Version:

v2.1.0

#### Update Branch:

Stable

#### Operating System:

Ubuntu 16.04

#### Mono Version (only if your not on windows)

4.2.3

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:
Receive this in console when trying to launch.
Sorry in advance if user error.

#### Reproduction Steps:

Manually update from v2.0.1 to v2.1.0 (mov

[2017-02-02 08:01] tidusjar commented on #1046
That's a strange one, it couldn't load `System.Runtime` This looks to be a mono issue, can you please update mono?

[2017-02-02 08:02] tidusjar commented on #1043
In the screen where it states there is a new update, there is a little "Tick" symbol, if you click that it will take you to the page with the update ;)

[2017-02-02 08:02] #1043 closed

[2017-02-02 08:03] tidusjar commented on #1038
Damn, I forgot about this.

Regarding the new feature to allow selecting the paths, you are required to go back into Sonarr Settings and resubmit your settings (for the new functionality to take place).

It shouldn't have broken the requests page though so I'll add some better error handling around that.

[2017-02-02 08:03] #1038 closed

[2017-02-02 08:04] tidusjar commented on #967
This should have been resolved with the latest update.

[2017-02-02 08:04] #967 closed

[2017-02-02 08:06] tidusjar opened #1048 "Issues with Emby"
Emby: Stable Version 3.1.5.0
Ombi: Early Access 2.1.1358
CouchPotato: Version 3.01
Sonarr: 2.0.0.4472 (1/1/2017)
Windows 8 x64 (latest updates)
Early Access Preview

#### Problem Description:

Issues after install:
1. After a restart, Plex will re-enable itself under settings.  Note - You must fill out IP (0.0.0.0), Machine Identifier (random name), and Plex Authorization Token (random #) to be ab

[2017-02-02 09:48] Sheryars commented on #1046
Im getting the same error. how can i update mono?

[2017-02-02 12:31] mushbuddygoose commented on #823
Happening to me as well. Mine is freezing once a day and I need to reboot to fix it.

[2017-02-02 13:20] tidusjar commented on #823
Can you disable episode searching. Should solve the issue

On Thu, Feb 2, 2017 at 12:31 PM mushbuddygoose <notifications@github.com>
wrote:

[2017-02-02 13:32] MarMed commented on #1046
Yep, That was the issue. Not sure why I didn't have latest mono.
Here is how to update on Ubuntu and Debian:
[code]

[2017-02-02 13:32] #1046 closed

[2017-02-02 14:02] CBers opened #1049 "No qualities from Radarr when approving a request"
#### Ombi Version:

V2.1.1347

#### Update Branch:

development

#### Operating System:

Windows 7

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

No option to selct the quality of a movie when approving the request.

I use Radarr and I do have quality profiles set up.

works

[2017-02-02 15:25] tidusjar commented on #1049
Are they appearing in the settings?

On Thu, Feb 2, 2017 at 2:02 PM Ombi Support <notifications@github.com>
wrote:

[2017-02-02 16:00] chris10136 opened #1050 "TV shows request list not loading"
Ombi Version: 2.1.1336
Update Branch: Stable
Operating System: Windows Server 2012

Since we updated to this release a few days ago, we're not able to see any TV requests on the requests page in admin. On the user end, they're able to view their own requests fine. It's just the admin view that's not showing any TV show requests. We have hundreds of TV requests. Maybe too many to load?

[2017-02-02 16:00] #1050 closed

[2017-02-02 16:02] chris10136 opened #1051 "TV request list not showing"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Windows Server 2012

#### Mono Version (only if your not on windows)

N/A

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Since we updated to this release a few days ago, we're not able to see any TV requests on the requests page in admin. On the user end, the

[2017-02-02 16:13] tidusjar commented on #1051
Can you go into your Sonarr settings and just press Save. That should fix
it.

On Thu, Feb 2, 2017 at 4:02 PM Ombi Support <notifications@github.com>
wrote:

[2017-02-02 16:20] tidusjar commented on #373
This has been done and released.

[2017-02-02 16:20] #373 closed

[2017-02-02 16:21] tidusjar commented on #827
No need

[2017-02-02 16:21] #827 closed

[2017-02-02 16:23] chris10136 commented on #1051
We're using SickRage and not Sonar.

[2017-02-02 16:25] lastb0isct commented on #823
after re-authenticating plex it went away for me.

[2017-02-02 16:25] tidusjar commented on #1051
Can you please switch to the EAP branch to see if that makes a difference? As I did fix an issue around that.

[2017-02-02 16:32] chris10136 commented on #1051
Fixed. Thank you :)

On 2 February 2017 at 16:25, Jamie <notifications@github.com> wrote:

[2017-02-02 16:34] SuperPotatoMen commented on #1051
Nice! Cool

[2017-02-02 16:34] #1051 closed

[2017-02-02 16:34] shadowswan opened #1052 "Still requesting CP even though not in use"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

unRaid

#### Mono Version (only if your not on windows)

Application Version:	2.1.1336
OS:	Mono
System Version:	4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)
Branch:	Stable
Log Level:	Debug
Database Location:	/app/Ombi/Ombi.sqlite
Running Directory:	/app/Ombi

#### Applicable Logs (from `/logs/` dire

[2017-02-02 16:43] SuperPotatoMen commented on #1052
We still hit the Pi of cp even its not enabled.  I know that @tidusjar was busy fixing it.  I can't found any changes in the code.  Can you confirm you already busy with fixing it @tidusjar?

[2017-02-02 20:35] tidusjar commented on #1052
That's strange. Ill take a look.

[2017-02-02 20:36] tidusjar opened #1054 "Add Typescript and Angular 2"
Title

[2017-02-02 20:56] #778 closed

[2017-02-02 20:56] SuperPotatoMen commented on #1054
Double but i close the last one :) https://github.com/tidusjar/Ombi/issues/778

[2017-02-02 21:00] SuperPotatoMen commented on #358
In the dev branch!

[2017-02-02 21:00] #358 closed

[2017-02-02 21:00] ezskinsgambling opened #1055 "Ombi keeps crashing Ubuntu 14.04"
Ombi V.2.1.1336 Stable Ubuntu 14.04 Mono 4.6.2

Logs: http://pastebin.com/kLAqWWSb

So there's a lot of errors here but Ombi, when working, seems to work fine.

The problem I have is that it keeps crashing and I have to restart the service. There is nothing being done when it crashes, it just happens after an undefined amount of time. I was hoping maybe the logs could help identify the problem.

T

[2017-02-02 21:00] #1055 closed

[2017-02-02 21:05] ezskinsgambling opened #1056 "Crashing on Ubuntu 14.04"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Ubuntu 14.04

#### Mono Version (only if your not on windows)

Mono 4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

The problem I have is that it keeps crashing and I have to restart the service. There is nothing being done when it crashes, it just happe

[2017-02-02 21:10] SuperPotatoMen commented on #1056
Hi,

I looks like a lot of api calls to CP and plex are failing. in the upcommin version there is some big changes around that.
Can you try the EAP build? You can found it over here:

https://ci.appveyor.com/project/tidusjar/requestplex/branch/eap/artifacts

[2017-02-02 21:11] ezskinsgambling commented on #1056
I'll try that now.

[2017-02-02 21:15] SuperPotatoMen commented on #1056
Give a message if it doesn't help. Maybe tidusjar can assist you if it doesn't :)

[2017-02-02 21:18] tidusjar commented on #1056
There are alot of Plex user checker errors there... It sounds like the
scheduler is making it crash if nothing is happening... I'll add some more
error handling around the scheduler to see if that helps.

On Thu, 2 Feb 2017, 9:15 pm SuperPotatoMen, <notifications@github.com>
wrote:

[2017-02-03 00:47] SuperPotatoMen commented on #503
@tidusjar now we support more systems (Radarr and Watcher) maybe we can give this idea a little higher prioritiy. The feature is now only available in CP, but more and more people are going to watcher or radarr that doesn't have the option.

[2017-02-03 00:50] SuperPotatoMen commented on #603
This is a little out of the scope for know. I will close this one.

[2017-02-03 00:50] #603 closed

[2017-02-03 00:51] SuperPotatoMen commented on #653
See pull request: https://github.com/tidusjar/Ombi/pull/1047

[2017-02-03 00:51] #653 closed

[2017-02-03 00:53] SuperPotatoMen commented on #404
@theg1nger it is possible to request 1 or 2 episodes :)
I will close this one for now.

[2017-02-03 00:53] #404 closed

[2017-02-03 00:56] SuperPotatoMen commented on #401
This is already possible in te 2.0 version :)

[2017-02-03 00:56] #401 closed

[2017-02-03 00:57] #402 closed

[2017-02-03 01:00] SuperPotatoMen commented on #713
For Ombi it is nice to be easy to use. In my opion that doesn't fit right now to make systems with priority.
This is something for on feathub to look if this is populair for making it.

I close this one for now.
Can you open a item on feathub if you like it if we make it in ombi?

[2017-02-03 01:00] #713 closed

[2017-02-03 01:01] SuperPotatoMen commented on #315
@tidusjar Can you this one a little more higher priority?
A lot of requests are of this one (emby forum, feathub and reddit)

[2017-02-03 01:05] SuperPotatoMen commented on #613
@AngryNoodlez
Can you open a feathub item for us on this one?
If it more then 1 request we can make it :)

[2017-02-03 01:05] #613 closed

[2017-02-03 01:06] SuperPotatoMen commented on #599
Can you open a feathub item for this one?
I'm not sure if we make it, but it is a very nice idea!

[2017-02-03 01:06] #599 closed

[2017-02-03 01:08] SuperPotatoMen commented on #765
@chrisjace
Hi, can you make for this one a feathub item?
If we have more request we can more time on makeing it!

[2017-02-03 01:08] #765 closed

[2017-02-03 01:11] #311 closed

[2017-02-03 01:16] SuperPotatoMen commented on #236
@tidusjar can we disable it again in the 2.2 version?

[2017-02-03 03:04] nosmokingbandit commented on #878
@tidusjar

FYI, I changes the api a bit. A while ago I added an api version to the api calls, but since this could potentially break things I want to give you a heads up.

All responses are now bools instead of string 'true'/'false'.

I don't know why I ever did it that way to begin with, but it is done correctly now.

So when you load the json into a dictionary or javascript object you'll need to

[2017-02-03 05:43] Merckle opened #1057 "iPhone users not able to Log In via Plex.tv Account"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Ubuntu

#### Mono Version (only if your not on windows)

4.2.3 (Stable 4.2.3.4/832de4b Wed Mar 16 13:19:08 UTC 2016)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I am seeming to have an issue with Iphone users logging in with the Plex.tv accounts to request

[2017-02-03 05:55] Merckle commented on #1057
SO I found the issue. I tried searching this issue before. but when I got the debug and posted that in Google found out that the problem is coming from GoDaddy masking which was addressed here.

https://github.com/tidusjar/Ombi/issues/593

[2017-02-03 05:55] #1057 closed

[2017-02-03 09:15] tidusjar commented on #878
@nosmokingbandit OK thanks for the heads up! How have you added the version?

Change in the endpoint route? `/v1/movies`?

[2017-02-03 09:31] SuperPotatoMen commented on #878
Reopend, Api has been changed

[2017-02-03 11:16] tidusjar commented on #1052
Are you sure that CouchPotato is actually disabled? The enable checkbox is unchecked in the settings?

[2017-02-03 11:24] tidusjar commented on #1048
Regarding no.3:
There is a permission called `Users can only view their own requests` This means that they will not see other requests from users. They will only see Available requests.

[2017-02-03 14:36] #421 closed

[2017-02-03 15:04] jaketame opened #1059 "Error - Could not load type 'Ombi.Api.TraktApi' from assembly 'Ombi.Api'"
#### Ombi Version:

Upgrade from 2.0 > 2..1

#### Update Branch:

Stable

#### Operating System:

Debian 8

#### Mono Version

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Unable to start 2.1, error thrown straight away.

#### Reproduction Steps:

Running version 2.0, upgraded to 2.1 using update script and this error was thrown.

[2017-02-03 15:07] theg1nger commented on #404
@SuperPotatoMen Yup! Thats what I've been doing. Thanks!

[2017-02-03 15:17] tidusjar commented on #1059
Are you sure you extracted all the files?

[2017-02-03 15:42] jaketame commented on #1059
#!/bin/bash
curl -sL http://git.io/viA9C | grep -Po '(?<="browser_download_url": ")(.+\.zip)' | xargs wget --quiet -O ombi.zip
systemctl stop plexrequests.service
unzip -o -q ombi.zip -d /opt/requests
chown -R usenet:usenet /opt/requests/*
systemctl start plexrequests.service
rm -f ombi.zip

[2017-02-03 15:54] jaketame commented on #1059
Ok i've reproduce and i'm getting the same error above.
[code]

[2017-02-03 15:55] tidusjar commented on #1059
Can you clear out the folder and then re-extract ?

[2017-02-03 16:01] jaketame commented on #1059
Another reproduction so not limited to upgrading.

[code]

[2017-02-03 16:31] tidusjar commented on #1059
So I am guessing the above is a new folder?

Are you getting the same error?

[2017-02-03 16:33] jaketame commented on #1059
Yup completely new folder and same error I'm afraid.

[2017-02-03 17:00] shadowswan commented on #1052
<img width="857" alt="screen shot 2017-02-03 at 16 54 46" src="https://cloud.githubusercontent.com/assets/1742260/22600220/82f56618-ea31-11e6-8892-23b64d66155b.png">

I am also getting these errors regularly, I don't know if they are connected?

`Mono.Data.Sqlite.SqliteException (0x80004005): Abort due to constraint violation PlexEpisodes.ProviderId may not be NULL at Mono.Data.Sqlite.SQLite3.Rese

[2017-02-03 18:53] SilverSix311 opened #1060 "Error updating from settings"
#### Ombi Version:
2.1.1336

#### Update Branch:
EAP

#### Operating System:
Ubuntu 16.04.1 LTS

#### Mono Version (only if your not on windows)
Mono JIT compiler version 4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan  3 11:48:26 UTC 2017)

#### Applicable Logs (from `/logs/` directory or the Admin page):
[code]

#### Problem Description:

After clicking update, it fails and then the application comes bac

[2017-02-03 19:17] nosmokingbandit commented on #878
@tidusjar
I don't want to have the old api version around at all since it was inherently flawed, so make your calls as usual.

In the future new api major versions will have a new endpoint.

[2017-02-03 22:15] tidusjar commented on #455
I've decided not to do this.

[2017-02-03 22:15] #455 closed

[2017-02-03 23:43] basmith7 opened #1062 "System.TypeInitializationException: The type initializer for 'System.Collections.Generic.List`1' threw an exception."
#### Ombi Version:

V 2.1.1384

#### Update Branch:

development

#### Operating System:

Ubuntu 16.04

#### Mono Version (only if your not on windows)

Mono JIT compiler version 4.6.2 (Stable 4.6.2.7/08fd525 Mon Nov 28 20:49:26 UTC 2016)

#### Applicable Logs (from `/logs/` directory or the Admin page):

journal
[code]

#### Problem Description:

Random Crashes

#### Reproduction Steps:

Start Om

[2017-02-03 23:45] basmith7 commented on #1062
[2017-02-03.log.txt](https://github.com/tidusjar/Ombi/files/751807/2017-02-03.log.txt)

[2017-02-04 03:41] jscottdouglas opened #1063 "Unable to get it to run"
#### Ombi Version:

V Latest - 2.1.0

#### Update Branch:

Stable/Early Access Preview/development
stable i assume
#### Operating System:
debian sid
(Place text here)
Mono 4.6.2.16 Stable
#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

(Place text here)

#### Reproduction Steps

[2017-02-04 03:46] diedrichg opened #1064 "Episodes repeat"
#### Ombi Version:

V 2.1.1384

#### Update Branch:

Early Access Preview

#### Operating System:

Windows 8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

When browsing for individual episodes during a search I see the episodes being repeated. I see the formatted Season #

[2017-02-04 03:47] diedrichg commented on #1064
You can try Supergirl too and get the same result.

[2017-02-04 03:55] diedrichg commented on #1064
Update:

Admin>Settings>Emby>Enable Episode Searching was not enabled. Add soon as I enabled this, the duplicate issue went away.

Is this a bug? Should this be fixed? What IS Episode Searching? Shouldn't that be an automatic function? Maybe a ? hint button with floating text describing what Episode Searching does would be prudent.

[2017-02-04 07:05] b-rockx commented on #287
Awesome looks like a variation of this was added!! Is there any way we can get this setup so we don't have to approve it? I'd like the ability to just have tabs next to TV or have a drop down when requesting.

[2017-02-04 09:47] jaketame commented on #1063
This is the same as https://github.com/tidusjar/Ombi/issues/1059

[2017-02-04 10:12] SuperPotatoMen commented on #1063
Dublicated: https://github.com/tidusjar/Ombi/issues/1059

[2017-02-04 10:12] #1063 closed

[2017-02-04 10:13] SuperPotatoMen commented on #1062
https://github.com/tidusjar/Ombi/issues/760

[2017-02-04 10:13] #1062 closed

[2017-02-04 10:15] SuperPotatoMen commented on #1060
See the known issue list ;)

[2017-02-04 10:15] #1060 closed

[2017-02-04 12:32] CBers commented on #1049
Yes.

Also, just added a movie which was already in Radarr, but there was no feedback when adding the request.

In the Admin account, there was an error adding the movie to Radarr, when approving the request:

2017/02/04 12:27:06.137 Ombi.Core.MovieSender Error: This series has already been added
2017/02/04 12:27:06.303 Ombi.UI.Modules.ApprovalModule Warn: We approved movie: Rogue One: A Star Wars

[2017-02-04 12:52] CBers opened #1065 "Radarr settings not pulling multiple root folders"
#### Ombi Version:

V2.1.1384

#### Update Branch:

development

#### Operating System:

W7

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I have multiple root folders for movies in Radarr, but Ombi is not pulling these in, so all movies are added to the same folder in Radarr

[2017-02-04 13:01] CBers opened #1066 "Error when selecting Authentication tab"
#### Ombi Version:

V 2.1.1384

#### Update Branch:

development

#### Operating System:

W7

#### Mono Version (only if your not on windows)

(Place text here)

[code]

#### Problem Description:

Get an "undefined" error when selecting Authentication tab

![screenshot 2017-02-04 at 13 02 57](https://cloud.githubusercontent.com/assets/1756472/22618664/640d8cc2-eada-11e6-9c9c-29a28416d81a.png)

I h

[2017-02-04 15:26] SuperPotatoMen commented on #1066
@CBers did you use emby users for authentication?

[2017-02-04 15:39] tidusjar commented on #1049
Ok thanks! I'll take a look!

[2017-02-04 19:08] Rhainland opened #1067 "Voting feature"
Hi Tidusjar,

Any chance we can get a simple voting feature on requests? Sometimes friends of mine request old shows that take up hundreds of gigs, if only a single person is really interested in this show then using this storage just for him isnt really feasable.

Can we have a system where users can upvote/downvote a request that the admin wants a vote on?

Regards

[2017-02-04 19:08] #1067 closed

[2017-02-04 20:46] tidusjar commented on #1052
Can you please update to EAP, I have resolved these issues. When you enterd the CP settings we try and load the qualities even know it wasn't enabled.

[2017-02-04 22:13] jscottdouglas commented on #1059
Any fix?

[2017-02-04 22:14] tidusjar commented on #1059
@jscottdouglas Are you having the same issue?

What OS and please post the error.

[2017-02-04 22:25] jscottdouglas commented on #1059
Yes same issue please see 1063, i am on debian sid

[2017-02-04 22:29] tidusjar commented on #1059
The only fix is for me to remove that lib and write it myself... I'll have to see if I can do it some time next week.

[2017-02-04 22:51] CBers commented on #1066
No.

I created a user manually, but I do see the Emby users in the list of users.

[2017-02-04 22:58] tidusjar commented on #1066
Strange. I'm not seeing this.

Can you open up the browser developer tools (press F12) and the Click Network, there should be something in red, click that and then press Preview and post the result in the preview window.

Like the below:
![image](https://cloud.githubusercontent.com/assets/6642220/22622243/642bb622-eb2d-11e6-8123-6b47c415e285.png)

[2017-02-05 01:37] porksandwich opened #1068 "Sonarr "You must specify a Quality Profile.""
#### Ombi Version:

V 2.1.1336 & 2.1.1382

#### Update Branch:

Stable & EAP

#### Operating System:

W 8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

My TV requests do not show up, Ombi cannot connect to sonarr.  When I head to the sonarr settings, quality profiles & roo

[2017-02-05 02:14] AgileHumor commented on #1048
re #3, I think this is a personal "not requested" rather than global...which is just what I was expecting.  I do see the admin sees that requests from more than one user when it happens

#2 fixed :)

#1 still issue, plex re-enables after ombi.exe restarted (or PC reboots).  It will keep setting until process exits though :)   Also, should not need to put in fake info to save Plex as not checked.

[2017-02-05 03:18] AgileHumor commented on #1048
#1 I tested this and it's now working as expected.  Thanks so much!

[2017-02-05 03:42] diedrichg opened #1069 "favicon needs to be Ombi - not Plex"
#### Ombi Version:

V 2.1.1384

#### Update Branch:

development

#### Operating System:

Win 8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

favicon is Plex and should be the Ombi logo (possibly the chain icon) since Ombi now spans two different ecosystems.

#### Reproduc

[2017-02-05 04:36] diedrichg opened #1070 "No episodes checked during search and a request was made gives a error"
#### Ombi Version:

V 2.1.1384

#### Update Branch:

development

#### Operating System:

Win 8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I (purposefully) tried to submit a request where no individual episodes were checked. I then got a error notification that said "So

[2017-02-05 04:40] diedrichg commented on #1070
This was in the Request Fault Queue:
 Object reference not set to an instance of an object.

We need a delete option next to each fault, please.

[2017-02-05 05:32] diedrichg opened #1071 "Newsletter subject says Plex when using Emby only"
#### Ombi Version:

V 2.1.1384
#### Update Branch:

Emby development

#### Operating System:

Win 8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

The Newsletter says in the subject line "New Content on Plex!" even though Plex is not enabled and Emby is enabled.

#### Repro

[2017-02-05 12:10] CBers commented on #1066
Don't have a PREVIEW option.

![image](https://cloud.githubusercontent.com/assets/1756472/22626045/2528e994-eb9c-11e6-8809-d48950801052.png)

[2017-02-05 13:23] tidusjar commented on #1066
Sorry, once the developer tools are open. Refresh the page and generate the
error, it should be in red then.

On Sun, 5 Feb 2017, 12:11 pm CBers, <notifications@github.com> wrote:

[2017-02-05 13:44] CBers commented on #1066
I clicked on Authentication when the dev tools were open and posted the above.

[2017-02-05 15:38] SuperPotatoMen commented on #1070
See Also https://github.com/tidusjar/Ombi/issues/1012

[2017-02-05 15:41] SuperPotatoMen commented on #1068
Can you hit the button  quality profiles first and after that use save.  Does that help?

[2017-02-05 15:48] SuperPotatoMen commented on #1071
This is a left over when we change our name to Ombi.

[2017-02-05 15:51] SuperPotatoMen commented on #1068
You need to choose a quality profile otherway you get a error. Problem is now the system shows you the sonarr api respons instead of a Ombi error message.

[2017-02-05 16:01] SuperPotatoMen commented on #1064
Yes, you need to enable Episode searching when you enable the option that you can search for it.
Ombi check you embi or plex server If it is available.

[2017-02-05 16:01] #1064 closed

[2017-02-05 16:17] SuperPotatoMen commented on #1048
Roepend because problem 2 is still there.

[2017-02-05 16:25] Thurman86 opened #1072 "Unable to connect to Plex Media Server"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Operating System:

Windows 10 Pro

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

When I go under Settings>Plex and test the connectivity I get an error that it is unable to connect to the remote server. The Plex s

[2017-02-05 19:11] porksandwich commented on #1068
Nope.  Hitting the "Get Quality Profiles" button gives me the same error.

[2017-02-05 20:14] SuperPotatoMen commented on #1072
Can you revoke your api key and restart your Plex and Ombi server?
When you get a error like No connection could be made because the target machine actively refused it.   That is almost not a issue on the Ombi site because plex blocked a api hit. Do you use ssl only connection? You can try to config to use a secure connection.  Enable the ssl setting

[2017-02-05 21:16] tidusjar commented on #1072
Yes, it means that Ombi cannot connect to Plex, this is usually down to settings, are you 100% sure that your Plex settings are correct? Please triple check them.

[2017-02-05 21:51] djxmind commented on #1068
Hi There.  I too am having this issue all of a sudden.

OS - Windows 10
Ombi Ver - Stable V2.1.0 (I reinstalled it twice and tried restarting)
Sonaar - Dev V2.0.0.4569

I had the service run perfectly up until i noticed this issue last night.  I am not sure if the latest Ombi stable is the reason or not because my Sonaar just updated to that version (maybe 15 minutes ago).

[2017-02-05 22:30] djxmind commented on #1068
Here is the error from the Log...

Newtonsoft.Json.JsonSerializationException: Cannot deserialize the current JSON array (e.g. [1,2,3]) into type 'Ombi.Api.Models.Sonarr.SonarrAddSeries' because the type requires a JSON object (e.g. {"name":"value"}) to deserialize correctly. To fix this error either change the JSON to a JSON object (e.g. {"name":"value"}) or change the deserialized type to an arr

[2017-02-05 22:43] Thurman86 commented on #1072
Sorry after checking plex again I noticed I had ombi set to connect on the external port and not the internal port. After updating the port setting it now works. Thanks for all the help!

[2017-02-05 22:48] shadowswan commented on #1052
I'm running on the unraid docker and when I try to update using the auto update the system just crashes... is there another way to try this?

[2017-02-05 22:49] #1072 closed

[2017-02-05 22:49] SuperPotatoMen commented on #1072
Cool!

[2017-02-06 07:54] permanentmarker opened #1073 "Problem selecting English as language"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Mono 4.6.2 / MacOSX

#### Mono Version (only if your not on windows)

Mono 4.6.2 / MacOSX

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I cannot choose english as default language. Not in configuration and not logged in as a user. I can provide screenshots i

[2017-02-06 08:09] tidusjar commented on #1073
What language are you currently "stuck on".

Have you tried changing language on different pages or you cannot change it at all?

[2017-02-06 08:12] permanentmarker commented on #1073
I'm stuck in Danish.
The funny thing is that there is two selectable languages "Danish" from the drop down menu. If I choose the first one in the drop down it goes to English.

[2017-02-06 08:14] tidusjar commented on #1068
Have you guys tried clearing your browser cache?

[2017-02-06 11:42] CodaAmok opened #1074 "Spelling mistake"
Nothing huge, just an FYI

![image](https://cloud.githubusercontent.com/assets/6683266/22645887/4b23d33c-ec61-11e6-9f6d-32ad343e1df6.png)

[2017-02-06 11:55] tidusjar commented on #1074
Thanks!

[2017-02-06 13:00] bobpullen opened #1075 "Request Added Notification not sending email to requester when content marked as available"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Windows 10 Pro x64

#### Mono Version (only if your not on windows)

N/A

#### Applicable Logs (from `/logs/` directory or the Admin page):

Here are the log entries after I marked the content as available:

[code]

#### Problem Description:

Users with 'Request Added Notification' enabled are not receiving emails

[2017-02-06 13:17] tidusjar commented on #1075
The users are present in the log right? So the log is stating we are sending the email?

[2017-02-06 14:42] djxmind commented on #1068
I have tried that and several different browsers remotely. Get the same error every time.

[2017-02-06 15:14] tidusjar commented on #1068
Can you do me a favour, can you open the Developer Tools (F12) and then refresh the Sonarr Settings page.

There might be an error in the console in red (If the console doesn't appear press Esc):

Can you click the line number (far right) and send me a screenshot of that error:

e.g.
![image](https://cloud.githubusercontent.com/assets/6642220/22652599/f509d046-ec7e-11e6-8412-0b673521ec51.png)

[2017-02-06 16:15] #1069 closed

[2017-02-06 16:18] #1074 closed

[2017-02-06 18:13] bobpullen commented on #1075
It does seem that way if I'm reading the logs correctly. The two usernames I redacted in the logs belong to the requester and the account owner (me). Although come to think of it the full username of the requester is <first name><space><second name>, whereas in the logs it just shows <first name>. Could that be something to do with it?

[2017-02-06 18:16] bobpullen commented on #1075
Sorry, chevrons hid part of my reply:

* ...the full username of the requester is 'Forename Surname', whereas in the logs it just shows 'Forename'. Perhaps the space isn't being handled correctly?

[2017-02-06 18:59] Codgedodger commented on #196
Pleaseeeee I need this! I run two different servers and really need this in plex request!

[2017-02-06 19:21] porksandwich commented on #1068
![console](https://cloud.githubusercontent.com/assets/16330854/22662525/5f501a76-ec77-11e6-8ca3-3842c1086790.png)
![line number /w error](https://cloud.githubusercontent.com/assets/16330854/22662535/67646db6-ec77-11e6-8c02-7625c4c5095d.png)

Looks like its having an issue with the syntax of my previously selected rootFolder?

[2017-02-06 19:26] porksandwich commented on #1068
Yep.  Easy little fix.

@djxmind downgrade back to 2.0.1, go to your sonarr settings and remove the default root folder.  Hit save.  Shut down Ombi, copy your db back to 2.1, restart Ombi and everything should be functional.

[2017-02-06 20:19] Spydie88 opened #1076 "alias not being used...."
#### Ombi Version:

V 	2.1.1382

#### Update Branch:

Early Access Preview

#### Operating System:

Windows 8/Windows Server 2012

#### Mono Version (only if your not on windows)

n/a

#### Applicable Logs (from `/logs/` directory or the Admin page):

n/a

#### Problem Description:

alias is not used in notifications or on the request page, as seen below.

![image](https://cloud.githubusercontent.

[2017-02-06 20:42] tidusjar commented on #1076
And the request was made while the user had an alias?

[2017-02-06 20:43] SuperPotatoMen commented on #817
There is a knowing issue when you do request for a all tv show but when you don't have the special seasons it doesn't show up for available.
I think that this is the issue.

@Drewster727 @rulles Can you check for me what the status is in your sonarr about the requested tv show?

[2017-02-06 20:49] #1068 closed

[2017-02-06 21:17] rulles commented on #817
Hello.
I don't have sonarr enabled.

SuperPotatoMen <notifications@github.com> escreveu em seg, 6/02/2017 às
20:43 :

--
(Enviado do iPhone) Atenciosamente/ With best Regards, António Pinto

[2017-02-06 21:27] SuperPotatoMen commented on #817
@rulles what do you use?

[2017-02-06 21:56] delphiactual commented on #1048
What needs set in emby to fix this error?
`Provider Id on tv Undateable is null	Ombi.Services.Jobs.EmbyContentCacher	Error	2/6/2017 12:58:24 PM`

I have 5 shows that get this error over and over. I have checked them in Emby and the info looks complete.

[2017-02-06 22:15] Spydie88 commented on #1076
yes

[2017-02-06 22:31] elit3ge opened #1077 "Ombi freezes, schedule doesn't send emails."
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Docker/Mono

#### Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Ombi displays errors. Email notification doens't send on set time. Ombi freezes after a co

[2017-02-06 23:32] rulles commented on #817
Sorry, maybe i don't understand very well your question.

My report is, if some user want some tv-show, and i don't have that in my
plex-server, he do the request, and when i add that tv-show in my
plex-server, the cronjob will detect that request is already added, and the
cronjob should send an email like it does in movies requests, but this
don't append.

SuperPotatoMen <notifications@github.com

[2017-02-07 03:03] ucantcme69 opened #1078 "start command not working for windows install instructions"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Operating System:

Windows 10

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Following the windows instructions and running: nssm start Ombi results in the following:

Set parameter 'Start' for service 'ombi' Enviroment variable parameter 'Start' for service 'Ombi" not defined

##

[2017-02-07 08:03] tidusjar commented on #1048
So that error @delphiactual is when Emby doesn't contain a primary Id (IMDBId for movies and TheTVDb Id for Tv Shows). If the media doesn't have this primary Id then Ombi doesn't know what show/movie it is.

It's not a fatal error, but it means that Ombi will not be able to detect if this show has already been requested.

[2017-02-07 08:10] SuperPotatoMen commented on #1078
Pleas ask this question on the how to website: http://www.htpcguides.com/install-plex-requests-net-windows-system-service/

[2017-02-07 08:10] #1078 closed

[2017-02-07 08:28] permanentmarker opened #1079 "Problem with autoupdate (See picture)"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

MacOSX

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Problem with the auto updater.
![mono autoupdate](https://cloud.githubusercontent.com/assets/25579594/22683339/c7b81e06-ed17-11e6-953b-4a8edbb00932.P

[2017-02-07 08:29] permanentmarker commented on #1079
Mono is a global command, and isn't located in the /Applications/Ombi folder.
There is a space between the file path and the exe for ombi.Updater.exe

[2017-02-07 08:37] SuperPotatoMen commented on #1079
See the known issue list

[2017-02-07 08:37] #1079 closed

[2017-02-07 12:40] CBers commented on #1078
I know the ISSUE is closed, but thought I'd post.

@ucantcme69 - I only recently followed that guide on Windows 7 and it worked fine.

Did you run the "Set the home directory for the Ombi PlexRequests folder to the installation directory" ??

nssm set Ombi AppDirectory "C:\<Ombi-path>"

On Windows 10, you have to UNBLOCK the zip file - did you do that ??

[2017-02-07 13:09] ucantcme69 commented on #1078
Yes I did both of those instructed in the guide

[2017-02-07 13:14] SuperPotatoMen commented on #1078
Hi Guys, we only support the option to manually start the ombi.exe file.
Support to auto start it on the how to website. I'm sorry but we can't help you on this one :(

[2017-02-07 15:05] djxmind commented on #1068
Thank you for the fix guys. I didn't have time to do the steps you wanted so I just deleted Ombi and started from scratch with the dev branch

[2017-02-07 15:50] Fuechslein opened #1080 "Localized titles no recognized"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Mono

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

My Plex Library uses localized titles in my language. Those with a title different than the English title are not recognized and shown as not requested

[2017-02-07 17:43] SuperPotatoMen commented on #1080
Nope, the api doesn't support it.

[2017-02-07 17:43] #1080 closed

[2017-02-07 19:00] SuperPotatoMen opened #1081 "Search suggestions doesn't check if already requested/available"
When using the search suggestions drop down for movies, like in theaters, these movies have already been requested by myself or other users on OMBI but the request option is still available.
Also the available check on emby and plex doesn't work.

Current Version:  2.1.1382

Issue reported on the emby forum by @CBers

[2017-02-07 19:35] xp-1000 commented on #435
Awesome ! Thanks for your work.<br>
I upgraded to 2.1.1382 and I successfully connected to emby (according to test connectivity).<br>
Unfortunately, my available movies from emby side was not automatically marked as "available" on Ombi.<br>
First question, should it works with requests done BEFORE the upgrade (it could be the problem but I will test with new request to be sure).<br>
Second, how do

[2017-02-07 20:00] delphiactual commented on #1048
@tidusjar maybe you can send a refresh request when that error is received.

[2017-02-07 20:01] SuperPotatoMen commented on #1048
That is a nice idea

[2017-02-07 20:49] tidusjar commented on #1048
Hmmm. Not too sure about that, since if I encountered that error it could take 5-10mins to refresh depending on your lib size, also if it's incorrectly matched and will never have an ID then I'll always be refreshing the library

[2017-02-07 21:03] Fuechslein commented on #1080
Too bad. But would it be possible to implement advanced functionality to the cacher tasks? I dont know how it matches the Plex Library with the provider from ombi, but if I can get the right movie with the localized title with the search function, why shouldnt the cacher-task be able to do so too?

[2017-02-08 04:28] seanvree commented on #813
This is implemented in the latest OBMI version!

THANKS!

[2017-02-08 04:28] #813 closed

[2017-02-08 07:21] CBers opened #1082 "Import only selected users"
#### Ombi Version:

V2.1.1387

#### Update Branch:

development

#### Operating System:

windows 7

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Ombi automatically imports all (Emby) users, but this is not always required.

So, would prefer a list of users to be able to sele

[2017-02-08 08:00] SuperPotatoMen commented on #1082
Can you open a feathub item for this one?

[2017-02-08 08:03] SuperPotatoMen commented on #1082
Re-opened. I saw the Requests from Jamie on gitter

[2017-02-08 08:05] CBers commented on #1082
Yes, I should have put in the description that Jamie requested an ISSUE :)

[2017-02-08 08:43] sluquet commented on #991
I am still getting this error. Tried all three release branches without any luck. Win 10.

[2017-02-08 11:00] tijmenvn opened #1083 "TV Shows requests page not opening"
[logs_Ombi_1083.zip](https://github.com/tidusjar/Ombi/files/760422/logs_Ombi_1083.zip)

#### Ombi Version:

V 2.1.1336

#### Update Branch:

**Stable**/Early Access Preview/development

#### Operating System:

Ubuntu 16.04

#### Mono Version (only if your not on windows)

Stable 4.6.2.16/ac9e222

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

[2017-02-08 11:39] tidusjar commented on #1083
Can you go into your sonarr settings and re-press save?

On Wed, Feb 8, 2017 at 11:00 AM Ombi Support <notifications@github.com>
wrote:

[2017-02-08 11:46] tijmenvn commented on #1083
Just did that, made sure I got notification that settings in sonarr were saved. restarted Ombi. No difference. It does tell me now it's indexing files.

[2017-02-08 15:58] yeyeoke opened #1084 "Ubuntu 16.10 - Ombi crashes."
I know you guys are already aware of the problems with ubuntu and ombi, but I thought I'd help out by submitting my logs at least.

#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Operating System:

Ubuntu server 16.10

#### Mono version:

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

[2017-02-08 16:26] tidusjar commented on #1084
Turn off Trace logging and put it to error.

On Wed, Feb 8, 2017 at 3:58 PM Ombi Support <notifications@github.com>
wrote:

[2017-02-08 16:37] yeyeoke commented on #1084
Damn, sorry, I'll upload new log when it becomes unresponsive again.

[2017-02-08 17:16] tidusjar commented on #1084
That is what was causing the crash! Trace logging enabled causes a LOAD of
logs to be generated and can cause issues when used in a production
scenario.

On Wed, 8 Feb 2017, 4:38 pm yeyeoke, <notifications@github.com> wrote:

[2017-02-08 17:20] yeyeoke commented on #1084
Yeah, that explains why it's been more frequent for the last couple of days (since I turned it on) but probably doesn't explain why it crashed before that.

[2017-02-08 18:36] tidusjar commented on #1084
Episode searching enabled?

On Wed, 8 Feb 2017, 5:20 pm yeyeoke, <notifications@github.com> wrote:

[2017-02-08 20:26] gonesuper commented on #1059
installing mono-complete fixed it for me

[2017-02-08 20:49] tidusjar commented on #1083
Can you open up the developer tools (F12), click the network tab and then refresh the page, there should be something in red.

Can you click the red item and then press preview and post the result here?

[2017-02-08 21:01] #1081 closed

[2017-02-08 21:04] #1071 closed

[2017-02-08 21:11] jscottdouglas commented on #1059
Which version of mono is yours because my install is via mono-complete

On Feb 8, 2017 3:26 PM, "gonesuper" <notifications@github.com> wrote:

[2017-02-08 21:13] #1049 closed

[2017-02-08 21:14] tidusjar commented on #1077
Log level?

[2017-02-08 22:06] elit3ge commented on #1077
Log level is set to Error

[2017-02-08 22:22] gonesuper commented on #1059
4.6.2 (Stable 4.6.2.16)

[2017-02-08 23:18] jodfie commented on #1052
i have Radarr set up and have verified the connection is solid several times. If i try and approve a movie it says that it can't download anything because i dont have couch potato or watcher set up

[2017-02-08 23:31] jscottdouglas commented on #1059
I went ahead and purged my install and re-installed, seems to have done the trick, so my guess is i may have removed the dependency at some point

[2017-02-09 03:42] ubun2Junky commented on #1083
I'm getting the same issues, here are my results.

{statusCode: 500, message: "Something went horribly, horribly wrong while servicing your request.",…}
details
:
"Nancy.RequestExecutionException: Oh noes! ---> System.FormatException: Input string was not in a correct format.↵  at System.Number.StringToNumber (System.String str, System.Globalization.NumberStyles options, System.Number+NumberBuffer

[2017-02-09 07:59] tidusjar commented on #1052
@jodfie You enabled it right? there is an "Enable" checkbox.

[2017-02-09 08:05] tidusjar commented on #1083
Can you go into your Sonarr settings and re-press Save? If that doesn't work there is an update in the EAP branch.

[2017-02-09 08:05] #1083 closed

[2017-02-09 08:25] #1059 closed

[2017-02-09 08:27] SuperPotatoMen commented on #1073
@tidusjar i see something the same. I can set the default language to a other language but nothing happend after that.

[2017-02-09 08:33] SuperPotatoMen commented on #1065
This is not a issue beceause its not in the code ;) Can you raise a feathub request for that?

[2017-02-09 08:36] SuperPotatoMen commented on #1080
@Fuechslein can you raise a feature request for that on feathub :)

[2017-02-09 08:39] SuperPotatoMen commented on #1065
on the todo list for 2.2.0 after talking with jamie :)

[2017-02-09 08:41] CBers commented on #1065
Thanks :smile:

[2017-02-09 10:20] yeyeoke commented on #1084
Yeah that was on but that doesn't seem to have been my problem as much as my own idiocy was. I believe trace was actually enabled the whole time since now that I've turned it off its been stable for 17 hours which is a new record for me. I'm sorry, I'm retarded..

[2017-02-09 11:46] SuperPotatoMen commented on #1084
cool :) If you have any problems in the future just open a issue report :)

[2017-02-09 11:46] #1084 closed

[2017-02-09 11:48] SuperPotatoMen commented on #1082
@CBers yeah, i'm sorry!

[2017-02-09 12:23] SuperPotatoMen commented on #1065
No problem, sorry for closing it!

[2017-02-09 15:03] PhyberApex opened #1090 "Emby Login does not work correctly"
#### Ombi Version:

V 2.1.1401

#### Update Branch:

Early Access Preview

#### Operating System:

Debian

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Login with users from emby does not work. I only get the login page repeatedly. If I click search I get the search page after a login a

[2017-02-09 15:04] tidusjar commented on #1090
I think you are correct, the session probably isn't getting created correctly.

Thanks, i'll take a look

[2017-02-09 16:48] jaketame commented on #1059
Installed mono-complete and now works for me too.

[2017-02-09 22:24] bromanguydude opened #1091 "Users can still request TV shows even though they are available"
#### Ombi Version:

V 1.1.1336

#### Update Branch:

Stable

#### Operating System:

Win10

#### Mono Version (only if your not on windows)

N/A

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Users are still able to request TV shows with the green request button even though it says available on Plex. The code above also shows in log on every

[2017-02-10 07:13] dunecokc opened #1092 "Delete button deletes all requests when filter is applied."
#### Ombi Version:

V 	2.1.1401

#### Update Branch:

Early Access Preview

#### Operating System:

Windows Server 2012

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I was wanting to clear out all completed requests in one step.  When I applied the Completed filter and click

[2017-02-10 07:58] tidusjar commented on #1092
This is not really a bug as it's expected behavior. Pressing Delete Movies will always delete them all.

I'm not going to do anything with this as I still plan to rewrite that page.

[2017-02-10 07:58] #1092 closed

[2017-02-10 08:02] SuperPotatoMen commented on #1091
Pleas enable the option Use Advanced Search in de plex setting page.

[2017-02-10 08:02] #1091 closed

[2017-02-10 11:22] CBers commented on #1066
From the LOGS page in Ombi dashboard:
...
System.InvalidOperationException: There is an error in XML document (2, 2). ---> System.InvalidOperationException: was not expected. at Microsoft.Xml.Serialization.GeneratedAssembly.XmlSerializationReaderPlexFriends.Read5_MediaContainer() --- End of inner exception stack trace --- at System.Xml.Serialization.XmlSerializer.Deserialize(XmlReader xmlReader, S

[2017-02-10 11:34] #1066 closed

[2017-02-10 18:44] jodfie commented on #1052
just verified @tidusjar and it is enabled and ive tested its connectivity several times.

[2017-02-10 20:40] joscross49 commented on #66
Definitely would love to see this get implemented! Keep up the good work!

[2017-02-10 21:52] diedrichg opened #1093 "Ombi does not match Emby nor Sonarr"
#### Ombi Version:

V 2.1.1404

#### Update Branch:

development

#### Operating System:

Win8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

See here [https://emby.media/community/index.php?/topic/44267-ombi-for-emby/page-10#entry418697](url)

Ombi 2.1.1404 shows e11-15 as

[2017-02-10 22:16] diedrichg opened #1095 "Approving a TV Season - Series not in library - yeilded no search"
#### Ombi Version:

V 2.1.1404

#### Update Branch:

development

#### Operating System:

Win8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

See here [https://emby.media/community/index.php?/topic/44267-ombi-for-emby/page-13#entry419168](url)

#### Reproduction Steps:

Req

[2017-02-10 22:21] elit3ge commented on #1077
Another few logs. https://gist.github.com/elit3ge/176af2a4e2b8bb52c0b43dee45f8143a
I remove episode searching from the 9th.
Newsletter was meant to send at 9am on the 11th. Nothing.

[2017-02-10 22:56] diedrichg opened #1096 "Silence update notification"
#### Ombi Version:

V 2.1.1406

#### Update Branch:

development

#### Operating System:

Win 8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

There is no way to silence the update notification.

#### Reproduction Steps:

Suggestion: after clicking the update notification,

[2017-02-11 05:27] VanCityGuy opened #1097 "Auto Update Button Missing?"
#### Ombi Version
V 2.1.1401
#### Update Branch:
Early Access Preview
#### Operating System:
Mono
#### Log Level:
Debug
For the last few commits, the Auto Update button in the Status section of settings is gone. I have been having to download the .zip, replace my ombi.qlite file in the new version and move it manually to my Applications. I loved having that button that would do it all automaticall

[2017-02-11 05:27] #1097 closed

[2017-02-11 05:42] VanCityGuy opened #1098 "Auto Update Button Missing?"
#### Ombi Version

V 2.1.1401

#### Update Branch:

Early Access Preview

#### Operating System:

Mac OSX

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

For the last few commits, the Auto Update button in the Status section of settings is gone. I have been having to download the .zip, re

[2017-02-11 05:50] VanCityGuy commented on #1098
After digging around the known issues, I see it was removed eight days ago, but why? It had been working fine for me.

[2017-02-11 08:54] mmozeiko opened #1099 "Users not listed on requests"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Operating System:

ArchLinux, https://aur.archlinux.org/packages/ombi

#### Mono Version (only if your not on windows)

4.6.1

#### Applicable Logs (from `/logs/` directory or the Admin page):

It doesn't seem to have anything reasonable is in logs, but I can post them if you need it. Most of the contents is `System.Net.WebException: E

[2017-02-11 09:07] mmozeiko commented on #1099
When I look into database in RequestBlobs table I can see that some of latest requests correctly has user:

    ...,"RequestedUsers":["user"],...

But others have just an empty string:

    ...,"RequestedUsers":[""],...

[2017-02-11 09:55] JimboMonkey1234 commented on #1099
From my limited testing, I'm getting repros from Safari in iOS, but not Firefox on Windows. Two users, both with aliases.

[2017-02-11 10:05] gen3ric commented on #985
Not trying to reopen this issue but I can't find the "user email notifications" in stable or EAP.

(stable: `2.1.0`, eap: `2.1.1401`)

Was it pulled, or did I not set something up correctly?

[2017-02-11 10:07] SuperPotatoMen commented on #1096
This is a feature request not a issue or bug ;) pleas open a topic on feathub.

[2017-02-11 10:07] #1096 closed

[2017-02-11 10:08] SuperPotatoMen commented on #1097
We removed the option beceause it doesn't work.

[2017-02-11 10:09] SuperPotatoMen commented on #1098
It is removed beceause the auto updater doesn't work. Jamie is working on it to fix it.

[2017-02-11 10:09] #1098 closed

[2017-02-11 10:10] SuperPotatoMen commented on #1099
What is your ombi version? V 2.1.0 isn't a build

[2017-02-11 10:22] mmozeiko commented on #1099
What do you mean its not a build? What is this https://github.com/tidusjar/Ombi/releases/tag/v2.1.0 ?

For me it definetely happens with Chrome on Windows.

[2017-02-11 10:22] JimboMonkey1234 commented on #1099
Here's my application version: 2.1.1336
Same branch/mono version as mmozeiko.

[2017-02-11 19:24] jdenson commented on #66
Looking forward to this. Thanks for all the hard work @tidusjar

[2017-02-11 20:34] gforce75 opened #1100 "Ombi Stuck using Safari after entering password"
#### Ombi Version:

V  	2.1.1336

#### Update Branch:

Stablet

#### Operating System:

Windows and IOS

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Using Safari on IOS and/or MAC, Ombi refuses to do anything after the password is entered.

#### Reproduction Steps:

Use Saf

[2017-02-11 21:42] SuperPotatoMen commented on #1100
If you hit a hard refresh ctrl-f5. does it still there? Maybe a cache issue.

[2017-02-11 21:50] gforce75 commented on #1100
Yes, still an issue.  Does it on iphone also with safari

On Sat, Feb 11, 2017 at 4:42 PM, SuperPotatoMen <notifications@github.com>
wrote:

[2017-02-12 01:22] WilliamJBrown commented on #878
Can confirm not working at this point

`Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: <. Path '', line 0, position 0. at Newtonsoft.Json.JsonTextReader.ParseValue () <0x4108c730 + 0x00497> in :0 at Newtonsoft.Json.JsonTextReader.Read () <0x4108bcc0 + 0x0004b> in :0 at Newtonsoft.Json.JsonReader.ReadAndMoveToContent () <0x4108bc80 + 0x00013> in :0 at New

[2017-02-12 02:57] nosmokingbandit commented on #878
I think this might be my fault. That log is hard to read without proper formatting, but I'm looking into it right now.

[2017-02-12 03:15] WilliamJBrown commented on #878
Not a problem @nosmokingbandit

You are killing it with your bug squashing right now! below 15 last time i checked keep it up :)

[2017-02-12 03:17] nosmokingbandit commented on #878
To be fair, a lot of those were closed because I didn't get a response back from the issuer. So I don't know if things are fixed or not...

But then again, a lot of open issues are feature requests, so I'm pretty happy about keeping things (relatively) stable.

[2017-02-12 03:19] WilliamJBrown commented on #878
Just checked that watcher is now working with ombi again :) Thanks @nosmokingbandit

@SuperPotatoMen @tidusjar You can now close this :)

[2017-02-12 03:19] WilliamJBrown commented on #878
All fixed!

[2017-02-12 03:19] #878 closed

[2017-02-12 12:59] diedrichg opened #1101 "Admin menu is Curtis"
#### Ombi Version:

V 1.XX.XX

#### Update Branch:

Stable/Early Access Preview/development

#### Operating System:

(Place text here)

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

(Place text here)

#### Reproduction Steps:

Please include any steps to reproduce the issue,

[2017-02-12 13:00] #1101 closed

[2017-02-12 13:59] SuperPotatoMen opened #1102 "Delete record out the database when movie/tv show is not available anymore"
When a tv show or movie is not available anymore we don't delete the record out of our database.
Itsn't possible to re-request it, it stay forever "available" and the view in plex/emby button redirect the end user also to a invalid or wrong tv show / movie.

[2017-02-12 21:03] the1legend1 opened #1103 "Newsletter test not working, email notification and mass email is"
#### Ombi Version:

2.1.1401

#### Update Branch:

Early Access Preview

#### Operating System:

Windows 10 64bit

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I can fire off email notifications from Ombi and I receive the email within a minute. I can shoot out a mass email

[2017-02-12 21:06] SuperPotatoMen commented on #1103
Hi can you put your logs in the place " (Logs go here."  the text is there for a reason ;)

[2017-02-12 21:10] the1legend1 commented on #1103
Sorry, here you go.
[logs.zip](https://github.com/tidusjar/Ombi/files/769631/logs.zip)

[2017-02-12 21:30] tidusjar commented on #1090
Have you tried this with different browsers?

[2017-02-12 21:44] PhyberApex commented on #1090
Yes I tried chrome and Firefox. Also tried to empty my cache and deleted the Omni.sqlite and set it up again. Also tried running as root to exclude privilege errors.

~Cheers

[2017-02-12 21:45] tidusjar commented on #1090
Found it!

Was deep in the authentication layer, must of missed that part for emby

[2017-02-12 21:46] tidusjar commented on #1090
This was also stopping the emby users from using the permissions too!

[2017-02-12 21:46] SuperPotatoMen commented on #1103
@the1legend1  thanks, this will help jamie with fixing 👍

[2017-02-12 22:16] SuperPotatoMen opened #1104 "Trying to get Watchers movies"
#### Ombi Version:

V 2.1.1401

#### Update Branch:

Early Access Preview

#### Operating System:

Windows 10

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Get watchers movies fails in ombi

#### Reproduction Steps:

Please include any steps to reproduce the issue, this the

[2017-02-12 22:23] #1104 closed

[2017-02-12 22:24] #1090 closed

[2017-02-12 22:25] #1103 closed

[2017-02-12 22:53] PotatoQuality opened #1106 "Refactor landing page after login"
My idea is simple, instead of have a landing page or a request page we have full covert landing page what you can customize.

After a user login, it shows you a sort kind of home screen and ask the enduser what he likes to do.
You can customize the buttons or just use the default buttons with images.
Also its possible to add buttons with text, images and put a external url on it.
Admin can show a

[2017-02-12 22:54] diedrichg opened #1107 "User was not emailed that content was available."
#### Ombi Version:

V 2.1.1407

#### Update Branch:

development

#### Operating System:

Win8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

A user requested a TV series that was already on the server but not in his library. I made the content available in his library whic

[2017-02-12 22:57] SuperPotatoMen commented on #1107
This need investigation, Can you give some logs after you hit the Available button?
Pleas don't use the development branch beceause a lot it is broken beceause of the development or implentation are not finished yet.

[2017-02-12 23:04] diedrichg commented on #1107
#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

[2017-02-12 23:06] SuperPotatoMen commented on #1107
Wait a second, you hit the available button and you got a FaultQueueHandler error.
Are you sure you don't have other errors in your log?

[2017-02-12 23:08] diedrichg commented on #1107
Those were ALL the logs from today taken directly from the /logs folder

[2017-02-12 23:14] diedrichg opened #1108 "Enhancement: Additional filter needed for hiding approved requests"
#### Ombi Version:

V 2.1.1407

#### Update Branch:

development

#### Operating System:

Win8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

There is not a way to filter out Approved requests. "Not Approved" ≠ 'not yet approved'. "Not Approved" = 'rejected'.

*Suggestion:

[2017-02-12 23:19] SuperPotatoMen commented on #1108
Pleas open a feathub for this :)

[2017-02-12 23:19] #1108 closed

[2017-02-12 23:20] SuperPotatoMen commented on #1107
Can you set your log level to debug and do the available thing again?

[2017-02-12 23:21] SuperPotatoMen commented on #1108
You can filter out what you don't need over here:

![image](https://cloud.githubusercontent.com/assets/2944704/22867137/58c2435e-f182-11e6-8b41-82e2f50223bc.png)

[2017-02-12 23:40] diedrichg commented on #1107
Could not reproduce! Go figure. I was emailed that the content was marked as available by the admin account. Might as well close this. I'll reopen if I hear of this again.

[2017-02-12 23:47] SuperPotatoMen commented on #1107
Yeah, let us know if you have this error again!

[2017-02-12 23:49] #1107 closed

[2017-02-13 07:44] CBers opened #1109 "EmbyAddedNewsletter Error"
#### Ombi Version:

V2.1.1407

#### Update Branch:

development

#### Operating System:

W7

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Error found in Omni logs.

#### Reproduction Steps:

Please include any steps to reproduce the issue, this the request that is causing th

[2017-02-13 08:09] tidusjar commented on #1109
Hmmm. I can see there is an error but I am not going to be able to fix it without knowing the response from Emby, can I add some logging in and you run that and post the new logs?

[2017-02-13 08:38] CBers commented on #1109
Yes, no problem.

[2017-02-13 09:19] PhyberApex commented on #636
Maybe I'll try to bring myself into this as I plan to contribute to a open source project for a long time. Maybe this will be my first PR :)

[2017-02-13 09:22] SuperPotatoMen commented on #636
@PhyberApex that will be fantastic! If you need anyhelp, ask @tidusjar for support :)

[2017-02-13 09:23] tidusjar commented on #636
@PhyberApex Yeah if you need any help just let me know.

I think the requirements of this has changed slightly now there are more than 1 CP alternative (Radarr, Watcher).

So I guess maybe expand this to a two way sync... Let's start with send requests to Trackt then i'll raise another feature later to sync Trackt to Ombi.

[2017-02-13 16:07] d8ahazard opened #1110 "Search API For 3rd-Party Integration"
It would be most excellent if Ombi provided a RESTful-ish API for third-party services and apps to be able to submit requests directly to Ombi via a search title.

At least in my use-case, it is possible that the type of media being requested is unknown, in which case it would be useful to have a generic /search endpoint that aggregates results from any/all media sources...although it may also be

[2017-02-13 19:52] Hilbekale opened #1111 "TV Show automatically marked as available after requesting (but it is not available)"
#### Ombi Version:

V 2.1.1412

#### Update Branch:

Early Access Preview

#### Operating System:

Windows 10 (Ombi shows: Windows 8/Windows Server 2012)

#### Mono Version (only if your not on windows)

-----

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I have setup a plex medi server with a tv show. It is season one (with all episodes) of

[2017-02-13 20:12] Hilbekale opened #1112 "E-Mail Notification Recently Added Newsletter contains empty spaces"
####  Ombi Version:

V 2.1.1412

#### Update Branch:

Early Access Preview

#### Operating System:

Windows 10 (Ombi shows: Windows 8/Windows Server 2012)

#### Mono Version (only if your not on windows)

[code]

####  Problem Description:

There are a lot of blank spaces in the E-Mail. See Screenshots and raw e-Mail

![empty_spaces](https://cloud.githubusercontent.com/assets/25719407/22900859/228

[2017-02-13 20:20] tylersheridan opened #1113 "Unable to remove advanced search from Plex settings"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

MACOS

#### Mono Version (only if your not on windows)

4.2.1

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Unable to remove advanced search from plex settings.

#### Reproduction Steps:

Browsing back to the page shows that the box is still checked even aft

[2017-02-13 22:09] Hilbekale commented on #1112
[code]

[2017-02-13 22:52] SuperPotatoMen commented on #1113
That is correct. It is always on beceause the system dependent on it.
@tidusjar forgot to remove te option in the admin panel.

[2017-02-13 22:52] #1113 closed

[2017-02-13 23:23] tylersheridan commented on #1113
Gotcha - ok, I was looking to disable it to troubleshoot an issue where
OMBI crashes after about 10 hours. I have a large library...

On Mon, Feb 13, 2017 at 2:52 PM, SuperPotatoMen <notifications@github.com>
wrote:

--
Tyler Sheridan
949-385-0205

[2017-02-13 23:25] SuperPotatoMen commented on #1113
@tylersheridan maybe you can helping us out with some logs. see issue: https://github.com/tidusjar/Ombi/issues/823

[2017-02-13 23:40] SuperPotatoMen commented on #1112
I edit your issue report a little beceause your removed all of the format ;)

[2017-02-13 23:49] SuperPotatoMen opened #1114 "Need a Approve mail send even with enabled Auto Approve TV Show Requests"
#### Ombi Version:

V 	2.1.1412

#### Update Branch:

Early Access Preview

#### Operating System:

(Place text here)

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

End user has Auto Approve TV Show Requests but the admin still receive a email to approve the request

#### Rep

[2017-02-14 02:01] SgtBatten opened #1115 "Requested TV shows do not display for admin even if requested by admin. Movies work though."
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Operating System:

Windows 10 however ombi reports as windows 8

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]
#### Problem Description:

Tv shows not showing up once requested but admin or other user.
When logged in as admin and viewing the requests page movies behave as expected but tv shows are not displa

[2017-02-14 07:38] SuperPotatoMen commented on #1115
Your config a path that doesn't exists.
Error messages: Invalid Path

[2017-02-14 07:38] #1115 closed

[2017-02-14 07:56] SgtBatten commented on #1115
Would you be able to explain that a little better please. I don't really know which config you mean

[2017-02-14 08:02] SuperPotatoMen commented on #1115
In your setting page there is a setting called "Default Root Folders". You need to set a valid path where you like to store your tv shows. Otherway Sonarr doesn't know where to store it and gives a error back: Error messages: Invalid Path

[2017-02-14 08:07] tidusjar commented on #1114
Really? When did this start happening?

[2017-02-14 08:08] tidusjar commented on #1112
TODO when exception is thrown inside generating the HTML, need to clean up.

[2017-02-14 08:13] SuperPotatoMen commented on #1114
Yesterday, after i update to  V2.1.1412

[2017-02-14 08:16] tidusjar commented on #1114
Do they have the administrator role? As if the user is an admin then no notification is sent

[2017-02-14 08:16] SgtBatten commented on #1115
Thanks for clarifying. I believe the path is valid already though.

D:\Plex\TV\

All my content downloads to a different location but during post processing gets moved to the above location.

[2017-02-14 08:19] SuperPotatoMen commented on #1115
The reported error doesn't come from Ombi but from Sonarr.
i suggest to open a support topic on the sonarr forum.

[2017-02-14 08:24] SgtBatten commented on #1115
Okay I will do that thanks.

Can you confirm that the requested TVs shows not appearing as a requested item for the admin is caused by sonarr?

I definitely had all this working a few months ago when I set it up and just have not used it until now.

[2017-02-14 08:24] tidusjar commented on #1115
@SgtBatten It's the path that is local to the Sonarr server for example:

![image](https://cloud.githubusercontent.com/assets/6642220/22920855/03ca1b70-f28f-11e6-9c58-2c3b27c80d14.png)

[2017-02-14 08:33] 3lysium opened #1116 "Newsletter: This email is only available on devices that support HTML."
#### Ombi Version:

Tested with 2.1.1401 til 2.1.1412

#### Update Branch:

Early Access Preview/development (switched to check a behaviour change)

#### Operating System:

Win7 Enterprise

#### Mono Version (only if your not on windows)

---

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

For me, every mail is working except newsletter. When

[2017-02-14 08:52] SgtBatten commented on #1115
Thank you both very much.

I went into sonarr and manually added a new series to see what the default root folder is.

It is the same as in ombi D:\Plex\TV\

I then went to series manager and selected all series and changed their root to the above. Even though they all were in that location already.

Now ombi is working as expected.

Strange but thankfully you guys had the answer. Cheers.

[2017-02-14 09:10] rafuz opened #1117 "Empy newsletter after PlexMediaServer update"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable
#### Operating System:

Ubuntu Server 16.10

#### Mono Version (only if your not on windows)

Stable 4.2.3.4/832de4b

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]
#### Problem Description:

Newsletter is empty after plex update to version 1.4.1.3362-77c6a4f80_amd64
No errors in logs

#### Reproduction Steps:

Sen

[2017-02-14 10:05] SuperPotatoMen commented on #1114
@tidusjar No, i have only to admin's, myself (plex acocount) and the local admin account.

[2017-02-14 11:32] SuperPotatoMen commented on #1117
Do you have logs before sending the newsletter?

[2017-02-14 11:35] SuperPotatoMen commented on #1115
:)

[2017-02-14 11:36] SuperPotatoMen commented on #1117
Can you trying again with trace logs on?

[2017-02-14 11:37] rafuz commented on #1117
These are all the logs from midnight to 7.30 am when the newsletter is posted.

I have done a test right now:

[code]

[2017-02-14 11:45] rafuz commented on #1117
[code]

[2017-02-14 17:06] kfulgham opened #1118 "Sonarr Path Invalid"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Operating System:

Windows 10

#### Mono Version (only if your not on windows)

N/A

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Sonarr Path Invalid --> No new TV shows can be added

#### Reproduction Steps:

Suddenly, whenever anyone requests a new series they receive this erro

[2017-02-14 17:44] SuperPotatoMen commented on #1118
Pleas save you settings again in the admin panel. press f5 and press get quality profile..
If that doesn't work. Herstart your ombi server and try it again.

[2017-02-14 17:47] SuperPotatoMen commented on #1118
Also on which version are you? V21.0 is not the whole version number ;)

[2017-02-14 20:05] MwC-Trexx opened #1119 "GUI typo's"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:
QNAP QTS 4.3.1

#### Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.7/08fd525 mercredi 23 novembre 2016

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:
1) When presented with OMBI user login, text description references **Plex.tv** login (should

[2017-02-14 20:57] SuperPotatoMen commented on #1119
Thanks for reporting.

1. Hmm, the problem is its plex.tv or emby beceause it relay on it.

2. thanks i will fix that.

3 is already fixed, see: https://github.com/tidusjar/Ombi/commit/2cbba6d7543629fdc9e1d655d9193fea664bcc4e

[2017-02-14 21:02] MwC-Trexx commented on #1119
1) I don't think that is what is causing it.

When you run the initial setup "wizard" on 1st launch, you are asked for your Plex.TV login to get a Plex authorization token, and then later in the wizard you create your OMBI "admin" user account.

When you subsequently connect to OMBI through the web gui, you are prompted for your OMBI user login ("admin" account), but the description for the login

[2017-02-14 21:07] tidusjar commented on #1119
In the early access branch it just states Username

[2017-02-14 23:15] SuperPotatoMen commented on #719
Hey guys, it is now possible to set a Default Admin Filter in the admin page in the  Customization Settings tab! Thanks for reporting the problem.

[2017-02-14 23:16] #719 closed

[2017-02-14 23:18] SuperPotatoMen commented on #697
@BuggeringHell does you have still this problem?

[2017-02-14 23:21] SuperPotatoMen commented on #372
Guys, we have new idea's for a new landing page. Can you look at this new idea and give some feedback on it? https://github.com/tidusjar/Ombi/issues/1106

[2017-02-14 23:22] SuperPotatoMen commented on #1102
Feature request linked to: http://feathub.com/tidusjar/Ombi/+37

[2017-02-14 23:43] PotatoQuality opened #1120 "Request Fault Queue V2.0"
In my opinion a requests user doesn't see any kind of errors when he made a requests.
Let the server admin handle the errors in the backend :)

- [x] Give the option to the admin to edit, delete and force sending again a requests in the system.
- [ ] When a request failed we show a new message in a blue item to the enduser: We added your request, a server admin will process it manually
- [ ] New s

[2017-02-14 23:43] chrisausbun commented on #1117
@tidusjar This same problem happened with myself before. I suspect that the API has changed with the latest update last night for Plex Pass subscribers. If you need me to send you the exe for the newest version, I'd be happy to. I can also confirm this is happening to me as well. I've listed my specs below. Thanks.

Ombi Version:
2.1.1416

Update Branch:
Development

OS:
Windows 10 Home x64

[2017-02-15 00:09] SuperPotatoMen opened #1121 "Request doesn't show up on requests page after recover"
#### Ombi Version:

V 2.1.1412

#### Update Branch:

Early Access Preview

#### Operating System:

(Place text here)

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

A request doesn't show up after a recover from the request fault queue on the requests page.

#### Reproduction

[2017-02-15 00:12] SuperPotatoMen commented on #1120
linked feathub: http://feathub.com/tidusjar/Ombi/+77

[2017-02-15 06:31] MarMed commented on #1118
I had the same problem on 2.1.1336, these steps fixed the issue.

[2017-02-15 10:30] flawlessdeadpixel commented on #604
I am having the same issue. Updated to mono 4.6.2 and ombi will still not run.

[2017-02-15 10:36] SuperPotatoMen commented on #604
@flawlessdeadpixel what is the error you got?

[2017-02-15 11:58] flawlessdeadpixel commented on #604
Arturos-Mac-Pro:~ Arturo$ sudo /Library/Frameworks/Mono.framework/Versions/4.6.2/bin/mono /Users/Arturo/Desktop/opt/Ombi/Ombi.exe
Starting Up! Please wait, this can usually take a few seconds.
Version: 2.1.1336
Location of the database: /Users/Arturo/Desktop/opt/Ombi/Ombi.sqlite
no configuration section <common/logging> found - suppressing logging output
System.Reflection.TargetInvocationException

[2017-02-15 12:01] SuperPotatoMen commented on #604
@flawlessdeadpixel Can you use the instert code taggs pleas? i can't read it now ;)

[2017-02-15 12:02] flawlessdeadpixel commented on #604
`Arturos-Mac-Pro:~ Arturo$ sudo /Library/Frameworks/Mono.framework/Versions/4.6.2/bin/mono /Users/Arturo/Desktop/opt/Ombi/Ombi.exe
Starting Up! Please wait, this can usually take a few seconds.
Version: 2.1.1336
Location of the database: /Users/Arturo/Desktop/opt/Ombi/Ombi.sqlite
no configuration section <common/logging> found - suppressing logging output
System.Reflection.TargetInvocationExceptio

[2017-02-15 12:04] flawlessdeadpixel commented on #604
In case you are wondering what version of Mono I have installed:

`Arturos-Mac-Pro:~ Arturo$ /Library/Frameworks/Mono.framework/Versions/4.6.2/bin/mono --version
Mono JIT compiler version 4.6.2 (mono-4.6.0-branch/ac9e222 Wed Dec 14 17:02:09 EST 2016)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           normal
	SIGSEGV:       altstack
	Notification

[2017-02-15 12:05] SuperPotatoMen commented on #604
@flawlessdeadpixel

that is not the same issue. Can you pleas open your own issue?

[2017-02-15 12:06] flawlessdeadpixel commented on #604
Absolutely. My mistake.

[2017-02-15 12:15] flawlessdeadpixel opened #1122 "Ombi will not launch on OS X El Capitan"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

OS X 10.11

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Ombi will not launch. Changing the port does not fix the issue.

[2017-02-15 18:07] LindsayCole commented on #1106
I love the idea. The only thing I would like to make sure is possible, is that we integrate the Plex Server status there, and allow multiple Plex Servers ;)

[2017-02-15 18:48] Mark7even commented on #604
I think they are highly related. Both are in relation to System.Net.Sockets.SocketException that is what I have narrowed it down to.

[2017-02-15 21:25] Kaallis opened #1123 "Radarr does not auto-search/download"
#### Ombi Version:

V 2.1.1412

#### Update Branch:

Early Access Preview

#### Operating System:

Windows 8/Windows Server 2012

#### Applicable Logs (from `/logs/` directory or the Admin page):

Pushbullet api returned a null value, the notification did not get pushed	Ombi.Services.Notification.PushbulletNotification	Error	2/15/2017 1:47:38 PM
Pushbullet api returned a null value, the notificati

[2017-02-15 22:24] SuperPotatoMen commented on #1123
@tidusjar can you look at this one?

[2017-02-15 22:57] spaceboy76 opened #1124 "Series Requestable Even When in Library and Episode Searching Off"
#### Ombi Version:

V 2.1.1412

#### Update Branch:

Early Access Preview

#### Operating System:

WIn 10

#### Problem Description:

If a series is in the emby library and episode level searching is off the series should show as available and the request button should say Available in red. Instead it shows as Request in green

#### Reproduction Steps:

disable episode level searching and search f

[2017-02-16 06:31] Runaway254 opened #1125 "The "Open in Plex" button omits the Machine Identifier"
#### Ombi Version
V 2.1.1336
#### Update Branch:
Stable
#### Operating System:
Windows 8/Windows Server 2012
#### Log Level:
Error
Add series to Ombi. Have series download. Search for series in the search bar, click the orange "View in Plex" button. It then links to a url like: https://app.plex.tv/web/app#!/server//details/%2Flibrary%2Fmetadata%... omitting the machine identifier that should appea

[2017-02-16 06:31] #1125 closed

[2017-02-16 06:37] Runaway254 opened #1126 "The "Open in Plex" button omits the Machine Identifier"
#### Ombi Version
V 2.1.1336
#### Update Branch:
Stable
#### Operating System:
Windows 8/Windows Server 2012
#### Log Level:
Error
To Reproduce: Add series to Ombi. Have series download. Search for series in the search bar, click the orange "View in Plex" button. It then links to a url like: https://app.plex.tv/web/app#!/server//details/%2Flibrary%2Fmetadata%... omitting the machine identifier tha

[2017-02-16 06:37] #1126 closed

[2017-02-16 06:42] Runaway254 opened #1127 "The "Report a bug" button Under About Does Not Follow Template, windows cannot be exited"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Windows 10

#### Mono Version (only if your not on windows)

N/A

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Clicking the "Report a bug" button on /admin/about causes two problems. First, the popup that appears cannot be closed/backed out of, only complete

[2017-02-16 06:47] Runaway254 opened #1128 "The "Open in Plex" button link omits the Machine Identifier"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Windows 10

#### Mono Version (only if your not on windows)

N/A

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

The "View in Plex" button on apps omits the machine identifier. It currently links to https://app.plex.tv/web/app#!/server//details/%2Flibrary%2Fme

[2017-02-16 08:05] tidusjar commented on #1124
But the user can request other seasons...

[2017-02-16 08:05] #1119 closed

[2017-02-16 09:23] SuperPotatoMen commented on #1124
THis is excly not a but by design. If you don't disable request episode searching it will be possible to request other seasons or episodes.

You can disable that option under the Ombi Configuration page in your admin panel.
![image](https://cloud.githubusercontent.com/assets/2944704/23015102/e7b5d4ac-f431-11e6-8e46-3a3ba41b37db.png)

[2017-02-16 09:58] spaceboy76 commented on #1124
well all of that was disabled from the start and users were still able to request the whole series, even if it were in the library or outstanding in sonarr

but i see that over the last couple of days this has changed slightly, if i now request these series i get an error message telling me its already in emby. the only slight "bug" i see now is the the user can still click the request button even

[2017-02-16 10:36] Comfubar opened #1129 "Plex and Ombi not Connecting to each other"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Operating System:
Windows 10

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Plex is not Connecting to Ombi or Vice Versa
#### Reproduction Steps:

I have Ombi and Plex server on same system

Plex server ip/ hostname has been set to its actual ip and localhost/127.0.0.1 and the por

[2017-02-16 11:50] tidusjar commented on #1129
So the error is : The hostname could not be parsed

What is your hostname?

On Thu, Feb 16, 2017 at 10:36 AM Ombi Support <notifications@github.com>
wrote:

[2017-02-16 15:12] Auwen opened #1130 "Movies should always be referenced with release year"
In both the Pushbullet/email notifications and Issues page, whenever a movie is referenced it does not show the year along with. This can cause some ambiguity.

Example:  User reports "playback issue" for the movie Tarzan. But I have two, (1999) and (2013), and need to check both movies to resolve the issue.

[2017-02-16 15:12] #1130 closed

[2017-02-16 16:22] kfulgham commented on #1118
Pleas save you settings again in the admin panel. press f5 and press get quality profile..

This did nothing.

Restarting worked, and then 15 minutes later it is broken again.

[2017-02-16 16:58] SuperPotatoMen commented on #1118
Can you upgrade to the lasted eap branch?

[2017-02-16 17:01] SuperPotatoMen commented on #1127
Are you sure you didn't delete anything because the correct format is using it when you use the report bug button?

[2017-02-16 17:02] kfulgham commented on #1118
Not via the beta Automatic Update feature. I'm away from home, so I'll try to update tonight.

Note the Automatic Update feature works for a bit, then brings me back to the login screen with the update alert still there.

[2017-02-16 17:03] SuperPotatoMen commented on #1118
The automatically updater is broken at the moment :( you need to do it manualy.  I hope it helps. Let me know!

[2017-02-16 18:47] delphiactual commented on #1129
@comfubar leave base_url blank

[2017-02-16 20:59] jaketame commented on #1118
May be related but I can't add Sonarr into Ombi "Something went wrong" all details are correct

Exception when calling GetRootFolders for Sonarr, Retrying

Running latest EAP

[2017-02-16 22:56] m1lkman opened #1131 "Ombi.exe Crashes on startup - Fresh install on Windows Server 2016"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Operating System:

Windows Server 2016 Standard

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Ombi.exe crashes on startup. Fresh install. Did unblock zip file. Executed as Admin. Still crashes.

#### Reproduction

[2017-02-16 23:11] simonk83 commented on #1093
I'm new to Ombi so still getting to grips with it, but I'm seeing this as well.  I deleted an episode of a show from disk and refreshed Sonarr and Emby.  Both show that episode as missing.

When I go to request that show in Ombi and choose episodes, every episode is marked with a checkbox, including the missing one, and I can't uncheck anything.   I'm trying to force all the Emby caching to run in

[2017-02-16 23:30] barbidule opened #1132 "SMTP configuration doesn't stick"
#### Ombi Version:

2.1.1336

#### Update Branch:

Stable

#### Operating System:

Windows server 2016

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I successfully configure SMTP with authentication, and receive the test message. If I leave the page and come back, the test n

[2017-02-17 01:08] Comfubar commented on #1129
I am leaving Base Url Blank now same issue

[2017-02-17 01:09] Comfubar commented on #1129
@tidusjar  My hostname / IP i was setting as my local ip of my plex server which is 192.168.1.204 or even 192.168.1.251 doesnt work as well

[2017-02-17 01:11] Comfubar commented on #1129
@tidusjar  @delphiactual Actually it shows its connecting now but i am testing it while away from home and will test again once home

[2017-02-17 02:17] mow4cash commented on #994
Ombi Version:

v 2.1.1336
Update Branch:

	Stable

Operating System:

FreeBsd

Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.7/08fd525 Tue Jan 17 01:47:51 UTC 2017)

Applicable Logs (from /logs/ directory or the Admin page):
[code]

[2017-02-17 02:31] mow4cash commented on #1118
Ombi Version:

        v 2.1.1336
Update Branch:

	Stable

Operating System:

       FreeBsd

Mono Version (only if your not on windows)

       4.6.2 (Stable 4.6.2.7/08fd525 Tue Jan 17 01:47:51 UTC 2017)

Problem Description:

       Sonarr Path Invalid --> No new TV shows can be added

Applicable Logs (from /logs/ directory or the Admin page):

` System.Runtime.Serialization.SerializationExcepti

[2017-02-17 02:44] simonk83 opened #1133 "Incomplete TV Shows from Suggestions fail to add"
#### Ombi Version:

V 	2.1.1412

#### Update Branch:

Early Access Preview

#### Operating System:

Mono (via Docker on a Synology)

#### Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

If you choose one of the suggested lists (Most Anticipa

[2017-02-17 02:56] simonk83 opened #1134 "Typo in notification, and suggestion for updated notification"
#### Ombi Version:

V 2.1.1412

#### Update Branch:

Early Access Preview

#### Operating System:

Mono (via Docker on a Synology)

#### Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

#### Reproduction Steps:

I just tried to request a movi

[2017-02-17 02:59] simonk83 commented on #1106
Why not add newsletter type information to the landing screen?   "These are the series that were added since you last logged in".  "These are the movies that have been released since you last logged in".  "These are the requests from everyone else since you last logged in" etc etc.

[2017-02-17 04:55] simonk83 opened #1135 "Logout button doesn't work for users other than Admin"
#### Ombi Version:

V 2.1.1412

#### Update Branch:

Early Access Preview

#### Operating System:

Mono (via Docker on a Synology)

#### Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Problem Description:

Logout button doesn't work for users other than Admin

#### Reproduction Steps:

Login as admin, click logout, takes you back to th

[2017-02-17 07:04] SuperPotatoMen commented on #1131
You did not unblock the zip file. Some files are still blocked. Pleas do a reinstall

[2017-02-17 07:04] #1131 closed

[2017-02-17 08:14] SuperPotatoMen commented on #1093
@simonk83
You don't have the same problem. See : https://github.com/tidusjar/Ombi/issues/1102

[2017-02-17 08:23] SuperPotatoMen commented on #1134
This excly a bug beceause Ombi need to show a error that it already requested. i taget this one for bug

[2017-02-17 08:25] SuperPotatoMen commented on #1132
Did you use the save button insteady only use the test admin button?
Beceause otherways we won't save your settings.

[2017-02-17 08:26] barbidule commented on #1132
I used the submit button.

Le 17 févr. 2017 09:25, "SuperPotatoMen" <notifications@github.com> a
écrit :

[2017-02-17 08:28] SuperPotatoMen commented on #1132
Can you do a re-installation?
You are the first one that report this issue, i fhink it is a local issue.

[2017-02-17 11:06] gilbN commented on #1117
I am also experiencing this.

Ombi Version: 2.1.0

Update brach: Stable

OS: Windows 10 Pro x64

Plex: 1.4.1.3362 on Plex Pass

[2017-02-17 14:29] barbidule commented on #1132
Just did a reinstall : same thing.
I can set up the SMTP successfully and receive the test message :
[image: Inline images 1]

But the normal notifications fail :
[image: Inline images 3]

Same thing happens with Pushbullet.

NB : testing SMTP always return a success, even when the configuration is
incorrect and the test is a failure.

On 17 February 2017 at 09:28, SuperPotatoMen <notifications@gi

[2017-02-17 14:33] SuperPotatoMen commented on #1132
Can you provide the admin login of your Ombi on github?

[2017-02-17 14:41] barbidule commented on #1132
I can PM it to you

On 17 February 2017 at 15:33, SuperPotatoMen <notifications@github.com>
wrote:

[2017-02-17 14:52] SuperPotatoMen commented on #1132
Thanks, can you use gitter for it? :)

[2017-02-17 15:10] barbidule commented on #1132
On it right now

On 17 February 2017 at 15:52, SuperPotatoMen <notifications@github.com>
wrote:

[2017-02-17 15:45] giacomofabbri opened #1136 "Ombi keep crashing almost every 5 minutes"
Hi guys! I'm not sure what to say, but anyway I have installed the latest version of Mono and also Ombi and it keeps crashing every 5 minutes or so! There is also another problem, I'd like for my user to just put their username and even if I choose to not ask for password obviously it keep asking!!
There is also another little problem, I setup my plex to be accessible using plex.mydomain.com but o

[2017-02-17 15:45] #1136 closed

[2017-02-17 15:46] thatoneguy99 commented on #435
Please forgive my noobness. I have Ombi installed but the wizard asks me for my Plex credentials. I don't use Plex I use Emby. I read somewhere that the new EAP version asks if you're using Plex or Emby during the startup wizard. How do I install the EAP version over the release (master) version? Is there a GIT address someone can spoon feed me?
 I used GIT clone on the EAP repo but there is no Om

[2017-02-17 15:51] llonca13 commented on #435
+1
im using linuxserver docker and am wondering the same thing.

no emby only plex :(

[2017-02-17 16:02] SuperPotatoMen commented on #435
@thatoneguy99 You need the EAP branch for using emby.

There is a nice download button on the github page, you can't mis it ;)

![image](https://cloud.githubusercontent.com/assets/2944704/23072667/d8a0838e-f532-11e6-96f8-f3256953eb81.png)

[2017-02-17 16:05] SuperPotatoMen commented on #435
@llonca13

We don't give support for  linuxserver docker. Pleas ask it on the docker forum.

[2017-02-17 16:19] thatoneguy99 commented on #435
Apparently I can miss it. Thank you!

[2017-02-17 16:44] morpheus65535 commented on #435
@thatoneguy99 If you're running the docker version, you have to use an environment variable on your container: EAP=1

[2017-02-17 20:13] SuperPotatoMen commented on #1136
Pleas don't delete the issue format we can't help you without it ;).

your second question isn't supported by emby. we don't support custom urls yet. there is a topic on feathub that support it. you can vote it up if you like.

[2017-02-17 21:41] #1129 closed

[2017-02-17 21:47] c4ddy opened #1137 "ombi crashing regularly"
#### Ombi Version:

V 	2.1.1336

#### Update Branch:

Stable

#### Operating System:

Ubuntu 14.04

#### Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Ombi crashing/shutting down every seems like hour or so

#### Reproduction Steps:

I don

[2017-02-17 21:48] SuperPotatoMen commented on #1109
@CBers do you have some more logs for us already for debugging the problem?

[2017-02-17 21:56] tidusjar commented on #1135
I cannot reproduce this issue.

Are you using a base url for ombi (reverse proxy)?

[2017-02-17 21:56] tidusjar commented on #1137
Logging level?

[2017-02-17 21:58] tidusjar commented on #1132
The authentication failed:
Error: authentication failed:

If you are using GMail you need to enable unsecure apps.
If you are using 2 factor auth then the password is the auth key that you need to generate

[2017-02-17 21:59] c4ddy commented on #1137
I just increased it to debug cause i wasnt getting anything else.

[2017-02-17 22:04] barbidule commented on #1132
No, I'm using a single factor authentication SMTP server, and I receive
successfully the test emails. I just don't receive the actual notifications.

On 17 February 2017 at 22:58, Jamie <notifications@github.com> wrote:

[2017-02-17 22:11] #1133 closed

[2017-02-17 22:40] tidusjar commented on #1116
In the EAP branch there is additional logging.

Can you please set your logging to DEBUG and then try and send a test and post the results back here?

[2017-02-17 22:43] tidusjar commented on #1137
Episode searching for Plex enabled?

[2017-02-17 22:43] tidusjar commented on #1109
In the EAP/Dev branch there is additional logging.

Can you please set your logging to DEBUG and then try and send a test and post the results back here?

[2017-02-17 22:44] c4ddy commented on #1137
no i do not have it enabled.

[2017-02-17 22:45] c4ddy commented on #1137
i have advanced search on but episode searching off

[2017-02-17 23:47] #1065 closed

[2017-02-18 00:01] kingwoftam opened #1139 "Ombi Crashing Regularly"
#### Ombi Version:
V2.1.1336

#### Update Branch:
Stable

#### Operating System:
QNAP 4.2.3

#### Mono Version (only if your not on windows)
Mono 4.4.2.11

#### Applicable Logs (from `/logs/` directory or the Admin page):
Log level set to Error. Lots of errors like the two below

[code]

#### Problem Description:

Ombi crashing/shutting down every seems like hour or so

#### Reproduction Steps:

I

[2017-02-18 00:03] tidusjar commented on #1123
I don't see how this is not working.

Can you please upgrade your EAP branch?

[2017-02-18 00:04] tidusjar commented on #1139
Log level and is Episode Searching in Plex enabled?

[2017-02-18 00:06] kingwoftam commented on #1139
Log Level is Error. Episode Searching is enabled currently along with Advanced Search.

[2017-02-18 00:07] tidusjar commented on #1139
Disable episode searching. It causes issues with large libraries.

On Sat, 18 Feb 2017 at 00:06 kingwoftam <notifications@github.com> wrote:

[2017-02-18 00:11] kingwoftam commented on #1139
Ok, will do that and monitor for the next wee while

[2017-02-18 00:17] kingwoftam opened #1142 "Requests are not viewable"
#### Ombi Version:
V2.1.1336

#### Update Branch:
Stable

#### Operating System:
QNAP 4.2.3

#### Mono Version (only if your not on windows)
Mono 4.4.2.11

#### Applicable Logs (from `/logs/` directory or the Admin page):
Log level set to Error. Cleared logs and reproduced issue but no logs present for this activity.

[code]

#### Problem Description:
On the Requests page, under both Movies and TV

[2017-02-18 00:19] tidusjar opened #1143 "test"
#### Ombi Version:

V 1.XX.XX

#### Update Branch:

Stable/Early Access Preview/development

#### Operating System:

(Place text here)

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

(Place text here)

#### Reproduction Steps:

Please include any steps to reproduce the issue,

[2017-02-18 00:19] #1143 closed

[2017-02-18 00:27] tidusjar commented on #1142
Are there any errors in your browser console? F12.

If so can you press the network tab and then refresh the page and you should see something like
![image](https://cloud.githubusercontent.com/assets/6642220/23088047/eac44abc-f570-11e6-9f23-d2eb022ed059.png)

If you click the red text and then the preview tab like the image above and post the result?

[2017-02-18 00:34] kingwoftam commented on #1142
{statusCode: 500, message: "Something went horribly, horribly wrong while servicing your request.",…}
details
:
"Nancy.RequestExecutionException: Oh noes! ---> System.NullReferenceException: Object reference not set to an instance of an object↵  at Ombi.Helpers.DateTimeHelper.OffsetUTCDateTime (DateTime utcDateTime, Int32 minuteOffset) <0x408015d0 + 0x00030> in <filename unknown>:0 ↵  at Ombi.UI.M

[2017-02-18 00:47] Kaallis commented on #1123
Updated the EAP, not i'm testing connectivity for Radarr and it says 'Root Path' should not be empty.
I have tried to click on Get Root Folders and try again but it gives me the same error.
Root Path is: \\kaallis-pc\X\Videos\Movies

[2017-02-18 05:57] mattenz opened #1144 "SMTP Authentication not working with an Exchange mail server"
#### Ombi Version:

V 2.1.1427
#### Update Branch:

Early Access Preview

#### Operating System:

Windows Server 2016

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I'm using an Exchange 2016 server as my SMTP server for Ombi to use.  Exchange is setup so that it requires authentication for SMTP relay.  I have an account created for Ombi to u

[2017-02-18 06:00] Comfubar commented on #1129
Thank you for closing @tidusjar i was just about to do that myself issue was resolved somehow but restarting everything seemed to work

[2017-02-18 06:15] #1144 closed

[2017-02-18 06:15] mattenz commented on #1144
Had a brain wave, right after posting this of course.  I hadn't scoped out my other unauthenticated receive connector in Exchange properly and it was listening on all IPs, so Ombi was hitting that receiver rather than the authenticated one.

[2017-02-18 06:42] 3lysium commented on #1116
`2017/02/18 07:36:47.540 Ombi.Services.Jobs.EmbyContentCacher Error: Provider Id on movie Andreas Gabalier - Home Sweet Home (Live aus der Olympiahalle München) is null
2017/02/18 07:36:49.186 Ombi.Services.Jobs.EmbyContentCacher Error: Provider Id on movie Aladdin - Abenteuer in der Wüste (1961) is null
2017/02/18 07:36:53.894 Ombi.Services.Jobs.EmbyContentCacher Error: Provider Id on movie Die M

[2017-02-18 11:03] SuperPotatoMen commented on #1052
@shadowswan do you have already more information for us?

[2017-02-18 12:30] PotatoQuality opened #1145 "Support to config and send monitoring state to Radarr"
See: https://github.com/Radarr/Radarr/issues/740

Radarr is changing his api to support different monitoring states. It will be nice if we can send from Ombi to radarr a monitoring state that the admin can config in the admin panel of ombi.

- Unmonitored (same as now)
- Monitored (same as now)
- Monitored after cinemas release (For grabbing cams, ts, etc.)
- Monitored after bluray / web release (

[2017-02-18 13:48] SuperPotatoMen commented on #1116
Jamie is working on a fix to solve this problem

[2017-02-18 13:53] tidusjar commented on #1123
Can you go into the Radarr settings and reconfigure it please.

On Sat, 18 Feb 2017, 12:47 am Kaallis, <notifications@github.com> wrote:

[2017-02-18 13:54] tidusjar commented on #1142
Can you please upgrade mono

On Sat, 18 Feb 2017, 12:34 am kingwoftam, <notifications@github.com> wrote:

[2017-02-18 15:00] bartolomesoriano opened #1146 "How to provide access outside local network?"
#### Ombi Version:

V 1.XX.XX

#### Update Branch:

Stable/Early Access Preview/development

#### Operating System:

(Place text here)

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I am totally new to this and want to use under Windows for my 50+ Plex users, outside of my lo

[2017-02-18 18:27] halali commented on #1123
I have probably same issue

it start last update EAP

when i want request movie it write me 'Could not add movie, please contract your administrator'

and in admin settings raddar is everything set up correctly and test button write error "'Root Path' should not be empty"

[2017-02-18 18:47] tidusjar commented on #1123
Press the get root paths button?

On Sat, 18 Feb 2017, 6:27 pm halali, <notifications@github.com> wrote:

[2017-02-18 18:51] halali commented on #1123
root patch button works

i have setted it up correctly

[2017-02-18 18:57] SuperPotatoMen commented on #1146
I can help you. I will give you instructions tomorrow okay?

[2017-02-18 19:00] bartolomesoriano commented on #1146
That would be great, thank you @SuperPotatoMen !

[2017-02-18 19:35] jodfie commented on #1123
i have the same problem on OSX..only after i just now updated to newest EAP
http://prntscr.com/eafdgp

[2017-02-18 21:23] simonk83 commented on #1135
I do use a reverse proxy yep
On Sat, 18 Feb 2017 at 8:56 am, Jamie <notifications@github.com> wrote:

[2017-02-18 21:47] kingwoftam commented on #1142
Upgrade of Mono to 4.6.2 did the trick - thanks

[2017-02-18 21:47] #1142 closed

[2017-02-18 21:48] kingwoftam commented on #1139
No crashes since disabling episode searching. Do you have an open issue for the fact that frequent crashes occur with Episode Searching on with large libraries?

[2017-02-18 22:13] tidusjar commented on #1139
No not really, it's something I am aware of, not sure how to fix it as it's due to x requests to the Plex API hogging all of the available threads.

[2017-02-18 22:13] #1139 closed

[2017-02-18 22:16] tidusjar commented on #1123
Update EAP, fixed that. Apologies.

[2017-02-18 22:16] #1123 closed

[2017-02-19 00:36] okiwoki commented on #817
I'm experiencing this problem as well. After a user selects a specific episode, Sabnzbd will go out and fetch it and Sonarr will rename and move the file then update Plex, but the request in Ombi never changes and "Available" still shows an "X".

[2017-02-19 02:01] okiwoki opened #1148 "Request status stuck on "Processing Request" after successful download and addition of specific episodes"
#### Ombi Version:

V 2.1.1428

#### Update Branch:

Development

#### Operating System:

unRAID 6.3.2, using Docker container

#### Problem Description:

Selecting a specific episode to download will successfully download and add the episode to Plex, however, the status of the request never changes and is stuck on "Processing Request", even when the episode is clearly available.

This was tried o

[2017-02-19 04:35] squirrellydw commented on #1146
I would like to know this also

[2017-02-19 08:50] halali opened #1149 "Cant request movie from Radarr and request from sonarr using Raddar patch"
#### Ombi Version:

V 2.1.1430

#### Update Branch:

Early Access Preview

#### Operating System:

Windows Server 2012 R2

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

Ombi.Core.MovieSender Error: Invalid Path

#### Problem Description:

When i try to request any Movie it say me "Could not add movie, please c

[2017-02-19 09:14] gilbN commented on #1146
The ombi port was blocked by my windows firewall, so I had to make an exception for it. After that you will have to open the port in your router. Now you should be able to access ombi when you enter your IP:port

You can also buy a domain. I got mine on www.get.tech using a coupon code from https://level1techs.com/support

[2017-02-19 15:18] badincite commented on #1100
Yeah I had user inform me of this last night so I tired it on another iphone and it did the same thing. Once I enter a username it just redirects me back to the landing page.

[2017-02-19 19:54] CBers commented on #1109
No errors being generated when clicking on Send Email to Admin.

[2017-02-19 20:57] henrikrox opened #1150 "Movies on Plex not showing up on Ombi - Foreign titles/mismatch year"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Operating System:

Windows 10

#### Problem Description:

Okay so i have to examples to reproduce these steps.

The movie headhunters also called hodejegerne (localized title). Doesnt snow in library on ombi. I changed the movie title in Plex to headhunters so that it matches Ombi, but how do i force and update of the plex database

[2017-02-19 21:45] tidusjar commented on #1109
No logging at all? 😕

[2017-02-19 21:46] tidusjar commented on #1149
go into your radarr settings and reapply.

[2017-02-19 21:48] CBers commented on #1109
No, nothing.

Only real problem now is the "This email is only available on devices that support HTML." issue mentioned elsewhere.

Close this for now if you wish 😀

[2017-02-19 21:59] CBers commented on #1109
Actually, it took a while to show in the logs, perhaps I didn't leave the task long enough to complete.

This is what is in the logs at TRACE level, after running the task manually.

Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: O. Path '', line 0, position 0. at Newtonsoft.Json.JsonTextReader.ParseValue() at Newtonsoft.Json.JsonTextReader.Read() at New

[2017-02-19 22:06] CBers commented on #1109
This is from the Emby server log at the same time as the above errors:

2017-02-19 21:53:34.1813 Info HttpServer: HTTP GET http://192.168.1.140:8096/emby/users/f7fa0486ef474424b511875eb3326297/items/2849f6248d3d387a2bafca754857f010. UserAgent: RestSharp/105.2.3.0
2017-02-19 21:53:34.1893 Error HttpServer: Error processing request
	*** Error Report ***
	Version: 3.2.1.110
	Command line: C:\Users\Me

[2017-02-19 22:07] CBers commented on #1109
I run beta version of Emby server if that makes any difference.

You might be running stable?

[2017-02-19 23:57] AgileHumor opened #1151 "Slot Types Should be Migrated to Amazon Standard"
From Emby Forum Post:
https://emby.media/community/index.php?/topic/44330-lets-talk-amazon-echo-and-emby-what-we-would-actually-need-to-do/page-6#entry421004

`Try to avoid using custom slots and use Amazon's built in types 
 
For movie names, use type "AMAZON.Movie". 
 
You only need one intent "playMovie" with a slot for title (type = AMAZON.Movie) There is even a slot type for tv episode titles

[2017-02-19 23:57] #1151 closed

[2017-02-20 04:50] VanCityGuy opened #1152 "Trying to request movie via Radarr -- Could not add movie, please contract your administrator"
#### Ombi Version:

V 2.1.1430

#### Update Branch:

Early Access Preview

#### Operating System:

Mac OSX

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

Similar logs in Radarr:

[code]

#### Problem Description:

When trying to add a movie via Radarr in Ombi I get the error: Could not add movie, please contract y

[2017-02-20 06:25] halali commented on #1149
Don't help.

[2017-02-20 07:04] tidusjar commented on #1149
Well Radarr is telling me that your root path is not set up correctly.
Please post a screenshot of your settings

On Mon, 20 Feb 2017, 6:25 am halali, <notifications@github.com> wrote:

[2017-02-20 08:05] tidusjar commented on #1152
Go into Radarr and re configure your settings, this is because of the new Root path functionality I added.

[2017-02-20 08:06] tidusjar commented on #1150
We match on the IMDBId. there is some old code there to fall back on matching titles, but that path never gets executed anymore.

[2017-02-20 08:07] tidusjar commented on #1148
Is episode searching in Plex/Emby enabled?

[2017-02-20 08:10] tidusjar commented on #1109
Same error as I was seeing.

Related issue: https://github.com/MediaBrowser/Emby/issues/2471

[2017-02-20 08:12] #1052 closed

[2017-02-20 09:06] gilbN opened #1154 "Requested TV show does not show on requests page."
#### Ombi Version 2.1.1336

OS: Windows 10

Branch:	Stable

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

Windows 10

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

The requested TV show does not appear in the request

[2017-02-20 09:13] gilbN commented on #1154
Here is a photo of what it looks like if I try to request it again. [http://imgur.com/a/ApoDZ](url)

[2017-02-20 09:24] SuperPotatoMen commented on #1154
On you requests page you need to use the filter function to see the pending approvals.

[2017-02-20 09:25] gilbN commented on #1154
Filter option is set to All

[2017-02-20 09:26] gilbN commented on #1154
And I have tried Not approved, but nothing shows up

[2017-02-20 09:27] SuperPotatoMen commented on #1154
Pleas follow the instructions over here from Jamie:

https://github.com/tidusjar/Ombi/issues/1142

[2017-02-20 09:42] VanCityGuy commented on #1152
What settings in Radarr do I need to re-configure? Do I have to wipe my config and redo it all? Do I just need to regenerate the API key?

I've tried just changing the host, saving, and changing it back, with Ombi disabled, but that didn't work.

[2017-02-20 09:43] halali commented on #1149
![ombi](https://cloud.githubusercontent.com/assets/17801420/23119674/7397c1ae-f759-11e6-9a47-549177971a89.png)

[2017-02-20 09:45] gilbN commented on #1154
So this was the error:

{statusCode: 500, message: "Something went horribly, horribly wrong while servicing your request.",…}
details
:
"Nancy.RequestExecutionException: Oh noes! ---> System.FormatException: Input string was not in a correct format.
↵   at System.Number.StringToNumber(String str, NumberStyles options, NumberBuffer& number, NumberFormatInfo info, Boolean parseDecimal)
↵   at System

[2017-02-20 09:59] SuperPotatoMen commented on #1152
No you need to wipe your settings in ombi for Radarr. Save it and reconfig it again.

[2017-02-20 10:01] SuperPotatoMen commented on #1154
You are now on the stable branch.
Can you upgrade to the Lasted AEP version? Jamie fixed some problems with the requested page?

[2017-02-20 10:10] gilbN commented on #1154
Thanks, will try when I get home from work.

[2017-02-20 10:12] VanCityGuy commented on #1152
Tried this a few times earlier today. I even went as far as completely uninstalling and reinstalling Omni and going though the setup wizard again, but it didn't fix it.

Should I try shutting down ombi, deleting my ombi.sqlite file, and firing it back up and starting again?

[2017-02-20 10:12] SuperPotatoMen commented on #1154
No problem! Let me know.

[2017-02-20 10:14] SuperPotatoMen commented on #1152
Yes, can you delete your ombi.sqlie file and start over again?

Groet,
Pieter-bas Ronner

2017-02-20 11:12 GMT+01:00 VanCityGuy <notifications@github.com>:

[2017-02-20 10:19] tidusjar commented on #1154
It's a mono issue. Please can you upgrade mono?

On Mon, 20 Feb 2017 at 10:12 SuperPotatoMen <notifications@github.com>
wrote:

[2017-02-20 10:22] gilbN commented on #1154
I don't use mono. I'm on Windows :)

[2017-02-20 10:25] VanCityGuy commented on #1152
Thanks didn't work. Still getting the same error. I do have a base URL set /movies in Radarr and and the Omni radarr settings, and it is also going through nginx, but I tried bypassing all of that earlier while troubleshooting and it didn't fix it.

[2017-02-20 12:25] thesatman opened #1155 "Newsletter not send"
#### Ombi Version
V 2.1.1336
#### Update Branch:
Stable
#### Operating System:
Windows 7/Windows Server 2008 R2
#### Log Level:
Error
Application Version:	2.1.1336
OS:	Windows 7/Windows Server 2008 R2
System Version:	4.0.30319.42000
Branch:	Stable
Log Level:	Error
Database Location:	C:\PlexOmbi\Ombi.sqlite
Running Directory:	C:\PlexOmbi

This is my very first post. Succesfully installed Ombi.I hav

[2017-02-20 12:38] thesatman opened #1156 "Newsletter not send"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

Version 1.3.4.3285

#### Operating System:

Windows 7/Windows Server 2008 R2

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Newsletter not send

#### Reproduction

[2017-02-20 12:50] #1156 closed

[2017-02-20 12:50] SuperPotatoMen commented on #1156
We will help you in the other one :)

[2017-02-20 12:51] SuperPotatoMen commented on #1155
Don't worry about the: Notice the line "C:\projects\requestplex\Ombi.Services\Jobs\RecentlyAdded.cs:line 399". I have no C:\projects folder ...

That path is a internal one

[2017-02-20 12:53] PotatoQuality opened #1157 "Ombi bot close reporting problems reported from Ombi itself"
When a ombi admin user report a problem with the "github report bug" button in the admin panel, the ombi robot will close it.
Can we change the text in ombi so the ombi bot don't close the issue?

[2017-02-20 13:04] barbidule commented on #1132
I tried to delete ombi.sqlite, I did the whole configuration again, same result :
the smtp test works fine
but I don't receive the actual notifications

[2017-02-20 13:47] okiwoki commented on #1148
I just turned it on, but doesn't that run every 12 hours (11 hours is the lowest possible setting)? So a user who requests an episode, won't be able to see an episode is available until 11+ hours later?

[2017-02-20 14:13] EYEVO commented on #261
+1   would be really nice to have !

[2017-02-20 14:15] okiwoki commented on #1148
Also, just manually invoked the availability checker as well as the episode cacher and the problem still remains. Available still shows an "X" even though the episode is available on Plex.

[2017-02-20 14:24] sam4ks opened #1158 "HTTPS/SLL Support"
#### Ombi Version:

V 1.XX.XX

#### Update Branch:

Stable/Early Access Preview/development

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

Windows 10

#### Mono Version (only if your not on windows)

N/A

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:
How would I put SSL certificate on my domain that I am using fo

[2017-02-20 14:50] SuperPotatoMen commented on #1158
We don't support SSL connection yet.

[2017-02-20 14:51] #1158 closed

[2017-02-20 17:21] gforce75 commented on #1100
Good to know.  I warn users not use Safari. Works on chrome fine even with
an iPhone.

On Sun, Feb 19, 2017 at 10:18 AM badincite <notifications@github.com> wrote:

[2017-02-20 18:15] henrikrox opened #1159 "Deleting movies from requests makes the movie stuck at requested"
#### Ombi Version:

	2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Operating System:

Windows 10

#### Problem Description:

So i added the ice age movies, it downloaded perfectly, but i removed them from requests, but i thought thats what you did, but then they didnt show up as in library in Ombi. And now it stuck on requested, and its says "processing request", i cant canc

[2017-02-20 18:16] henrikrox commented on #1159
Sorry for the bad english, but i really have OCD about moving showing as requested instead of available, and there is no way to remove them from requested, since i deleted them all from requested, but it still shows up as requested instead of available

[2017-02-20 18:20] henrikrox commented on #1159
Nvm, im stupid a restart fixed it

[2017-02-20 18:20] #1159 closed

[2017-02-20 18:21] henrikrox commented on #1150
Thanks for answering, im just manually adding the movies that has a mismatch so its a workaround :)

[2017-02-20 18:21] #1150 closed

[2017-02-20 18:38] VanCityGuy commented on #1152
Could we re-open this please?

[2017-02-20 19:02] Aireezz commented on #1146
@squirrellydw Reverse proxies are better and safer IMO than just port forwarding.

[2017-02-20 19:14] henrikrox opened #1160 "User notification emails not an option? How to enable"
#### Ombi Version:

	2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

Windows 8/Windows Server 2012

#### Problem Description:

Hi

I have 3 users, myself (admin), my gf, local user with email setup, and a plex friend also with email.

Both accounts have

Newsletter
Request Added Notification

setup, but when i go to notification a

[2017-02-20 19:17] VanCityGuy opened #1161 "Package contents no longer has Ombi.exe file?"
#### Ombi Version:

Trying to install latest

#### Update Branch:

Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

OSX

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

While troubleshooting the other issue I had I decided to completely wip

[2017-02-20 19:31] CBers commented on #1109
Jamie - might be worth posting on the Emby forums, if you don't get a response.

[2017-02-20 19:55] danilitland opened #1162 "Plex Availability Cacher wont run"
#### Ombi Version:

V 2.1.1430

#### Update Branch:

Tried Stable and Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

Version 1.4.1.3362

#### Operating System:

Unraid 6.3.1 Using Docker Container

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Hi
Seems that Plex Availability Cacher doesnt quite work. Tried looking

[2017-02-20 20:18] henrikrox commented on #1160
![capture](https://cloud.githubusercontent.com/assets/6884716/23140457/088c81d4-f7b2-11e6-83e5-9ed0f3220041.PNG)
![capture2](https://cloud.githubusercontent.com/assets/6884716/23140459/0b8274c0-f7b2-11e6-91be-7f654c6cdc32.PNG)

See pictures

[2017-02-20 20:48] gilbN commented on #1154
Upgrading to EAP fixed my issues. Requests are now appearing as normal. Thanks for the fast replies and help!

[2017-02-20 20:51] SuperPotatoMen commented on #1154
Cool

[2017-02-20 20:51] #1154 closed

[2017-02-20 20:53] bartolomesoriano commented on #1146
I don't know enough about those either.  Is there any guide anywhere for Windows? Does it make sense to go for one of those Dynamic DNS services? How can those be secured? Any help would be greatly appreciated.

[2017-02-20 20:54] SuperPotatoMen commented on #1162
Hi, can you put the trace log on and run the cacher manualy and post the error over here?

[2017-02-20 20:57] SuperPotatoMen commented on #1160
I'm not following your question here. There is no other check mark in the admin panel to enable to send notification over email. If you enable "Request added notification" and you config your smtp settings in the admin you are ready to go!

[2017-02-20 21:00] SuperPotatoMen commented on #1161
Hi there,

If you don't have the ombi.exe file you didn't download the correct files. Don't clone or download the github. You need to use the download buttons on the main page:

![image](https://cloud.githubusercontent.com/assets/2944704/23141618/f0bdb68a-f7b7-11e6-9995-99e92e9a5999.png)

[2017-02-20 21:25] dtk1989 opened #1163 "Newsletter test emails not working."
#### Ombi Version:

V 2.1.1430

#### Update Branch:

Stable/Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

1.4.1.3362

#### Operating System:

unRAID

#### Mono Version (only if your not on windows)

	4.2.1 (Debian 4.2.1.102+dfsg2-7ubuntu4)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I'm unable to send a test ne

[2017-02-20 21:31] henrikrox commented on #1160
Hm okay i must have seen a earlier build then, because then you had an option on email settings.

I started working with Ombi yesterday but its working 100%. But i think email is setup wrong.

I have used the same info in email sender and username and password, on email reciepent, i have used my main perssonal email email. I used the test feature, and the email listed in reciepent got the mail.

S

[2017-02-20 21:35] SuperPotatoMen commented on #1160
Yeah you are right. We delete the option early in a build. You can set up a local account and give it your email adress. Request something with that account. Go back to your admin account and go to requests page. Then hit the button: mark ad available. You will recieve a email for that.

[2017-02-20 21:39] henrikrox commented on #1160
Im not following, so is there not a way to send automaticly emails to all the people in the user lists. local users and other plex users?

I have manged to send myself emails, but not the above.

[2017-02-20 21:43] henrikrox opened #1164 "Updated to dev branch - Cant download movies with Radarr - Invalid Path Ombi.Core.MovieSender"
#### Ombi Version:

	2.1.1430

#### Update Branch:

Early Access Preview

#### Media Sever:

Plex

#### Operating System:

Windows 10

#### Applicable Logs (from `/logs/` directory or the Admin page):

Invalid Path	Ombi.Core.MovieSender	Error

#### Problem Description:

Ridded with bugs today :(

I updated from stable to dev, i havnt changed anything, Ombi says Radarr is connecting fine, then i tr

[2017-02-20 21:43] henrikrox commented on #1164
![1](https://cloud.githubusercontent.com/assets/6884716/23142798/0dc723b4-f7be-11e6-8fa5-12f894cb7b84.PNG)

[2017-02-20 21:45] SuperPotatoMen commented on #1164
See the knowing bug list for the solution ;)

[2017-02-20 21:47] danilitland commented on #1162
This is what I get:

System.NullReferenceException: Object reference not set to an instance of an object at Ombi.Services.Jobs.PlexAvailabilityChecker+<>c__DisplayClass44_0.b__0 (Ombi.Store.Models.Plex.PlexContent x) <0x405bef40 + 0x00044> in :0 at System.Linq.Enumerable.Any[TSource] (IEnumerable`1 source, System.Func`2 predicate) <0x41e9ebc0 + 0x00090> in :0 at Ombi.Services.Jobs.PlexAvailability

[2017-02-20 21:48] SuperPotatoMen commented on #1162
To be sure, can you force to get a new api key from your plex server?
Something re-authenticate will solve the problem.

[2017-02-20 21:48] henrikrox commented on #1152
I met this bug updating from stable to dev, and i have tried removing omni and installing a differnet version, but i keep getting this bug, and i dont know how to to fix it.

[2017-02-20 21:49] henrikrox commented on #1164
that solution didnt not work, still wont add movies/requests

[2017-02-20 21:50] SuperPotatoMen commented on #1164
Did you push the button get root folders and choose something? After that, you need to save your settings again and that will fix the issue. Can you do that for me and restart ombi server after that?

[2017-02-20 21:52] SuperPotatoMen commented on #1152
@VanCityGuy yeah i reopend it., i will ask Jamie to look at this, your not the first that did the reporting this in.

[2017-02-20 21:53] danilitland commented on #1162
Done and got this error from the log:

System.NullReferenceException: Object reference not set to an instance of an object at Ombi.Services.Jobs.PlexAvailabilityChecker+<>c__DisplayClass44_0.b__0 (Ombi.Store.Models.Plex.PlexContent x) <0x405bef40 + 0x00044> in :0 at System.Linq.Enumerable.Any[TSource] (IEnumerable`1 source, System.Func`2 predicate) <0x41e9ebc0 + 0x00090> in :0 at Ombi.Services.Job

[2017-02-20 21:55] SuperPotatoMen commented on #1162
I think the api is changed by plex. Jamie need to look at this one.

[2017-02-20 21:56] danilitland commented on #1162
Sweet, Ill keep you updated if anything happens.

[2017-02-20 21:57] SuperPotatoMen commented on #1162
Workaround is to downgrade you plex server back to 1.3.3 but i don't you like that do that :P

[2017-02-20 21:59] SuperPotatoMen commented on #1155
Can you upgrade to the lasted version of thhe eap branch? Jamie did a lot of fixes for the newsletter.

[2017-02-20 21:59] VanCityGuy commented on #1152
Awesome, thanks! Just did a fully fresh install, and still getting the same error. Thanks for all the support you guys provide, I love Ombi!

[2017-02-20 22:00] henrikrox commented on #1164
Thats what i have done, i even deleted all my settings and did a fresh install. Same thing.

I remove all traces of Radarr, restart Ombi, press get quality profiles and get root folders, choose the root folder thats the same in radarr. restart service, same issue.

I have many movie folders in radarr though, but im current downloading movies to H:\Movies\

settings havnt changed from stable, so so

[2017-02-20 22:00] danilitland commented on #1162
Would be impractical, I dont mind waiting for a update to fix this. I can still do it manually till its fixes. Love this project. Does everything I need and want. Keep up the good work folks.

[2017-02-20 22:00] VanCityGuy commented on #1161
Yup, I'm dumb, used that big blue button and got it re-installed.

Thanks! :)

[2017-02-20 22:00] #1161 closed

[2017-02-20 22:00] SuperPotatoMen commented on #1161
yeey ;)

[2017-02-20 22:02] SuperPotatoMen commented on #1162
We will give you a update if there is a progress for a fix :) Thanks for you report anyway.

[2017-02-20 22:08] tidusjar commented on #1152
Hey guys.

Can someone send me their database ? Tidusjar@gmail.com

Can you change your admin password and then send me the username and password. If I can reproduce this issue it will be a lot quicker to fix.

Thanks.

[2017-02-20 22:09] SuperPotatoMen commented on #1164
Yeah, i think we broke something. Main issue ticket is now: https://github.com/tidusjar/Ombi/issues/1152

[2017-02-20 22:09] #1164 closed

[2017-02-20 22:09] SuperPotatoMen commented on #1149
We broke something, Main issue is now: https://github.com/tidusjar/Ombi/issues/1152

[2017-02-20 22:09] #1149 closed

[2017-02-20 22:13] SuperPotatoMen commented on #1077
@elit3ge can you upgrade to the last eap versiokn? we did some changes around the newssletter

[2017-02-20 22:17] SuperPotatoMen commented on #1122
We have a problem with OSX at the moment. Main issue is now: https://github.com/tidusjar/Ombi/issues/604

[2017-02-20 22:17] #1122 closed

[2017-02-20 22:20] VanCityGuy commented on #1152
@tidusjar Sent my database to your email. The user name and password are included.

Thanks!

[2017-02-20 22:21] henrikrox commented on #1160
Nvm i understand now SuperPotatoMen, and it worked.

Ty! :)

[2017-02-20 22:21] #1160 closed

[2017-02-20 22:22] SuperPotatoMen commented on #1160
cool! Happy to help @henrikrox  👍

[2017-02-20 22:49] henrikrox commented on #1160
hi again @SuperPotatoMen

hope its okay i still ask here, i thought it worked, but i didnt, running into this error now.

i have disabled 2 stpe verificiation and enabled less secure apps, getting error message though

MailKit.Security.AuthenticationException: Authentication failed. at MailKit.Net.Smtp.SmtpClient.Authenticate(Encoding encoding, ICredentials credentials, CancellationToken cancellat

[2017-02-20 22:53] thesatman commented on #1155
Thx for the swift respons. The newsletter is better now in the header
(for what is concerned for the movies section). There are still
dividers/horizontal lines above the TV Episodes.

There are still movies in the list that I do not have in my library. So
I'm curious where Ombi gets the data to build the list?

A suggestion: I have some double postings in the list. This is because I
use multiple l

[2017-02-21 03:02] smcpeck commented on #1152
To potentially add some color here, I was seeing the same issue with logs showing `Invalid Path` on the Radarr side.  Using cURL, I was able to add the movie after a couple tries.

[code]

[2017-02-21 06:44] maddestructor commented on #1118
Hi everyone  (and @SuperPotatoMen)! I seem to be having the same problem (Invalid Path error + JSON return
{"result":false,"message":"You must specify a Quality Profile."} on every button of the Sonarr configuration page). I was running Stable v2.1.0 and just switched to EAP v2.1.1430. I am still able to reproduce it in the latter version. I also did the steps mentionned by SuperPotatoMen without

[2017-02-21 09:19] henrikrox opened #1165 "Old movies in Plex library shows as requested in Ombi"
#### Ombi Version:

	2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Operating System:

Windows 10

#### Problem Description:

So after rolling back to stable, deleting ombi directory on c:/

I have noticed alot of movies, that are showing up as requested instead of available. Also movies that i have never requested (but are in my plex library)

For example

A beautifuld Mind

[2017-02-21 09:20] henrikrox commented on #1165
Here can you see its not in any queue

![das](https://cloud.githubusercontent.com/assets/6884716/23158409/63c44290-f81f-11e6-922c-2185ede72bae.PNG)

[2017-02-21 11:03] SuperPotatoMen commented on #1165
It is called "requested" beceause the system didn't sync with your plex library yet.
Can you set your log level to debug and run the plex cacher and checker manually?

[2017-02-21 13:18] henrikrox commented on #1165
I managed to get it manually sinc. So the requested went away in Ombi for the movies in question. But it wasnt marked as available. Figured it out why though.

Out of 500 plex movies i have, 30-40 were mistmatched in Ombi and Plex because of different release year. Tryin to add gave and error, to contact admin (because it was already in Radarr). If i manually deleted it from Radarr (but not the fi

[2017-02-21 14:42] henrikrox commented on #1160
I got it working with hotmail :)

[2017-02-21 14:42] #1165 closed

[2017-02-21 18:07] bjonness406 opened #1166 "Requested Tvshows not showing"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

1.4.2.3400

#### Operating System:

Docker

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

No logs

#### Problem Description:

I am using Ombi behind a reverse proxy, but I does not look like that has anything to

[2017-02-21 18:17] bjonness406 commented on #1166
Looks like something with my database is corrupt, any way to fix it?
I deleted the sqlite file, and created a new one. Then it worked fine

[2017-02-21 18:22] snare200 opened #1167 "Ombi adds series to Sonarr instead of Add and Search."
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

unRAID

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I get the feeling there is something obvious I'm missing here, but a request through

[2017-02-21 19:27] PhAzE-Variance opened #1168 "Radarr - Missing default root folders option (similar to Sonarr)"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

1.4.1.3362

#### Operating System:

Unraid Docker

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Radarr - Needs to have scan for default root folders, similar to how it's don

[2017-02-21 19:41] tidusjar commented on #1168
It's already in the eap branch. It will be in the next release.

On Tue, 21 Feb 2017, 7:27 pm Ombi Support, <notifications@github.com> wrote:

[2017-02-21 19:49] PhAzE-Variance commented on #1168
Awesome, closing issue.

[2017-02-21 19:49] #1168 closed

[2017-02-21 21:16] tidusjar commented on #1166
Not sure what happened here. Can you send me the corrupt db file?

[2017-02-21 21:17] tidusjar commented on #1152
It's in the latest EAP build.

Please go into the Radarr setting and clear your browser cache and then re-save.

[2017-02-21 21:39] VanCityGuy commented on #1152
Updated to latest EAP, and re-saved my settings. Can now send movies to Radarr, and it is downloading as expected.

Thanks!

[2017-02-21 21:39] #1152 closed

[2017-02-21 21:55] SuperPotatoMen commented on #1167
We do a add and search. Do you have this problem with ever tv show?

[2017-02-21 22:58] snare200 commented on #1167
Yes, every tv show, full seasons and individual episodes, I have to go into Sonarr and click the magnifying glass.

**Here are the Sonarr logs of a season I requested through Ombi:**

MetadataService	Series folder does not exist, skipping metadata creation	4:42pm
	MediaCoverService	Downloading Poster for [80337][Mad Men] http://thetvdb.com/banners/posters/80337-21.jpg	4:42pm
	MediaCoverService	Dow

[2017-02-22 08:03] tidusjar commented on #1167
Can you put the Ombi log level to trace and then send a movie to Sonarr and post the log?

Please remember to put it back to Error when you have done this.

[2017-02-22 08:36] tnmnt114 opened #1170 "Something went wrong! when adding any movie Request to cp"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

1.4.1

#### Operating System:

Mono in FreeNAS jail

#### Mono Version (only if your not on windows)

version 4.6.2 (Stable 4.6.2.7/08fd525 Sat Dec 10 02:22:30 UTC 2016)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

"Something we

[2017-02-22 12:48] snare200 commented on #1167
Sure, here it is:

[code]

[2017-02-22 13:49] barbidule commented on #1132
Update : the notifications actually work for all accounts excepts mine. Not sure if it's the intended behaviour, but it's OK for me.

[2017-02-22 14:51] Kolmain opened #1171 "Ombi Crashes Frequently"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable/Early Access

#### Media Sever:

Plex

#### Media Server Version:

Latest plexpass.

#### Operating System:

Ubuntu 16

#### Mono Version (only if your not on windows)

4.6.2

#### Applicable Logs (from `/logs/` directory or the Admin page):
There are only these in the logs, and there are ALOT Of them. Here is a snippet.
[code]

#### Problem

[2017-02-22 15:04] DereckR opened #1172 "Resync"
I had an issue where apparently Ombi was not sending requests to Sonarr and Couch at some point. However I have switched to Radarr now. Is there a way to force push all unavailable tv shows and movies to resync?

Thanks,
Dereck

[2017-02-22 15:04] #1172 closed

[2017-02-22 15:14] DereckR opened #1173 "Resync Issue"
#### Ombi Version:

V 2.1.1436

#### Update Branch:

Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

1.4.0.3224

#### Operating System:

Windows 10 x64

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I had an issue where apparently Ombi was not sending requests to Sonarr and Couch at some point. However I have switch

[2017-02-22 15:46] SuperPotatoMen commented on #1171
The logs you posted here doesn't tell why it is crashing :(

Can you set your log level to debug and post the logs when it crashed?

[2017-02-22 15:47] SuperPotatoMen commented on #1173
No that isn't possible you need to manualy delete and request it again :(

[2017-02-22 15:53] Kolmain commented on #1171
@SuperPotatoMen I set the log from `INFO` to `DEBUG`. I'll let you know when it crashes again!

[2017-02-22 15:55] DereckR commented on #1173
When I delete and try to request it again says it has already been requested....

[2017-02-22 15:58] tidusjar commented on #1171
Plex Episode searching enabled?

On Wed, 22 Feb 2017 at 15:53 Kolmain <notifications@github.com> wrote:

[2017-02-22 15:59] DereckR commented on #1173
Just tested and does this on movies but lets me request it again on TV shows.

[2017-02-22 16:01] SuperPotatoMen commented on #1173
I'm not

[2017-02-22 16:02] SuperPotatoMen commented on #1173
I'm not following your question. You like to resend some request to radarr instead of cp right?

[2017-02-22 16:11] Kolmain commented on #1171
@tidusjar Advanced Search enabled, Episode Search disabled.

[2017-02-22 16:11] DereckR commented on #1173
@SuperPotatoMen What happen was apparently at some point Ombi stopped sending requests to Sonarr, CouchPotato. I am noticing that some TV shows and Movies never made it to either one. So I noticed this when I was installing Radarr to begin testing it.

So what I am trying to do is push all of the requests from Ombi to sync with all of these services to make sure they all made it. With this being s

[2017-02-22 18:01] usafle commented on #1146
I'm still struggling with this myself.  I've got it set up because I can access it from the computer I installed it on.  However, I can't access it from any other computer on my network nor can I access it from outside my network.

I've got my LAN IP address manually assigned to the PC running Plex + this software.  I've tried to access it from another machine on the same LAN but I get no response

[2017-02-22 20:05] gilbN commented on #1146
@usafle Are you on Windows? If so the port ombi is using is most likely blocked by the windows firewall. You need to make a new inbound rule in the windows firewall.

[2017-02-22 21:46] bartolomesoriano commented on #1146
@usafle , I did just what @gilbN suggested.  In my case, I created a rule in the Avast firewall that I am using.  However, you should be able to launch from another device in your same LAN by using <ip address>:<port> in any browser.  If that isn't working, then perhaps you have another network issue that you need to tackle first.  Do you have different subnets within your LAN or just one? Are the

[2017-02-22 21:48] bartolomesoriano opened #1175 "EAP zip for Windows?"
#### Ombi Version:

V 1.XX.XX

#### Update Branch:

Stable/Early Access Preview/development

#### Media Sever:

Plex/Emby

#### Media Server Version:

#### Operating System:

(Place text here)

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I have not been able to find a zip f

[2017-02-22 21:49] SuperPotatoMen commented on #1175
look at the github page. there are 3 big download buttons ;)

[2017-02-22 21:49] #1175 closed

[2017-02-22 21:51] SuperPotatoMen commented on #1175
![image](https://cloud.githubusercontent.com/assets/2944704/23141618/f0bdb68a-f7b7-11e6-9995-99e92e9a5999.png)

[2017-02-22 21:53] bartolomesoriano commented on #1175
My bad, I am sorry for opening a ticket for this.  I don't know how I missed that! Thank you.

[2017-02-22 21:54] SuperPotatoMen commented on #1175
No problem, you're welcome. feel free to open a ticket :)

[2017-02-22 21:56] usafle commented on #1146
@gilbN and @bartolomesoriano:
I've created a rule in Win10 Firewall. I'm only able to enter the service on my LAN now. Using my external IP doesn't work.
At least I got this far, so far

[2017-02-22 22:01] bartolomesoriano commented on #1146
Do you have more than one router in your network? Did you, if it is needed, create a forwarding rule in your router so that any request for the port you chose for Ombi is routed internally to the machine running Ombi? This is a required step for your external IP address to work.

[2017-02-22 22:06] usafle commented on #1146
Nope. Just one single Google Wifi Router.  Already created a port forward rule in it.

[2017-02-22 22:15] bartolomesoriano commented on #1146
Great! One thing to remember for setting up Gmail for the notification is that if you are using two-factor authentication to sign in to your Google account, the sending of notifications will not work.  I had to turn that off in order to be able to send test messages and newsletters.  Also, you have to enable the setting in your Google account to allow access to older apps with weaker security (I t

[2017-02-22 22:24] usafle opened #1176 "Blocked Sign in Attempt Gmail"
#### Ombi Version:

V 2.1.0

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

Windows 10x64

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Google blocks email sign in attempt due to Ombi being a "less secure app"

####

[2017-02-22 22:30] usafle commented on #1146
@bartolomesoriano Damn. 13 minutes too late.  I just opened a support issue on here.  Since Google is telling me this is a "less secure app" and blocked it.
I only have two choices, "allow access to all less secure apps" or find some other email service apparently?  It's not cool that I have to allow access to ALL less secure apps.  There should be a "rule" you can set up in Gmail to allow specifi

[2017-02-22 22:32] bartolomesoriano commented on #1146
I think Google will notify you anytime a new app is requesting access, so you decide which ones get access or not.

[2017-02-22 22:34] usafle commented on #1146
Unfortunately, it doesn't appear that way.  This is the page I'm greeted with when I click on the link.  It's either <i>all or none</i>

![less_secure_apps_account_settings](https://cloud.githubusercontent.com/assets/18576664/23235875/188e64c0-f925-11e6-98c9-249bf92acce2.png)

[2017-02-22 22:35] bartolomesoriano commented on #1146
True, but when a new app actually requests access, at that time, Google notifies you and you can deny or approve the access.

[2017-02-22 22:36] usafle commented on #1146
You've actually seen that happen before or are you hoping that is what the case is? LoL
It's making me nervous now to do that.  Damn.  So close.

[2017-02-22 22:37] bartolomesoriano commented on #1146
I have seen that happen.

[2017-02-22 22:45] usafle commented on #1146
@bartolomesoriano Ok, I'm going to trust you on this one then.

[2017-02-22 23:33] gilbN commented on #1146
You can make a app password for google, no need to turn of two factor.You can make one in sign in & security under my account

[2017-02-22 23:39] gilbN commented on #1146
https://myaccount.google.com/apppasswords

[2017-02-23 00:17] usafle commented on #1146
@gilbN I got the following when I went to your link:
`The setting you are looking for is not available for your account.`

[2017-02-23 00:20] ruricu commented on #1166
@tidusjar I'm experiencing the same issue and have just sent my .sqlite file to you; let me know if you need anything else.

[2017-02-23 10:57] lpreams commented on #957
This would be an excellent addition, especially for new setups. Ombi automatically adds my shared users as Ombi users before I get a chance to set default permissions. It would be nice if either there was a button to apply the global default to current users, or, alternatively, if the default permissions were added to the setup wizard so permissions could be selected before Ombi imports users from

[2017-02-23 11:04] ajkis commented on #1152
I updated to latest EAP but root folder is still not being saved.

[2017-02-23 12:01] torem commented on #1166
I have the exact same issue. Two days ago I had no tv requests and the page showed the expected "Sorry, we didn't find any results!". Then yesterday I got a tv request and the list went blank with the same 500 error from .../requests/tvshows as described above.

[2017-02-23 13:39] Kolmain commented on #1171
@SuperPotatoMen @tidusjar Crashed again on `DEBUG`, this is all I have leading up to the crash:
[code]

[2017-02-23 13:40] Kolmain commented on #1171
This is the only non-PLexContentCacher error in the log:
`Requests that will be updated count 0	Ombi.Services.Jobs.PlexAvailabilityChecker	Debug	2/23/2017 6:10:36 AM`

[2017-02-23 14:51] bjonness406 commented on #1166
Sendt you the corrupted db file on your email.
If it becomes a lot of work for you to fix it, then I can create a new file myself and add the requests again :)
But it looks like more people are having this problem, so maybe a good idea to find out why this is happening?

[2017-02-23 15:22] tidusjar commented on #1166
Yeah I'll figure it out and fix it when I get a chance tonight!

On Thu, 23 Feb 2017 at 14:51 bjonness406 <notifications@github.com> wrote:

[2017-02-23 17:14] Auwen commented on #1176
I created an App Password for Ombi: https://support.google.com/accounts/answer/185833?hl=en

[2017-02-23 17:35] SuperPotatoMen commented on #1176
@Auwen

[2017-02-23 17:36] SuperPotatoMen commented on #1176
@Auwen you need to allow less secure apps on gmail for that.

[2017-02-23 17:36] #1176 closed

[2017-02-23 17:45] SuperPotatoMen opened #1177 "Tv show can still be requested even if its available."
#### Ombi Version:

V 2.1.1412

#### Update Branch:

Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

1.4.2

#### Operating System:
Windows 10

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:
When a show is available and the Disable TV requests by episo

[2017-02-23 18:34] smcpeck commented on #324
I have a PR in the dev branch for this.  #1178

[2017-02-23 18:36] zenjabba commented on #324
This looks fantastic!

[2017-02-23 18:45] ElYoM opened #1179 "[FEATURE] Loading indicator"
Hi,
My requests page sometimes takes a long time to load depending on the connection speed of the users. So, they think, wrongly, that it does not work and quit the page.
Would it then be possible to integrate a loading indicator such as PACE script for example? http://github.hubspot.com/pace/docs/welcome/

Thank you in advance for this eventuality and continue as well, the application is just awe

[2017-02-23 18:45] #1179 closed

[2017-02-23 18:46] ElYoM commented on #1179
Sorry, I post to FeatHub. ;)

[2017-02-23 21:32] tidusjar commented on #1166
I'm not seeing this issue with your databases... Can you guys go into Sonarr and resave the settings (Make sure everything is filled out)

[2017-02-23 21:35] almontef opened #1180 "Headphone API Key"
#### Ombi Version:

2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:
1.4.0.3224

#### Operating System:
Windows 7 x64
(Place text here)

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I am trying to setup Headphones within the admin se

[2017-02-23 21:54] ruricu commented on #1166
@tidusjar That cleared it up; Cheers!

[2017-02-23 21:55] tidusjar commented on #1166
I think it might be caused from when I added the new root path selection... I thought I coded around that so you wouldn't run into issues but maybe there is a bug somewhere in that 'migration process'...

If you guys just resave it should be all cool.

[2017-02-23 22:19] ersan commented on #1177
Can confirm, just switched from the meteor version to Omni and noticed this, is this only specific to Early Access?  I can roll back if needed.

[2017-02-23 22:29] torem commented on #1166
This worked for me as well. Thank you!

[2017-02-23 22:32] tidusjar commented on #1177
Can you guys update and confirm it is now working as expected?

[2017-02-23 22:32] #1166 closed

[2017-02-23 23:56] Auwen commented on #1180
On the Config page of Headphones, Web Interface tab, right column is the Enable API option. Check that, click Generate. Copy the resulting key into Ombi.

You do not need base url, it's used if you wanna do something like http://yourIP/ombi instead of http://yourIP:3579

[2017-02-24 04:21] almontef commented on #1180
That did it. Thanks for the pointer in the right direction!

[2017-02-24 04:30] kfulgham commented on #1118
Sorry, I just got time to do the EAP, and nothing has changed I still have the same issue.

[2017-02-24 04:41] #1180 closed

[2017-02-24 05:37] ersan commented on #1177
Looks fixed now, thanks

[2017-02-24 07:59] elit3ge commented on #1077
I have upgraded. The schedule is set to run tomorrow, hopefully it goes off.

[2017-02-24 08:08] elit3ge opened #1182 "Newsletter date range."
#### Ombi Version:

V 2.1.1442

#### Update Branch:

Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

V1.3.4

#### Operating System:

Docker

#### Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Problem Description:

Not sure if it is a bug. Depending on the outcome. What is the date range for the newsletter. I

[2017-02-24 08:23] tidusjar commented on #1182
It's not using a date range currently.

Basically for Plex we just call the `recentlyAdded` API endpoint and just use everything in that.

Now going forward I will be doing what I have done for Emby, since I keep a local cache of the data in Plex locally, I can use that data to see what has been added so we do not show duplicates.

[2017-02-24 08:23] #1182 closed

[2017-02-24 13:45] Kolmain commented on #1171
Another crash, same thing- only loads of the PlexContentCacher errors...

[2017-02-24 13:52] badincite commented on #299
Will this be added back for ombi?

[2017-02-24 13:55] tidusjar commented on #299
It was never removed so I am not sure what you mean by added back...

[2017-02-24 14:00] badincite commented on #299
I don't see any area to put in the channel if I put it in the device identifier I don't get any notifications
![image](https://cloud.githubusercontent.com/assets/7386290/23306079/acf66a5e-fa6f-11e6-93a1-a4b8d24f3798.png)

[2017-02-24 14:02] tidusjar commented on #299
It's because i've not developed that functionality yet :)

[2017-02-24 14:10] tidusjar commented on #1109
@CBers Can you try again but make sure the log level is debug?

You should find these sort of things together:

[code]
etc

[2017-02-24 14:14] #1177 closed

[2017-02-24 14:15] tidusjar commented on #1162
It's crashing when looking for an album... I'm thinking about removing headphones support.

[2017-02-24 14:28] badincite commented on #299
Gotcha no problem I'm patient, I was using it in plexrequest and had a channel setup I just noticed it wasn't working.

[2017-02-24 14:43] goku-son opened #1184 "Headphones: Albums added as None"
#### Ombi Version:

2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

Not applicable

#### Operating System:

Windows 7 x64

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

When requesting an album, it says it is successful, but produce

[2017-02-24 15:05] CBers commented on #1109
Updated to v2.2.1 44.

Logs:

System.AggregateException: One or more errors occurred. ---> TMDbLib.Objects.Exceptions.RequestLimitExceededException: You have exceeded the maximum number of request allowed by TMDb please try again later at TMDbLib.Rest.RestRequest.d__21.MoveNext() in T:\Mike\Projects\TMDbLib\TMDbLib\Rest\RestRequest.cs:line 231 --- End of stack trace from previous location where ex

[2017-02-24 16:45] Spydie88 commented on #1170
am getting this error as well...

`Ombi Version:

2.1.1451

Update Branch:

EAP

Media Sever:

Plex

Media Server Version:

 2.13.0

Operating System:

Windows 8/Windows Server 2012

Mono Version (only if your not on windows)

NA`

[2017-02-24 17:01] smcpeck commented on #1162
@tidusjar I can maybe look at Headphones stuff at some point.  I've been meaning to add it to my setup, so I have an interest. 😃

[2017-02-24 20:45] tidusjar commented on #1170
@Spydie88 Your error is completly different and you are using Radarr by the looks of it. Go into Radarr and resave your settings

[2017-02-24 22:27] smcpeck commented on #485
This is actually fixed with #1186

[2017-02-24 22:42] smcpeck commented on #169
Similar to my recent "Search Movies by Actor" functionality in the `dev` branch, I will tackle this soon for "Search Albums by Artist."
🍻

[2017-02-25 00:01] elit3ge commented on #1077
It works! Right on schedule!

[2017-02-25 00:01] #1077 closed

[2017-02-25 00:04] elit3ge opened #1187 "EAP Shows New Update"
#### Ombi Version:

V 2.1.1463

#### Update Branch:

Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

1.3.4

#### Operating System:

Docker/Mono

#### Mono Version (only if your not on windows)

4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Problem Description:

Ombi displays update available, however versions show.

Current Version:  2.1.1463
New Vers

[2017-02-25 02:19] smcpeck commented on #324
This is in EAP now. Can probably be closed.

[2017-02-25 05:14] OverseerMB opened #1188 "Ombi picks up trailers in Emby Trailers plugin as available movie"
#### Ombi Version:

V 2.1.1462

#### Update Branch:

Early Access Preview

#### Media Sever:

Emby

#### Media Server Version:

Emby 3.2.3.0

#### Operating System:

Windows Server 2012R2

#### Mono Version (only if your not on windows)

N/A

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

 I have the Trailers plug-in installed so that we can w

[2017-02-25 09:00] SuperPotatoMen commented on #324
Big Thanks to @smcpeck! It is now live in dev branch.

[2017-02-25 09:00] #324 closed

[2017-02-25 10:25] mushbuddygoose commented on #1171
I had a similar error which I fixed the old fashioned way -- just deleted my install excepct the sqlite file, redownloaded, and moved over all the files. That seems to have fixed it for now. Been 1 week and no issues.

[2017-02-25 15:59] NightShaman opened #1189 "Radarr - Change root folder for requests"
#### Ombi Version:

V 2.1.1462

#### Update Branch:

Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

Windows Server 2016

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Radarr change root folder not working.
It pulls the list

[2017-02-25 16:25] almontef commented on #1184
Thanks @smcpeck. Pardon my ignorance in these matters but does this mean I can pull down the latest code from git and this fix is included? Thanks in advance.

[2017-02-25 16:33] smcpeck commented on #1184
@almontef - It hasn't been merged into actual dev or EAP branch yet.  If you're really itching for it, you could grab the build from my personal fork and upgrade manually.  It is basically the latest EAP + this change.

https://ci.appveyor.com/api/buildjobs/e9c5769a33x33n20/artifacts/Ombi.zip

[2017-02-25 18:31] cbgj commented on #884
It would be awesome if you could restrict requests to not be made when they already exists on Netflix.

[2017-02-25 21:39] smoofus commented on #1189
I can't get the even get the root folders to populate.  The button sits and spins. This started with the update that introduced the "-- Invalid Path" issue when requesting movies... I have been unable to solve either of these issue and I've started from scratch.  Radarr is pretty much a no-go for me at the moment.

[2017-02-25 21:50] bnevets27 commented on #884
Would be nice to be able to disable this. Thanks

[2017-02-25 22:24] tidusjar commented on #884
@bnevets27 I think I added a setting to disable this, if not please raise a feature request.

@cbgj Can you raise a feature request for that?

[2017-02-25 22:25] tidusjar commented on #1189
@smoofus please raise a new issue

[2017-02-25 22:27] tidusjar commented on #1187
Make sure you change the branch to EAP in the settings?

[2017-02-25 22:31] tidusjar commented on #1189
@NightShaman Just tested this in the latest EAP and it is working correctly for me.

Changed the root folder, (I needed to refresh Ombi to see the changes in the UI which I can change). Approved the movie and it used the root folder I selected.

[2017-02-25 22:32] smoofus commented on #1189
I may have finally worked through this and I think it was an issue with Radarr rather than Ombi.  I've been troubleshooting the Ombi side of things exclusively but just after I posted this I tried to add a movie in Radarr proper and the "Path" was not populated.  I dorked around with that and set the "Path" in Radarr and then restarted.  Tried to add a movie again, in Radarr, and noticed that the

[2017-02-25 22:53] tidusjar commented on #1189
@NightShaman I see what you may have done, it was possible to click the change root folder button rather than the dropdown arrow.

[2017-02-26 03:16] elit3ge commented on #1187
It was, another update available now which resolved it.

[2017-02-26 03:16] #1187 closed

[2017-02-26 04:00] smcpeck commented on #1184
In EAP now.

[2017-02-26 04:33] almontef commented on #1184
Thanks!!! I'll pull down your fork until it is merged. As this is my first time updating, I was wondering what files I need to keep to preserve my configuration and previous requests? Or will I have to start from the beginning again? Not a big deal if I do, but would rather save myself from having to reconfigure if I could avoid it.

Thanks in advance.

[2017-02-26 06:09] NightShaman commented on #1189
Sorry Just got back to checking.

So I noticed there was a new version for EAP. So upgraded to that version.
Went in to the Radarr settings verified I can pull both Quality Profiles, and Root folders. and everything looks good there.
Go to a request, and try to change the root folder from the arrow (I have always used the arrow) and it says root folder changed, Refresh the page, and it still wasn'

[2017-02-26 06:51] smcpeck commented on #1184
If you set your `Code Branch` to "Early Access Preview" and update you installation, you should get the change in your upgrade.

[2017-02-26 07:00] diedrichg opened #1192 ""Something went wrong" when trying to add a full TV series"
#### Ombi Version:

V 2.1.1469

#### Update Branch:

EAP

#### Media Sever:

Emby

#### Media Server Version:

#### Operating System:

Win8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Tried adding a full TV series from both user and admin accounts and got the Something w

[2017-02-26 07:01] NightShaman commented on #1189
Still the same. Recreated everything and everything populated with no issues.
Changing the root folder does nothing. If I have some time this weekend I will see if I can create another instance in my home lab and see if it still happens there. I had recently redid my automation setup and copied Databases instead of going from scratch. I don't think it would cause an issue, but maybe I have a DB bo

[2017-02-26 14:03] jneljeff commented on #1171
I have the opposite advice.  If your sqlite file was imported from a previous build Ombi can become unstable.  Rename it to Ombi.sqlite.bak and reboot Ombi.  This will generate a fresh database you can configure from scratch and see how it runs.  If its just as unstable, you can restore your old file.

[2017-02-26 15:09] Spydie88 commented on #1170
I did, same error...

[2017-02-26 15:19] pyrostic commented on #1165
How did you get this to manually update?  I have a similar issue.

[2017-02-26 15:32] smcpeck commented on #1184
This is now in EAP.

[2017-02-26 15:36] ersan commented on #1099
Happening to me also on the nightly build, not sure how to reproduce

[2017-02-26 15:38] ersan commented on #1099
I'm worried this is allowing users to bypass the weekly request limits as well, though I can't be sure because I don't know who is actually submitting the requests.

[2017-02-26 17:00] almontef commented on #1184
Great, the EAP fixed the issue. Not sure if this should be logged as a separate issue, but I noticed that when a album is requested, it takes a while to process (headphones side) and the request in Ombi generates an error (request failed). However, the request does get logged as successful in Ombi and the album gets searched and snatched in headphones. I am by no means a coder, but it could be tha

[2017-02-26 18:06] AmansRevenger commented on #1171
Or use this script on Linux I wrote for myself:

`#!/bin/bash

echo "PlexRequestCheck läuft"
date
touch /var/skript.txt

var1=$(netstat -tulpn |grep :3000)

echo $var1

if [ -n $var1 ]

then
       echo "Ombi is not running "
 sudo mono /opt/plexrequests/Ombi.exe
       echo "Ombi has been restarted"

else
       echo "Ombi is running!

fi
`

works fine for me and fixes the 3-4 crashes in a week..

[2017-02-26 18:26] G1zm0 opened #1193 "CP doctype error"
#### Ombi Version:

V 2.1.1469

#### Update Branch:

Early Access Preview

#### Media Sever:

Emby

#### Media Server Version:

3.2.4.0

#### Operating System:

Docker in Synology

#### Mono Version (only if your not on windows)

fixed in docker

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Linking with Couchpotato gives problems.

#### Repr

[2017-02-26 19:07] tidusjar commented on #1193
Make sure your credentials are correct. Usually this happens when we cannot
authenticate with couchpotato

On Sun, 26 Feb 2017, 6:26 pm Ombi Support, <notifications@github.com> wrote:

[2017-02-26 19:20] G1zm0 commented on #1193
D4mn, checked, double check, triple cheked, but still wrong..
fixed....

[2017-02-26 19:20] #1193 closed

[2017-02-27 00:57] smcpeck commented on #1184
@almontef Can you create a new issue and provide Ombi logs that shows the error?

[2017-02-27 01:15] justinbaciao commented on #611
Mattermost is great. Would love to see support for it added to Ombi.

[2017-02-27 01:51] rtoolz opened #1194 "Could not load file or assembly 'file:///C:\Ombi\Ninject.Extensions.ChildKernel.dll - Exception from HRESULT: 0x80131515"
#### Ombi Version:

v2.1.0

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

Windows 10

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

(Logs go here. Don't remove the ``` tags for showing your logs correctly. Please make sure you remove any personal info

[2017-02-27 04:03] NightShaman commented on #1189
Setup in my lab, I get a different issue, The roots show up fine, but when I try and select a root, it says something went wrong. But there is nothing in the logs.

[2017-02-27 04:05] SprkFade commented on #1171
I've got the same error as the others in the thread.  Here's the error right when it crashes:

`2017/02/26 22:12:55.553 Ombi.Services.Jobs.PlexContentCacher Error: Provider Id on movie 400 Days is null
2017/02/26 22:12:55.599 Ombi.Services.Jobs.PlexContentCacher Error: Provider Id on movie The Autopsy of Jane Doe is null
2017/02/26 22:12:55.615 Ombi.Services.Jobs.PlexContentCacher Error: Provider

[2017-02-27 05:18] ersan opened #1195 "Failed caching queued items from Radarr (since Radarr update 2/24)"
#### Ombi Version:

V 2.1.1469

#### Update Branch:

Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

N/A

#### Operating System:

Linux

#### Mono Version (only if your not on windows)

4.2.3.4

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

It seems there was an update to Radarr on February 24th that caused movie ca

[2017-02-27 05:28] ersan opened #1196 "Newsletter doesn't work and fills my logs with Plex errors."
#### Ombi Version:

V 2.1.1469

#### Update Branch:

Early Access Preview

#### Media Sever:

Plex

#### Media Server Version:

1.4.2.3400 (Latest PlexPass Version)

#### Operating System:

Linux

#### Mono Version (only if your not on windows)

4.2.3

#### Applicable Logs (from `/logs/` directory or the Admin page):

This error repeats until I navigate away from the newsletter page on Ombi
[code]

[2017-02-27 05:32] ersan commented on #1196
Just noticed the other two bug reports about this issue - this error is different from those in the other reports.

[2017-02-27 08:00] tidusjar commented on #1195
The API must have changed. Thanks i'll take a look

[2017-02-27 08:00] tidusjar commented on #1194
Unblock the .zip file before extracting.

[2017-02-27 08:00] #1194 closed

[2017-02-27 08:03] #1192 closed

[2017-02-27 08:04] tidusjar commented on #1189
Are there any errors in your browser console? F12.

If so can you press the network tab and then refresh the page and you should see something like
![image](https://cloud.githubusercontent.com/assets/6642220/23088047/eac44abc-f570-11e6-9f23-d2eb022ed059.png)

If you click the red text and then the preview tab like the image above and post the result?

[2017-02-27 11:03] dtk1989 commented on #1163
The newsletter is now send through EAP, but the newsletter is blank.

[2017-02-27 11:39] tidusjar commented on #1163
Any errors?

[2017-02-27 12:57] dtk1989 commented on #1163
I'm seeing these errors, but sending the newsletter there aren't any errors when it's sent.

System.InvalidOperationException: There is an error in XML document (1, 2). ---> System.InvalidOperationException: was not expected. at Microsoft.Xml.Serialization.GeneratedAssembly.XmlSerializationReaderPlexLibraries.Read4_MediaContainer () <0x41ac3ca0 + 0x000b7> in :0 at (wrapper managed-to-native) Syste

[2017-02-27 15:55] almontef commented on #1184
I will open up a separate issue for the timeout stuff thanks. I thought this original issue resolved itself but when I tried requesting an album, I see the same issue with an album getting placed on the wanted page with none for all fields. I am running 2.1.1469 of Ombi now.  Here are the logs from the latest album request.

**********Headphones log:***************************
2017-02-26 16:35:07

[2017-02-27 16:41] NightShaman commented on #1189
Looks like a 500 Error from Json,

But I have decided to simplify my environment for testing, As it was a bit complex.
Originally I have Sonarr, and Radarr running on a linux box, attached to a windows share and Ombi on a windows box, I wanted to take the complexity out of the equation.

So Setup a new Server 2016 box, Installed Ombi, Sonarr, and Radarr on the same box. My movies, and shows are on

[2017-02-27 19:07] diedrichg opened #1198 "User changed from Admin to User retained admin rights"
#### Ombi Version:

V 2.1.1469

#### Update Branch:

Early Access Preview

#### Media Sever:

Emby

#### Media Server Version:

#### Operating System:

Win8.1

#### Mono Version (only if your not on windows)

(Place text here)

#### Problem Description:

Upon original Ombi setup I created the admin. From there I then decided to give one of my Emby users admin access. A few weeks later (today), I d

[2017-02-27 19:43] diedrichg commented on #1198
Update:
I stopped the Ombi service and then started it. I logged in as the Emby user (scenario above) and still had admin rights.

However, the requested movie was now marked as Requested. I don't know if that was realized by Ombi or if Ombi scanned Radarr and saw that it was in the Radarr Wanted list.

[2017-02-27 19:45] diedrichg commented on #1198
Update:
I stopped the Ombi service and then started it. I logged in as the Emby user (scenario above) and still had admin rights.

However, the requested movie was now marked as Requested. I don't know if that was realized by Ombi or if Ombi scanned Radarr and saw that it was in the Radarr Wanted list.

BUT, the movie is not in the Requests list in Ombi! It only shows as Requested when doing a sea

[2017-02-27 20:51] smcpeck commented on #1184
What version of Headphones are you on?  I'll poke around a bit more tonight and try to reproduce this locally and get some better error handling around things.

[2017-02-28 00:14] almontef commented on #1184
Thanks @smcpeck the headphones log says I am up to date and the footer on web interface says: version: a0fa658956d82c59f5336e38cfd444c96728faa4
I could not locate a reference to the installed version elsewhere. Hope this helps.

[2017-02-28 03:16] squirrellydw opened #1200 "Send email to all users?"
Can you send an email to all your users about Plex from Ombi, if so how?  I don't see any place to type an email and send it?

[2017-02-28 03:16] #1200 closed

[2017-02-28 03:26] squirrellydw opened #1201 "Send email out to all users"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

(Place text here)

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Can I send an email out to all my users and explaining to them how to use

[2017-02-28 04:25] rynh commented on #1117
I'm getting empty newsletters as well.

Plex server version 1.4.2.3400 on Plex Pass
OS Win 10 x64
Ombi Version 2.1.1336
Branch Stable

[2017-02-28 07:31] SuperPotatoMen commented on #1201
This is a feature that Isn't in the stable branch yet. You can upgrade to the lasted Eap version. There is a option in the admin panel called "mass mail".

[2017-02-28 07:31] #1201 closed

[2017-02-28 07:35] SuperPotatoMen commented on #1196
The api has changed. We are working on a fix

[2017-02-28 07:35] #1196 closed

[2017-02-28 07:47] SuperPotatoMen commented on #1124
There was a bug! Can you upgrade to the last eap release? Jamie Fixed the bug

[2017-02-28 07:47] #1124 closed

[2017-02-28 08:01] tidusjar commented on #1117
Can you guys give the EAP branch a try?

[2017-02-28 12:36] SuperPotatoMen commented on #1198
Hi thank you for you report. Auto Approve Movie Requests is not a admin rights right.
If a user doesn't have the permission to watch other requests we show only a Requested button and not the item on the requests page.

If the task caching emby didn't run yet (ombi doesn't know it is available) we show a error to the end user"Could not add movie, please contract your administrator" This is a knowi

[2017-02-28 12:36] #1198 closed

[2017-02-28 13:05] diedrichg commented on #1198
The original post was lengthy, but the issue still remains: give a user admin rights. Let them login and then logout. Then take away admin rights. Logon again as the user and the admin rights remain.

[2017-02-28 13:13] rynh commented on #1117
Just did last night. Is there a way to force a newsletter email to go out?
Or just change the chron job temporarily?

Thanks for adding mass email by the way 😀

On Tue, Feb 28, 2017, 3:01 AM Jamie <notifications@github.com> wrote:

[2017-02-28 13:21] rafuz commented on #1117
You can simply hit "send test email to admin" in the newsletter settings page

[2017-02-28 13:54] SuperPotatoMen commented on #1198
What do you mean with the admin rights?

[2017-02-28 13:54] SuperPotatoMen commented on #1198
And how are you know he has still admin rights?

[2017-02-28 14:16] diedrichg commented on #1198
![2017-02-28 09_11_02-ombi](https://cloud.githubusercontent.com/assets/9559987/23408612/a31e5422-fd96-11e6-8016-8a37dcab6be5.png)

[2017-02-28 14:41] tidusjar commented on #1198
When you created the admin account (in the wizard) it does state not to use the same name as your main account on Emby/Plex... This is why you are probably seeing this.

[2017-02-28 14:43] rynh commented on #1117
Been sitting in progress sending test email for 20+ minutes ... I've added a bunch of media thru the request system though and maybe it's just downloading posters. Not sure the final format since the newsletter has always been blank.

![image](https://cloud.githubusercontent.com/assets/25966104/23409629/4368cbe4-fd9a-11e6-8645-bdf87c35805f.png)

[2017-02-28 14:47] diedrichg commented on #1198
Initial setup:
1. Admin diedrichg was created.
2. Emby user Diedrich was imported
3. Emby user Diedrich was later given Administrator
4. I decided to revoke Administrator from Diedrich so I logged in as diedrichg and removed Administrator from Diedrich
5. Logged in as Diedrich and he still has Administrator privileges.

Try it. You'll see. Give a user Admin and then take it away. Admin will stick

[2017-02-28 14:48] rynh commented on #1117
Not sure if this has to do with the Newsletter generation but I have a ton of these in my log:

System.ArgumentException: Cannot build uri when url segment parameter 'itemId' value is null. Parameter name: request at RestSharp.RestClient.BuildUri(IRestRequest request) at RestSharp.RestClient.ConfigureHttp(IRestRequest request, IHttp http) at RestSharp.RestClient.Execute(IRestRequest request, Strin

[2017-02-28 14:49] rynh commented on #1117
![image](https://cloud.githubusercontent.com/assets/25966104/23409861/27be769a-fd9b-11e6-83f8-ee2383a3b5cd.png)

[2017-02-28 15:35] tidusjar commented on #1198
Yeah I understand the issue, there is already a issue logged somewhere.

It's because your main admin account is the same name, that is why there is a warning. There is an issue already for this.

[2017-02-28 15:36] tidusjar commented on #1117
Looks like a bug with the new changes...

On Tue, 28 Feb 2017 at 14:49 rynh <notifications@github.com> wrote:

[2017-02-28 22:41] gadgetusaf commented on #1117
I am getting the error to on the dev build just updated today.

Exception when calling GetMetadata for Plex, Retrying 00:00:10	Ombi.Api.PlexApi	Error	2/28/2017 5:39:33 PM
System.ArgumentException: Cannot build uri when url segment parameter 'itemId' value is null. Parameter name: request at RestSharp.RestClient.BuildUri(IRestRequest request) at RestSharp.RestClient.ConfigureHttp(IRestRequest reque

[2017-03-01 00:59] jarkle opened #1202 "Radarr Root Save Directory text"
#### Ombi Version:

2.1.1336
#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

#### Operating System:

Windows 10

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

The Root save directory text says:
'Root save directory for TV shows'

Radarr is for movies, not TV shows..

[2017-03-01 05:45] smcpeck commented on #1184
@almontef I have a pull request [ #1199 ] out there that fixes this once & for all.  I suspect that Jamie will merge it into EAP at some point in the morning.

Album requests for new artists take a while because HeadPhones pulls down a bunch of album information for the artists before notifying us that the artist is available.

Adding an album for an artist who already exists in your library is ju

[2017-03-01 08:00] tidusjar commented on #1202
This has been resolved in the EAP branch

[2017-03-01 08:00] #1202 closed

[2017-03-01 10:04] bazhip opened #1205 "Not able to re-add request after deletion"
#### Ombi Version
V 2.1.1480
#### Update Branch:
Development
#### Operating System:
Mono
#### Log Level:
Debug
So, I'm new to using this (although plenty familiar with the software it integrates with) and I was having an issue with a couple of my requests going nowhere and not getting added to sickrage or couchpotato. I figured I'd quick delete the requests and then add/approve them again. Unfortu

[2017-03-01 10:04] #1205 closed

[2017-03-01 10:04] SuperPotatoMen commented on #1184
The Pull request has been merged into the EAP branch. Can you upgrade to the last EAP branch and check it out?

[2017-03-01 10:11] SuperPotatoMen commented on #1205
Hi,
Thanks for reporting.
We aware of this.
See: https://github.com/tidusjar/Ombi/issues/1102

[2017-03-01 10:15] SuperPotatoMen commented on #1102
Also, if you delete your request on the requests page, it is still not possible to re-request it.

[2017-03-01 17:18] m3ki opened #1206 "Question - Should user be logged out every time browser is closed?"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Operating System:

Running in docker rogueosb/docker-ombi

#### Mono Version (only if your not on windows)

OS:	Mono
System Version:	4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

This is more

[2017-03-01 17:32] m3ki opened #1207 "Crash/Request timed out when trying to access web interface, possibly related to plex api timeouts"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Operating System:

Running in docker rogueosb/docker-ombi

#### Mono Version (only if your not on windows)

OS:	Mono
System Version:	4.6.2 (Stable 4.6.2.16/ac9e222 Tue Jan 3 11:48:26 UTC 2017)

#### Applicable Logs (from `/logs/` directory or the Admin page):

Log Level set to Info

[code]

#### Problem Desc

[2017-03-01 18:45] smcpeck commented on #1162
@danilitland Can you verify that this is still an issue for you in EAP?  There have been a good handful of changes around the HP integration that should make things much better.  Thanks!

[2017-03-01 18:52] almontef commented on #1184
So I went ahead and updated to the EAP, so now running Ombi 2.1.1482. When I request an album, it does come back much quicker than before. However, I still see the same end results in that albums are getting added as "None" within HeadPhones.

The Ombi logs now show a different error when I recreate:

Analytics tracking failed	Ombi.Helpers.Analytics.Analytics	Error	3/1/2017 12:39:26 PM
Analytics t

[2017-03-01 19:23] danilitland commented on #1162
I'll give it a try after work.

[2017-03-01 19:25] smcpeck commented on #1184
@almontef Are you sure there are no other "None - None" albums left hanging around?  I had to go into HP, ignore all of those, and then I deleted them so they would stop getting triggered by HP.

It looks, to me, like HP piggybacks off of `queueAlbum` command that we send and starts a search for other "wanted albums."

If you look in the log you posted, it looks like that is happening here:
[code]

[2017-03-01 19:39] almontef commented on #1184
@smcpeck I thought that removing the HP db should have removed them but appears not to be the case. Right now, I got 5 of these "None - None" albums setting in the "Wanted Albums" view from my Ombi tests. I can select them and choose ignore, which removes them from the wanted list, but how do I actually delete them? I don't see an option to delete them from the drop-down menu.

As long as I can ke

[2017-03-01 19:59] smcpeck commented on #1184
The HP interface leaves some things to be desired for album deletion.  If you go to "manage albums" and then select your ignored albums (now that you moved them there), you can then click into each album and there is a delete button available from the view of the individual album.

[2017-03-01 20:33] tidusjar commented on #1184
@smcpeck it seems that users are reporting that when searching for an album they are just getting a spinning circle now, any idea why?

[2017-03-01 20:34] tidusjar commented on #1207
Episode searching enabled?

[2017-03-01 20:43] tidusjar commented on #1195
This is working fine for me...

Can you do the following:

`http://yourIP:7878/api/movie?apiKey=YourRadarrApiKey`

and send me the result at tidusjar@gmail.com

[2017-03-01 20:57] tidusjar commented on #1189
I cannot reproduce this. When it says successful, if you refresh the page, you should see it state the root folder it's going to

For example:
![image](https://cloud.githubusercontent.com/assets/6642220/23480949/a8b9b850-fec1-11e6-9551-db7cbf0053d9.png)

[2017-03-01 21:05] m3ki commented on #1207
Yes it is.

[2017-03-01 21:06] smcpeck commented on #1184
@tidusjar If the artist does not exist in HP yet, it will take about 10 seconds for that happen.  If it is an existing artist, it should add quickly like movies and tv shows do.

[2017-03-01 21:18] almontef commented on #1184
I went ahead and removed all the artist and albums since this is a pretty new install. Nothing shows up in the wanted list, etc. I then went ahead and requested another search from Ombi for a specific album and it basically triggered a search for all albums by the artist. In managed albums I see 10 entries. One of them is the album I requested with a status of skipped. Another 7 are legit albums w

[2017-03-01 21:52] smcpeck commented on #1184
Thanks for this.  I will take this info and look at some more things.

Currently, we add the artist first.  On the HP side, it queries for everything about the artist -- that's why it loads all albums.  Once that is done, we queue the album up.

The issue in your specific use case is that the album you added from Ombi is a "2012 Digital Remaster" version of the album.  HP doesn't grab all the alte

[2017-03-01 22:27] tidusjar commented on #1207
Can I suggest you disable that and see how it goes.

On Wed, 1 Mar 2017, 9:06 pm m3ki, <notifications@github.com> wrote:

[2017-03-01 22:32] almontef commented on #1184
I too think that it seems more like an HP issue. I'll keep using HP natively for now, but if you need me to test anything on HP or Ombi going forward, do let me know.

Thanks again for all your efforts on this issue.

[2017-03-01 22:47] danilitland commented on #1162
Still getting issues. Been trying with HP on and off

System.NullReferenceException: Object reference not set to an instance of an object at Ombi.Services.Jobs.PlexAvailabilityChecker+<>c__DisplayClass44_0.b__0 (Ombi.Store.Models.Plex.PlexContent x) <0x40bebd00 + 0x00044> in :0 at System.Linq.Enumerable.Any[TSource] (IEnumerable`1 source, System.Func`2 predicate) <0x42061bc0 + 0x00090> in :0 at Om

[2017-03-01 22:58] m3ki commented on #1207
OK, done I will report back soon.

Meanwhile:
1. is there a way to get a nice log besides web ui?
2. Why would episode search make ombi crash?
3. Do you see anything relevant in the above log? It seems there are some errors regarding ombi timing out trying to connect to plex, I know my plex does self updates to it might be offline for brief periods of time. But that is no reason for ombi to crash.

[2017-03-02 01:14] danilitland commented on #1162
This is interesting, might wanna read this, Ive removed all the request I had on the Album Section. Its runs fine now. Ill keep testing around in coming days to see where the breaking point is.

[2017-03-02 01:34] gadgetusaf commented on #1117
@SuperPotatoMen wit trace I did not see any other errors. I just added a lot of media so it takes a while to error out completely.

System.ArgumentException: Cannot build uri when url segment parameter 'itemId' value is null. Parameter name: request at RestSharp.RestClient.BuildUri(IRestRequest request) at RestSharp.RestClient.ConfigureHttp(IRestRequest request, IHttp http) at RestSharp.RestClient

[2017-03-02 04:01] NightShaman commented on #1189
Well the other test turned out different results. With Ombi, and Radarr on the the same server with Radarrs root folders on a local drive. In the config in ombi I can pull the root folders no issue. When I try and change the root folder I get "Something went wrong"

I get a JSON error 500,

[code]

I have even tried giving 'Everyone' Full Access and the same thing.

I can give you access to that a

[2017-03-02 04:37] xhaloz opened #1208 "Cannot give permissions to plex user"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Media Sever:

N/A

#### Media Server Version:

N/A

#### Operating System:

Mono

#### Mono Version (only if your not on windows)

4.2.1

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

I cannot allow plex users to request content. They can login just fine but get the error "Sorr

[2017-03-02 05:33] smcpeck commented on #1208
If you go to "User Management," does each user actually have the permission to request music?

[2017-03-02 05:34] xhaloz commented on #1208
Yes sir, the plex user has permission to request music.

[2017-03-02 06:54] BAS-MB commented on #1188
@Cbers do you have this plugin installed?

[2017-03-02 07:17] BAS-MB commented on #1116
Still same for me on emby server need any further logs?

[2017-03-02 07:26] xnaas opened #1209 "Ombi and SSL/HTTPS (Apache + Let's Encrypt)"
#### Ombi Version:

V 2.1.1336

#### Update Branch:

Stable

#### Media Sever:

Plex

#### Media Server Version:

1.3.4.3285

#### Operating System:

Ubuntu 16.04 (Mono)

#### Mono Version (only if you're not on windows)

4.8.0

#### Problem Description:

SSL/HHTPS and Ombi...I've been at this for more than 7 hours now, so I'm finally caving and making this GitHub request.

I've read *everything*

[2017-03-02 07:27] xnaas commented on #1209
Sorry for the massive wall of text there. I'm exhausted (going to bed) and frustrated after the last 7+ hours. 😭

And yes, Mr. Bot, I've read through most of this GitHub at this point. 😜

[2017-03-02 07:33] BAS-MB opened #1210 "Minor typo in Scheduled Jobs area"
#### Ombi Version:

V 2.1.1482

#### Update Branch:

Early Access Preview

#### Media Sever:

Emby

#### Problem Description:

Scheduled Jobs page there is a typo on the Watcher Cacher (min) as it reads Wactcher instead.

[2017-03-02 07:41] xnaas commented on #1209
Figure maybe I should post a desired outcome before passing out. One of these would be nice:
* HTTPS://sub.domain.com/ takes me to Ombi and all my SSL shit works and it's amazing.
* HTTPS://sub.domain.com/req takes me to Ombi and all my SSL shit works and it's amazing.

Personally, I could live with HTTP, but convincing a dozen users to put passwords into unsecure forms...You see what I'm getting

[2017-03-02 07:50] CBers commented on #1188
No I don't, but I can install and test if you want?

[2017-03-02 08:13] tidusjar commented on #1207
1. There is a `/logs/` folder in your running directory
1. It doesn't crash it as per say, but depending how fast Plex is responding to our requests, it can block up the application if there are too many episodes and Plex Api is being slow.
1. Ombi shouldn't crash due to it not being able to connect, i've never experienced that before.

[2017-03-02 08:29] tidusjar commented on #1189
Yeah been on this morning and had a look. It is very strange. I was able to switch between Action and Adventure fine... No errors or anything, but I'll see if I can reproduce this

[2017-03-02 08:42] CBers opened #1211 "Error in Radarr scheduled job"
#### Ombi Version:

Latest dev

#### Update Branch:

development

#### Media Sever:

Emby

#### Media Server Version:

#### Operating System:

Windows 7

#### Mono Version (only if your not on windows)

(Place text here)

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Problem Description:

Errors in Ombi logs

#### Reproduction Steps:

Please include any steps to r

[2017-03-02 08:50] CBers commented on #1210
I'll add to this issue, as I noticed that if Ombi can't add a mix, it say "Contract your administrator" instead of "Contact".

[2017-03-02 08:51] tidusjar commented on #1211
duplicate of #1195 Can you look at that latest comment on that issue and if you have a minute can you try it?

[2017-03-02 08:51] #1211 closed

[2017-03-02 08:57] CBers commented on #1195
API call succeeds. Do you want the output?

[2017-03-02 09:03] tidusjar commented on #1195
@CBers Yes please, I cannot seem to get my result to page (I'm running develop)

[2017-03-02 09:12] CBers commented on #1188
OK, I installed the Emby Trailers plugin and ran the Refresh Channels task.

I also ran all of the Emby scheduled jobs on Ombi.

Then I found a movie trailer (Dunkirk) and requested it in Ombi and it requested OK.

I then logged in as an admin and approved the request, which then added it to Radarr.

I'm running the following versions of the apps:

Ombi - development
Radarr - nightly
Emby - beta

[2017-03-02 09:36] CBers commented on #1195
Emailed.

I'm running Radarr nightly.

[2017-03-02 09:53] tidusjar commented on #1195
Looks like the API response changed in the nightly build.

Updated our objects to reflect that.

[2017-03-02 09:57] CBers commented on #1195
Thanks.

[2017-03-02 10:31] SuperPotatoMen commented on #1209
best way you can do it is to proxy pass it with ngix.

follow this:

https://www.digitalocean.com/community/tutorials/how-to-configure-nginx-with-ssl-as-a-reverse-proxy-for-jenkins

and this: https://www.bjornjohansen.no/redirect-to-https-with-nginx

[2017-03-02 10:31] #1209 closed

[2017-03-02 13:03] tnmnt114 commented on #1170
Any updates on this?

[2017-03-02 13:51] xnaas commented on #1209
Sounds good @SuperPotatoMen. Will check it out today.

Thanks for the links! 😄

[2017-03-02 14:06] m3ki commented on #1207
Thank you for your reply.
I found the logs directory, had to login into docker and locate the correct directory :)!!!

I did figure it didn't crash as the processes were still running even though web interface didn't respond.
I currently do have about 1,200+ movies, and 15,000+ Show episodes, but the interesting thing even after 3 days of not responding to requests it still didn't become responsiv

[2017-03-02 14:33] NightShaman commented on #1189
Thanks, I can leave this up however long. If you need me to grab anything for you, or install a nightly or anything let me know.

[2017-03-02 17:10] xnaas commented on #1209
Just coming back to say, thank you so much for the hot link drops, @SuperPotatoMen. I *finally* got this shit working. 😭 I love you. ❤️

[2017-03-02 20:50] SuperPotatoMen commented on #1209
<3

[2017-03-02 20:54] SuperPotatoMen commented on #435
this one will be live in the next stable release.

[2017-03-02 21:45] #372 closed

[2017-03-03 04:26] smcpeck commented on #1208
No idea here.  Will have to wait for @tidusjar to offer some thoughts.

[2017-03-03 17:41] dkuhl commented on #1117
same issue here. everything is on latest versions. disabled news letter for now until a fixed.

[2017-03-03 18:28] rynh commented on #1117
Updated to version 2.1.1482 and there still seems to be an error with getting info to generate the newsletter (pretty sure these errors started coming up when i requested a test newsletter email be sent).

![image](https://cloud.githubusercontent.com/assets/25966104/23563569/3b0d3548-0015-11e7-88a3-89c1718600a7.png)

[2017-03-04 00:59] FlynnLives commented on #1163
I am having this issue as well on 2.1.1336 (stable branch) on Server 2012 R2

<img width="605" alt="screen shot 2017-03-03 at 5 56 13 pm" src="https://cloud.githubusercontent.com/assets/5238672/23574387/17b2bf20-003b-11e7-8b1a-252136f6e133.png">

The email is sent and received but its empty these are the only things in the logs

Sent	Ombi.Services.Jobs.RecentlyAdded	Debug	3/3/2017 7:00:03 AM
Sendi