[2016-03-03 08:51] tidusjar opened #2 "Add profile option under the Sonarr settings"
https://github.com/Sonarr/Sonarr/wiki/Profile

Test Connection -> Profile Api -> Make user choose a profile before saving.

[2016-03-10 08:44] tidusjar opened #3 "Styling changes"
- [x] Increase font size
- [x] The spacing for search results and other places is a bit broken on smaller screens
- [x] Navbar category doesn't follow you to various screens
- [x] There's no indication your are searching, use a spinner icon from FA while searching, just to make sure the user doesn't think somethings broken
- [x] Search query should stay between movie/tv switches

[2016-03-10 16:11] #3 closed

[2016-03-11 07:51] tidusjar opened #4 "Add option to set the status of a request manually"
Add an option to manually set the status of a request.
Available,
Unavailable

[2016-03-11 16:07] #2 closed

[2016-03-11 17:13] #4 closed

[2016-03-13 20:30] tidusjar opened #5 "Check if the request is already in Plex before adding it"

[2016-03-13 21:02] tidusjar opened #6 "Add a request limit to the settings"

[2016-03-13 21:03] tidusjar opened #7 "Add an option for an Admin to leave notes against a request"

[2016-03-13 21:17] tidusjar opened #8 "Add request notifications"
- [x] Email notification
- [x] Pushbullet

[2016-03-13 21:39] tidusjar opened #9 "Add test application to the settings pages"

[2016-03-14 13:36] tidusjar opened #10 "Add validation to the settings"

[2016-03-15 16:19] tidusjar opened #11 "Add status page"
Add a status page to the settings,

Include application version
if there is an update available

[2016-03-15 17:30] tidusjar opened #12 "Fix the versioning"

[2016-03-15 18:55] tidusjar commented on #12
Fixed

[2016-03-15 18:55] #12 closed

[2016-03-15 19:35] #5 closed

[2016-03-15 19:35] #7 closed

[2016-03-15 19:35] #9 closed

[2016-03-15 19:49] #11 closed

[2016-03-16 22:35] #10 closed

[2016-03-16 22:51] tidusjar opened #16 "Change the request service"
Change the request service to store the requests as JSON blobs in the store.

[2016-03-16 22:51] tidusjar opened #17 "Add date when request was made to the Requests page"

[2016-03-16 22:52] tidusjar opened #18 "Add a denied button on the requests page for the admin."

[2016-03-17 07:41] harroguk opened #19 "500 Error when first launch"
Downloaded the latest release.
OS Server 2008 R2
.NET 4.6

Launch PlexRequest.exe

Server running on port 3579

Browse to localhost:3579

Nancy.RequestExecutionException: Oh noes! ---> Nancy.ViewEngines.ViewNotFoundException: Unable to locate view 'Index'
Currently available view engine extensions: sshtml,html,htm
Locations inspected: views/userlogin/UserLogin/Index-en,views/userlogin/UserLogin/In

[2016-03-17 07:42] tidusjar commented on #19
When you downloaded the .Zip did you right click and unblock it?

Windows blocks zip files from unknown sources.

[2016-03-17 07:43] harroguk commented on #19
Yup, unblocked

[2016-03-17 07:44] harroguk commented on #19
Found a log file...

2016/03/17 07:35:07.924 PlexRequests.UI.Program Trace: Getting product version
2016/03/17 07:35:07.931 PlexRequests.UI.Program Info: Version: 1.2.1
2016/03/17 07:35:07.967 PlexRequests.Store.DbConfiguration Trace: Checking DB
2016/03/17 07:35:07.967 PlexRequests.Store.DbConfiguration Trace: DB doesn't exist, creating a new one
2016/03/17 07:35:08.438 PlexRequests.UI.Program Tr

[2016-03-17 07:46] tidusjar commented on #19
I'm just about the leave for work. I'll check this as soon as I get in. Can you just double check that the Nancy.ViewEngine.dll is not blocked by right clicking and selecting properties?

[2016-03-17 07:49] harroguk commented on #19
Its okay, sorted it.

Problem was that I was unblocking the EXE, not the ZIP (before extraction).

Running the below powershell on the directory fixed the issue.

gci c:\installedprograms\plexrequests | Unblock-File

[2016-03-17 07:56] #19 closed

[2016-03-17 09:25] m1e1w1 opened #20 "wont start fresh install"
500 internal server error on first run:

Nancy.RequestExecutionException: Oh noes! ---> Nancy.ViewEngines.ViewNotFoundException: Unable to locate view 'Index'
Currently available view engine extensions: sshtml,html,htm
Locations inspected: views/userlogin/UserLogin/Index-en-US,views/userlogin/UserLogin/Index,userlogin/UserLogin/Index-en-US,userlogin/UserLogin/Index,views/userlogin/Index-en-US,view

[2016-03-17 09:27] tidusjar commented on #20
Yes, this is happening because you need to unblock the `.zip` before extraction.

Please right click the `.zip` and press properties, then unblock. If you then extract it, the application will function correctly.

[2016-03-17 14:35] tidusjar commented on #20
Has this been resolved @m1e1w1  ?

[2016-03-17 15:00] tidusjar opened #21 "Switch to TVMaze"

[2016-03-17 16:31] tidusjar commented on #8
Fixed

[2016-03-17 16:31] #8 closed

[2016-03-17 16:31] tidusjar commented on #17
Already exists

[2016-03-17 16:31] #17 closed

[2016-03-17 17:20] heartisall opened #22 "Could not connect to Plex, please check your settings. Exception Message: The underlying connection was closed: An unexpected error occurred on a recieve."
I just did a fresh install of PlexRequests.net and everything started fine. I was able to register an admin account and pull my plex token successfully when I enter my plex username and PW. My issue arises when I navigate to the Plex menu in admin settings. I put in the local IP of my Plex server and use the default Port and when I test connectivity I get "could not connect to Plex, please check y

[2016-03-17 17:27] tidusjar commented on #22
There should be a log file in the directory of your installation. Is there any more information in there?

[2016-03-17 18:38] heartisall commented on #22
Here you go this looks to be where the error begins:
2016/03/17 14:28:21.122 PlexRequests.UI.Modules.ApplicationTesterModule Warn: Exception thrown when attempting to get Plex's status:
2016/03/17 14:28:21.122 PlexRequests.UI.Modules.ApplicationTesterModule Warn: System.ApplicationException: Error retrieving response. Check inner details for more info. ---> System.Net.WebException: The underlying

[2016-03-17 18:48] tidusjar commented on #22
Interesting. What format have you put into the host name/ip?

[2016-03-17 18:50] heartisall commented on #22
192.168.1.15
default port of 32400

After deleting the meteor folder and rerunning the install my users now are populated, This issue still remains however

[2016-03-17 19:04] tidusjar commented on #22
What version of Plex Requests are you running?

Can you navigate to a browser on the machine that PlexRequests is running on and enter this into the Url and paste back what you get please:

http://192.168.1.15:32400/

Again, any personal information you should delete and just put in xxxx or something.

[2016-03-17 19:11] heartisall commented on #22
I'm running the new version you just posted 1.2.1, although when I go to status tab it tells me an update is available. When I click it is suggests the same version I'm on.
When I navigate to that url over normal http I get the page cannot be displayed. When I go over https it gives me the unrecognized cert error, when I ignore that I get a 401 Unauthorized.

[2016-03-17 19:13] heartisall commented on #22
Well, you got me moving in the right direction. I figured out the issue is because I require Secure connections on my server. I'm guessing this version doesn't support that as of yet. If I disable that option then I can connect fine.

[2016-03-17 19:15] tidusjar commented on #22
The status page is a bug. I'll raise that now.

It's because I'm talking to plex over Http. In the host can you try and put 'https://192.168.1.15'?

[2016-03-17 19:16] tidusjar commented on #22
I'll add the option for a secure connection in the next release (tomorrow if I can get it done tonight)

[2016-03-17 19:17] heartisall commented on #22
Do you mean the hosts file? Awesome thanks for all your help

[2016-03-17 19:19] tidusjar commented on #22
In the settings page. I'm not sure if it will work but it's worth a try. Where you put the plex port, try https then port.

[2016-03-17 19:23] heartisall commented on #22
Ok, When I do that I get " Could not connect to Plex, please check your settings, Exception Message: The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel."

[2016-03-17 19:27] tidusjar commented on #22
Ok. I'll fix that tonight.

[2016-03-17 19:29] heartisall commented on #22
Ok great thanks again

[2016-03-17 20:42] tidusjar commented on #22
@heartisall I'm just waiting for the latest code to go through the build validation, if that is all good then i'll push the next release out now and update the release notes.

[2016-03-17 20:45] heartisall commented on #22
Ok great, I'll test it as soon as it gets pushed. Thanks

[2016-03-17 20:54] tidusjar commented on #22
Reopen to confirm fix.

[2016-03-17 20:57] tidusjar commented on #22
@heartisall I have also fixed the status page, it was because my latest release wasn't tagged correctly. The new build is now on the releases page: https://github.com/tidusjar/PlexRequests.Net/releases/tag/v1.3.0

[2016-03-17 21:05] heartisall commented on #22
@tidusjar just upgraded to 1.3, Everything is working great now. Thanks for all your help -> Donation sent. (fix your donation link btw), Cheers!

[2016-03-17 21:16] tidusjar commented on #22
@heartisall Oh wow! thank you very much! I didn't even know it was broken, I shall fix it!

Thank you very much, i'm going to have to make a donation wall now!

[2016-03-17 21:16] #22 closed

[2016-03-17 21:26] #20 closed

[2016-03-17 21:53] tidusjar opened #25 "Bug where it wouldn't pick up VIkings already being in Plex"

[2016-03-17 22:00] #25 closed

[2016-03-17 23:02] m1e1w1 commented on #20
yes, resolved after unblocked.

[2016-03-18 08:57] tidusjar opened #26 "Request TV Series, Select a certain season"
New dropdown option > open a modal with all seasons available. Pick an individual season to download.

[2016-03-18 08:57] tidusjar opened #27 "Allow users to enable notifications"
Allow a user to receive an notification once the request has been approve and then once the request is available.

[2016-03-18 12:06] heartisall opened #28 "Add a mobile view"
It would be a nice feature if there was a mobile template for when the site if viewed from a phone.

[2016-03-18 12:26] tidusjar commented on #28
Yes, this is currently a bug, It does have a mobile view but it's not scaling correctly! I shall fix that for the next release.

[2016-03-18 12:41] tidusjar opened #29 "Update the PlexRequests automatically as soon as there is a new release available"

[2016-03-18 13:20] tidusjar opened #30 "When adding an admin note, it can sometimes first appear on the wrong request. Refreshing will fix it."

[2016-03-18 14:46] tidusjar opened #31 "Requesting a TV Show it does not correctly check in Plex if it exists"
https://www.reddit.com/r/PleX/comments/4axgyk/plexrequests_net/d14hzp2

[2016-03-18 14:48] tidusjar opened #32 "Integrate with Headphones"
Headphones uses music brainz api

API: https://github.com/rembo10/headphones/blob/master/API.md
Cover Art: https://musicbrainz.org/doc/Cover_Art_Archive/API

- [x] New Settings page
- [x] Options to enable and disable on Plex Requests Settings
- [x] Application Tester
- [x] Search
- [x] Requests
- [x] Appoval
- [x] Issues
- [x] Notes
- [x] Plex Checker

[2016-03-18 15:16] tidusjar opened #33 "Add SSL to Sonarr and CP"

[2016-03-18 15:30] Auwen opened #34 "500 - Internal Server Error"
I installed the program, ran it As Administrator, and as soon as I open the userlogin web page it gave me a 500 - Internal Server Error. [Pastebin of error](http://pastebin.com/KSRf9JhD).

Running Windows 10 x64. Any suggestions? Thanks!

[2016-03-18 15:34] Auwen commented on #34
Neeevermind. I found issue #19 which solved my issue.

[2016-03-18 15:34] #34 closed

[2016-03-18 16:53] shiitake commented on #28
submitted a pull request which should fix the responsive components.

[2016-03-18 17:13] tidusjar commented on #28
Looks like it fixes it! It will be in the next release (TBC)

[2016-03-18 18:37] tidusjar opened #36 "When Plex authentication is enabled. We should also allow the owner to authenticate. Not just the friends."
We need to add an extra check to find out if the user is the Plex Owner
`PlexRequests.UI.Modules.UserLoginModule.cs` method `private Response LoginUser()`

[2016-03-18 18:44] tidusjar commented on #31
This has been fixed in #25

[2016-03-18 21:49] tidusjar opened #37 "Investigate why we need admin permissions"
It seems to be because we are reserving all url's using the port on startup.

[2016-03-18 23:06] tidusjar opened #38 "Ability to set the CP quality"

[2016-03-18 23:17] tidusjar commented on #37
Still unknown....

[2016-03-18 23:46] #21 closed

[2016-03-18 23:47] #30 closed

[2016-03-18 23:47] #31 closed

[2016-03-18 23:47] #33 closed

[2016-03-18 23:48] #28 closed

[2016-03-18 23:48] #16 closed

[2016-03-19 00:25] tidusjar opened #40 "Integrate with Sickrage"

[2016-03-19 14:18] #38 closed

[2016-03-19 14:18] #40 closed

[2016-03-19 16:50] tidusjar opened #43 "Add the option to supply a Subdir for Sickbeard, CP and Sonarr"

[2016-03-19 16:52] #36 closed

[2016-03-19 16:52] #37 closed

[2016-03-19 17:03] tidusjar opened #44 "Add pushover support"

[2016-03-19 19:25] DejaVu opened #45 "PlexRequest.UI has stopped working"
After running PlexRequests for about 5 minutes and setting everything up, I'm presented with this...

![PlexRequests](https://cloud.githubusercontent.com/assets/481679/13900862/4009a60a-ee08-11e5-8611-ae23898e3909.jpg)

It's looking for something on my D: - which is obviously non-existent on my system.

[2016-03-19 20:52] tidusjar commented on #45
Ok I know what that error is. I shall fix it tonight

[2016-03-19 22:34] causefx opened #46 "CP SSL error"
when i try and connect to CP thru SSL i get this error:
`Could not connect to CouchPotato, please check your settings. Exception Message: 'doctype' is an unexpected token. The expected token is 'DOCTYPE'. Line 2, position 3.`

Log:
`  at PlexRequests.Api.ApiRequest.Execute[T] (IRestRequest request, System.Uri baseUri) <0xf0a5f3f8 + 0x0010f> in <filename unknown>:0
  at PlexRequests.Api.CouchPotato

[2016-03-19 22:35] tidusjar commented on #45
@DejaVu Can you post your log file, It will be in the install directory? What was you doing at the time?

[2016-03-19 22:46] tidusjar commented on #46
Thanks, I shall take a look.

[2016-03-19 22:58] tidusjar opened #47 "Add the ability to view the Plex Library"
A new page that shows all current Plex content with their quality.

Add the ability to request the same version but different quality

[2016-03-19 23:22] maxsmart opened #48 "BUG: 500 - InternalServerError on Ubuntu Server 14.04.3 LTS"
Hey there - Came across your app and tried to get it running on my Ubuntu Server box, however I'm getting a 500 error.  The only other 500 error I could find referenced unblocking on a Windows box, which wouldn't be applicable here.  My mono version is 3.10.0 (tarball Wed Nov  5 12:50:04 UTC 2014)

Here is the error I'm getting, any thoughts?

Error Details

Nancy.RequestExecutionException: Oh noe

[2016-03-19 23:50] WinstonP opened #49 "Ability to change Admin password and user."
Title says it all. Or even multiple admins maybe?

[2016-03-20 00:25] tidusjar commented on #49
Yeah it's possible!

[2016-03-20 00:28] tidusjar commented on #48
Hmmm... Seems to be something with the Nancy framework. I'll speak To the devs.

[2016-03-20 02:03] Fogest opened #50 "500 Internal Server error on first run - Ubuntu 14.04"
I am trying to run this on a Ubuntu 14.04 machine via Mono.

I simply unzipped the files and then ran it via `mono PlexRequests.exe` as the readme suggests. I get a 500 internal server error when going to the page http://localhost:3579/

Here is the large stacktrace it gives:

[code]

[2016-03-20 02:43] joh98032 opened #51 "Ability to use plexRequests.net without requirement of CouchPotato"
It would be useful to some to use it without the integration of CP as a requirement to submit requests and approve them.

[2016-03-20 09:33] tidusjar commented on #50
This seems to the be the same
Issue as #48

[2016-03-20 13:09] tidusjar commented on #45
Fixed in the latest release.

[2016-03-20 13:09] #45 closed

[2016-03-20 13:38] thehunt33r commented on #48
Hi,

I got the same error, both while running PlexRequest (and mono) as its own separated user, or as root.

I am running Debian Unstable / Mono 4.2.1, and get the same kind of error : http://pastebin.com/vViHJzn6

I think Mono is up to date on my system (just did an upgrade + dist-ugprade)

[2016-03-20 13:39] tidusjar commented on #48
I'll have to speak with the Nancy devs.

[2016-03-20 14:40] grumpydev commented on #50
Casing issue with view names?

[2016-03-20 14:47] tidusjar commented on #50
@grumpydev the views are CamelCased and when I return the views I use the same casing.

[2016-03-20 15:05] tidusjar commented on #48
Issue #50 is the master for this.

[2016-03-20 15:05] #48 closed

[2016-03-20 15:11] tidusjar opened #54 "Add a list of users that do not need approval for requests."
Allow the specify a list of issues (similar to the denied list) that the users don't need approval for requests.

[2016-03-20 15:15] tidusjar opened #55 "Add a list of popular and recommend movies"
A nice to have.

[2016-03-20 15:41] tidusjar opened #56 "Allow the option to run PlexRequests.Net to run under a sub directory"

[2016-03-20 15:42] tidusjar opened #57 "Enable filtering on the requests page"
Enable filtering, filter approved, available etc.

[2016-03-20 17:27] maxsmart commented on #50
Any other logs you need from me just let me know

[2016-03-20 21:40] WinstonP opened #58 "Requesting movie already in Plex gives error."
Searched for a movie already in Plex and got a "Something went wrong" error.

[2016-03-20 21:41] tidusjar commented on #58
Can you please post the relevant logs in the install directory

[2016-03-20 21:41] WinstonP opened #59 "Feature Request: Logs in admin panel"
Would be nice to see logs in the admin panel to easily see what errors come up.

I also noticed that .log files are in the root directory. Would keep down on clutter if they were in a Logs folder.

Thoughts?

[2016-03-20 21:42] WinstonP commented on #58
Sorry, Jamie, Looked in the .log file for "Something went Wrong" but i didn't find any instance of it. Is it safe to post the entire log file here? (Safe as in, there is no api keys/login creds in them)

[2016-03-20 21:43] tidusjar commented on #58
No I wouldn't do that. Delete the current log, recreate the error and you should see it? Is all the settings correct e.g it can connect to plex?

[2016-03-20 21:45] WinstonP commented on #58
Welp.. I'm an idiot. I had set it up, but only clicked Test Connectivity and not Submit, so my settings for plex connectivity weren't saved. Feel free to delete this...

[2016-03-20 21:56] #58 closed

[2016-03-20 21:57] theg1nger opened #60 "Feature Request: Pushbullet/Email Notification when new release is pushed"
Title says it all.

[2016-03-20 21:59] WinstonP commented on #29
I like it. Maybe even an update button next to the "New Update" in the admin panel.

[2016-03-20 22:26] tidusjar commented on #29
Excellent idea.

[2016-03-20 22:27] tidusjar commented on #59
Both good ideas!

[2016-03-20 22:41] tidusjar commented on #60
That's not a bad idea. Should be quite easy :)

[2016-03-21 13:56] tidusjar commented on #46
@causefx Can you please enter this into the URL:

    https://yourcouchpotoatoip:5050/api/YOURAPIKEY/app.available/

Could you please post the results as I am not seeing them when I enable SSL with couchpotato

[2016-03-21 14:28] tidusjar opened #62 "Feature Request: Add the ability to request the first season"
https://www.reddit.com/r/PleX/comments/4b3thc/plex_requestsnet_release_140/d17to5k?context=3

[2016-03-21 14:30] tidusjar opened #63 "Update the status page to show the next release and information about it"

[2016-03-21 14:30] tidusjar commented on #43
This has been done.

[2016-03-21 14:30] #43 closed

[2016-03-21 14:33] tidusjar opened #64 "Fix the observers attempting to register themselves every x seconds"

[2016-03-21 14:47] tidusjar opened #65 "Bug with adding some Movies"
Referenced issue https://github.com/CouchPotato/CouchPotatoServer/issues/6206

[2016-03-21 16:14] heartisall opened #66 "Run PlexRequests over SSL/HTTPS"
Since I have Plex requests out on the web and users are logging in with their passwords it would be nice to send this over https so PWs aren't being sent in plain text.

[2016-03-21 16:19] tidusjar commented on #66
Yes, Will look into it. I don't think it will be in the next release as I already have a list of things planned for it. https://github.com/tidusjar/PlexRequests.Net/milestones/Release%20v1.5.0

[2016-03-21 16:21] heartisall commented on #66
No worries, 1.5 looks good. Pretty excited with how quickly this is being improved on. Great work

[2016-03-21 16:21] tidusjar commented on #66
Well I get excited about things like this and end up spending a lot of time on them, plus when people are interested it makes me want to do it more!

[2016-03-21 16:34] heartisall commented on #66
Yea I hear that, well it's much appreciated. My family/friends have been pretty blown away with being able to request things and have it show up so quickly.

[2016-03-21 16:35] tidusjar commented on #66
Well that's what I want to hear! If you/they have any suggestions as you know, feel free to suggest them :+1:

[2016-03-21 19:08] tidusjar opened #67 "The Request Link for TVShows goes to the wrong place"

[2016-03-21 21:54] mattg1000 opened #68 "Add ability to choose type of monitoring when adding show to Sonarr"
Currently in version 1.4.1 when a new show is added to Sonarr by choosing the Last Season only option, it add the show but only monitors future episodes.  This causes Sonarr to never download the full season.

Please see screenshot below:

![capture](https://cloud.githubusercontent.com/assets/1860530/13935474/770857cc-ef85-11e5-9941-063b0652e214.PNG)

[2016-03-21 22:30] causefx commented on #46
i get:
`{"success": true}`

the problem might lie in the sub directory as I have it setup with a reverse proxy.

[2016-03-21 23:07] tidusjar commented on #46
I think that is the case. The subdirectory will be in the next release. I have already done the work and they are in the Dev branch (not fully stable yet).

I'll update this issue when it has been released.

[2016-03-21 23:11] tidusjar commented on #68
Yeah that is the correct behaviour. I think it's just mislabelled. I followed what the meteor version of plex requests did.

In the next release I will be changing that dropdown to something like the following:

- First Season
- All Sesons
- Future Episodes.

Then shortly after I will implement the ability to choose a specific season (another dropdown option).

What do you think?

[2016-03-21 23:29] tidusjar opened #69 "Add the TV Show requested option on the requests page"
Show what the user selected

[2016-03-21 23:31] tidusjar opened #70 "When plex is not setup we generate a something went wrong error when requesting"
We should inform the user to tell their admin to setup correctly.

[2016-03-21 23:33] tidusjar opened #71 "Allow the application to work without Couchpotato."
We should be able to work without couchpotato and work as a standalone request system.

[2016-03-22 00:27] mattg1000 commented on #68
What I'm noticing is that when I choose Latest Season in Plex Requests, it does not set the episodes to be monitored as is referenced in the screenshot above.

When I manually add a new show in Sonarr and choose Latest Season:
![image](https://cloud.githubusercontent.com/assets/1860530/13938305/95f4695e-ef9a-11e5-9bc4-6a8378e7b0f8.png)

I get the following results for the episodes in that season:

[2016-03-22 03:44] Logvin opened #72 "Add a URL Base option"
Sonarr and CouchPotato both have options for URL Bases. I'm using a NGINX reverse proxy. When I go to mydomain.com/requests it immediately changes the URL to mydomain.com/userlogin and gives me a 404 page. I'm not 100% sure that a URL Base is what we need to resolve my issues, but it appears it is something this app needs.

[2016-03-22 03:46] tedrock opened #73 "Upgrading wipes settings"
Any information on upgrading would be great. I can't figure out what file contains the settings so anytime I upgrade I have to reconfigure.

The method I'm currently using to update is download the release zip and replacing all files.

[2016-03-22 03:50] #73 closed

[2016-03-22 07:01] tidusjar commented on #72
I've done all the work on this and it will be in the next release.

[2016-03-22 07:03] tidusjar commented on #68
Oh really. My understanding is incorrect.
I will fix this then. Thanks.

[2016-03-22 07:04] tidusjar commented on #73
replacing all the files should work.

The settings are stored in a file called PlexRequests.sqlite

[2016-03-22 08:50] #71 closed

[2016-03-22 08:56] #70 closed

[2016-03-22 08:59] tidusjar opened #74 "We are not unsubscribing observers when we disable them"

[2016-03-22 08:59] #74 closed

[2016-03-22 08:59] #64 closed

[2016-03-22 10:00] tidusjar commented on #72
@Logvin Does this link help? https://github.com/NancyFx/Nancy/wiki/Hosting-Nancy-with-Nginx-on-Ubuntu#install-nginx

PlexRequests.Net is using the Nancy framework.

[2016-03-22 10:03] tidusjar commented on #46
Related to #43

[2016-03-22 13:08] shiitake commented on #62
Looking into this enhancement.

[2016-03-22 13:22] #67 closed

[2016-03-22 15:34] tidusjar commented on #63
This has been done.

[2016-03-22 15:34] #63 closed

[2016-03-22 15:35] tidusjar commented on #59
Logs has been moved into a /logs/ directory. Just need to get it logging to the DB: https://github.com/NLog/NLog/issues/1319

[2016-03-22 16:39] tidusjar opened #75 "Send a notification when an issue is reported"

[2016-03-22 18:01] yalpski commented on #51
I second this! Would love to be able to use without CouchPotato.

[2016-03-22 18:12] tidusjar commented on #51
The Dev work has been done on this. It will be in the next release.

[2016-03-22 19:39] Drewster727 opened #76 "Auto-approve tv shows OR movies"
Hello,

I'd like to request a feature for allowing the admin to choose which section to auto-approve (TV shows or movies). Currently, you can only auto-approve everything, which is an annoyance because I would like to be able to auto-approve only movies and manual approve tv shows (movies are small... tv shows can be large). Thanks!

[2016-03-22 19:57] tidusjar commented on #76
Great idea. It shall be done.

[2016-03-22 21:31] #75 closed

[2016-03-22 22:17] #44 closed

[2016-03-23 00:23] dabbers opened #77 "IIS Use"
Should provide us a way to install into an IIS instance. Or include instructions for us to do so ourselves (build -> deploy?).

[2016-03-23 07:03] tidusjar commented on #77
The plan was to remove the dependency that is IIS. Since running things via IIS are usually platform specific.

Why do you want to use IIS?

[2016-03-23 14:36] #51 closed

[2016-03-23 14:37] tidusjar commented on #69
This is dependent on #62

[2016-03-23 14:37] tidusjar commented on #68
This is related to #62

[2016-03-23 14:38] tidusjar commented on #59
All done really, we now have a new page in the settings called logs, It will show you the logs and also allow you to set a custom log level.

TODO: Styling and pagination.

[2016-03-23 14:39] tidusjar commented on #57
http://stackoverflow.com/questions/36181092/mixitup-issue-with-bootstrap-tabs

[2016-03-23 14:41] tidusjar commented on #49
All the backend work has been done, Also added the concept of claims, so we now have the ability to add non-user administrators (This will probably be the requesters, it will allow them to set up personal preferences to get notifications etc)

[2016-03-23 17:21] dabbers commented on #77
You could split the resources to have a build type of asp.net website or executable.
I already have IIS running which manages my websites. It is already setup with my firewalls. It already enables logging for access, already is an established service, and already works well.
I suppose I could always reverse proxy the IIS host to the PlexRequest binding, but that requires the exe to be running in a

[2016-03-23 17:22] tidusjar commented on #77
I can see your point, but for now I think I'll just stick with the .exe, if there are more requests to allow it to be hosted in IIS then I'll reconsider.

Thanks

[2016-03-23 17:22] #77 closed

[2016-03-23 17:53] maxsmart commented on #50
Any updates on this? Would really love to use this software.

[2016-03-23 18:14] tidusjar commented on #50
Nothing yet. I'm hoping the Nancy team could assist on this one.

Would you mind if I created you a custom build to try and see if it resolves it?

The change would be to change the casing to all lowercase for the views.

[2016-03-23 18:21] mescon commented on #72
I'm waiting for this until I migrate from the meteor version :-)

[2016-03-23 18:27] Fogest commented on #50
@tidusjar I would not mind trying that to see if it works.

[2016-03-23 18:28] tidusjar commented on #72
@mescon do you have the same issue as @Logvin ?

[2016-03-23 18:43] tidusjar commented on #50
I also added some specific Unix code when the application starts up so it is able to handle shutdown/stop of the process correctly when running as a deamon.

Here's the build: https://ci.appveyor.com/project/tidusjar/requestplex/build/1.4.44/artifacts

[2016-03-23 18:50] mescon commented on #72
No, that hasn't been verified, but I do run all of my services behind an nginx reverse proxy and decided to hold off on moving to PR.Net until I saw that this issue was resolved.
I've been banging my head on this on several other applications - nzbhydra, couchpotato, pydio, headphones and so on... some were fixed by the authors, others I've patched myself, though I don't know the first thing about

[2016-03-23 18:51] Fogest commented on #50
Did not work. Here is the error when I go to the webpage:

[code]

Here is the exact process I went through to get this build going:

[code]

[2016-03-23 18:53] tidusjar commented on #50
Damn... I'm stabbing in the dark here not knowing much about Linux... Does this make any sense to you? http://stackoverflow.com/questions/26202778/how-to-set-path-to-mono-so-supervisor-knows-about-it

[2016-03-23 19:00] maxsmart commented on #50
It's funny, I came across the same stack overview page when I Was trying to find a solution, but I'm not sure where the "supervisor configuration file" is located, since I've never tried to use mono with Nancy before.  Do you have any thoughts where that is located?

[2016-03-23 19:01] tidusjar commented on #72
@mescon What does the meteor version do to fix this issue?

[2016-03-23 19:04] tidusjar commented on #50
It's not using supervisor. But from what the post is saying is that Nancy (PlexRequests) cannot see Mono maybe... I'm going to spin up a Ubuntu VM and see what I can do.

[2016-03-23 19:04] Fogest commented on #50
https://github.com/NancyFx/Nancy/wiki/Hosting-Nancy-with-Nginx-on-Ubuntu#install-supervisor

The supervisor according to that Nancy page is actually a whole separate program.

[2016-03-23 19:06] tidusjar commented on #50
Yes I seen that, I'm not sure if you require it as i'm not self hosting, i'm using the OWIN middleware.

[2016-03-23 19:08] maxsmart commented on #50
Yeah, I found this here: http://supervisord.org/configuration.html but doing a find on my entire root partition I'm not able to located a "supervisord.conf" file anywhere

[2016-03-23 19:10] tidusjar commented on #50
@maxsmart I know this is a big as, but are you able to follow https://github.com/NancyFx/Nancy/wiki/Hosting-Nancy-with-Nginx-on-Ubuntu#install-supervisor and try running it with supervisor?

[2016-03-23 19:10] mescon commented on #72
I run it with:
``ROOT_URL=http://localhost/requests meteor``
... as opposed to:
``meteor``

[2016-03-23 19:11] tidusjar commented on #72
So then everything runs under `/requests` e.g. `/requests/admin` ?

[2016-03-23 19:14] mescon commented on #72
yeah exactly..., so for my nginx I just do (proxy-control.conf is just some authentication and other stuff)
[code]

[2016-03-23 19:15] mescon commented on #72
The important thing is to make sure all clickable items/urls/images/css/js are all with `relative` paths and NOT absolute paths ../images/bla.png instead of /images/bla.png as that would lead to http://whatever.com/images/bla.png when it is supposed to be http://whatever.com/requests/images/bla.png

[2016-03-23 19:23] Fogest commented on #50
@tidusjar I'm not sure what is happening now lol:

[code]

Getting 500 error still:

[code]

[2016-03-23 19:35] tidusjar commented on #50
Hmmm ok. Thanks for trying

[2016-03-23 20:12] khellang commented on #50
Have you guys pinged the Mono guys? This seems to me like a Mono bug, since it's deep in the CodeDom APIs. It would be weird if we, from a Nancy POV, are passing the same arguments to the CodeDom APIs on two different platforms, but get different results. I would suggest either asking in their [gitter channel](https://gitter.im/mono/mono) or filing an issue there.

[2016-03-23 20:13] khellang commented on #50
Also, FYI; we've released a 2.0-alpha where we've switched out all the CodeDom APIs for view compilation with Roslyn. Might be worth testing that out :smile:

[2016-03-23 20:29] tidusjar commented on #50
Thanks for the assistance @khellang . I'll speak with the mono guys now.

[2016-03-23 20:42] tidusjar commented on #50
@Fogest Just installed Ubuntu 14.04, installed mono via `sudo apt-get install mono-complete` and I was able to run PlexRequests and set it up with no error :disappointed:

[2016-03-23 21:04] Fogest commented on #50
@tidusjar if you look at the version of mono I had it was a 3.* version. The mono in the package is a 4.* version.

I decided to upgrade to the latest mono in the package and it looks like it does work now.

[2016-03-23 21:05] tidusjar commented on #50
Oh really? So it's all working!? :confounded:

[2016-03-23 21:06] Fogest commented on #50
Yeah it looks like it is running fine now :)

[2016-03-23 21:07] tidusjar commented on #50
That should have really been my first point of call... Well i'm glad it's working!

[2016-03-23 21:07] #50 closed

[2016-03-23 21:13] #57 closed

[2016-03-23 21:16] Fogest opened #78 "Email notifications smtp username invalid"
I am trying to use Sendgrids SMTP to send email however I am being told by PlexRequest that my username is not valid. I assume this is because my username is not formatted like an email, however the sendgrid SMTP does not want an email in the username part of the connection.

[2016-03-23 21:20] tedrock opened #79 "Unhandled Exception"
Using FreeNAS FreeNAS-9.3-STABLE-201602031011
Updated to v1.4.1 and now everytime I try to launch I get the following error. It worked fine before updating and even worked once after updating.

Unhandled Exception:
System.ApplicationException: Error retrieving response. Check inner details for more info. ---> System.Runtime.Serialization.SerializationException: Invalid JSON string
  at RestSharp.S

[2016-03-23 21:21] tidusjar commented on #78
Yes that is correct.

I'll change this for the next release (in the next few days)

[2016-03-23 21:23] tidusjar commented on #79
Looks like it has attempted to upgrade the database and lookup all your requests to convert them over to the new format but has failed. This was a 1 time migration.

Sorry about this but are you able to delete the file in your install directory `plexrequests.sqlite`.

The reason we had to migrate the DB was so that all the requests could be stored in a different format that would not require datab

[2016-03-23 21:26] tedrock commented on #79
Removed file, issue remains. Unless the file is stored outside the install location.

[2016-03-23 21:27] tidusjar commented on #79
Did you restart PlexRequests?  Can you please send me your log file located in the install directory e.g. `2016 03 23.log`

[2016-03-23 21:34] tidusjar commented on #46
Waiting for next release

[2016-03-23 21:35] tedrock commented on #79
It will not start so I cannot restart it. I restarted the jail it's located in though.

The log does not appear to show anything relevant.
http://pastebin.com/Q3LdTmWJ

I originally attempted to restart because I could not logger connect to the tool. This is the second time the issue has occurred since updating, the first time I just deleted the whole thing and reinstalled and reconfigured.
It wil

[2016-03-23 21:38] tidusjar commented on #79
So when the application starts up your get the error from the first post?

Are you sure there are no recent log files as it logs the following before entering any code:
`Getting product version`

[2016-03-23 21:41] tedrock commented on #79
https://www.dropbox.com/s/8bnfo3axj6x67js/www.dropbox.com.url?dl=0 that's the log file there are two others, one for the 22nd and one for the 21st. I also just discovered I can run it fine via Windows by double clicking the EXE. That caused a new PlexRequests.sqlite to be created but I still cannot launch it via FreeNAS.

[2016-03-23 21:49] tidusjar commented on #79
Thats strange, the reason why there is nothing in the 2nd log is because it rolled over from the 21st.

1. So are you still getting the same error from the first post?
1. What mono version are you running?

[2016-03-23 21:55] tedrock commented on #79
Mono JIT compiler version 4.2.2 (Stable 4.2.2.10/7b87787 Sat Mar 12 03:34:34 UTC 2016)
I am getting the same error but I just noticed github converted some of it to formatting.

Here is the full error:
`Version: 1.4.1

Unhandled Exception:
System.ApplicationException: Error retrieving response. Check inner details for more info. ---> System.Runtime.Serialization.SerializationException: Invalid JSO

[2016-03-23 22:01] tidusjar commented on #79
That's fine, I know what is going on but I don't understand how.

If you have deleted your database it should not go to this line in the log `PlexRequests.Api.TvMazeApi.ShowLookupByTheTvDbId`

This bit of code will stop it https://github.com/tidusjar/PlexRequests.Net/blob/master/PlexRequests.Core/Setup.cs#l90

Are you able to send me your database? the `plexrequests.sqlite` that is in the install

[2016-03-23 22:04] tedrock commented on #79
Do you have an email or anything I can send it to? One of the databases I'm going to surely has API keys and other information I'd rather not make public.

[2016-03-23 22:10] tedrock commented on #79
Wow... I got it to run. I was running it like this before:
`mono /InstallLocation/Plex\ Requests/PlexRequests.exe`
But I tried going into the install folder and running it and it ran fine. I ran it successfully this way multiple times before updating and even a few times after updating.

[2016-03-23 22:12] tidusjar commented on #79
You can send it to jamierees@outlook.com  all of the information is encrypted so it would be difficult to find out unless someone started reverse engineering the code.

That is very strange. I'll take a look to see if I can reproduce this.

[2016-03-23 22:14] tedrock commented on #79
I doubt you want the databases anymore?

[2016-03-23 22:17] tidusjar commented on #79
Yeah probably not. I'll take a look at this tomorrow.

[2016-03-23 22:56] tedrock opened #80 "Unable to grab all TVdb IDs"
It appears PlexRequests cannot grab the TVdb ID 100% of the time which leads to a "Bad Request"
Here are the log sections when you try to approve these bad requests:
Manually approving request: http://pastebin.com/wqf2QPEx
Auto approval: http://pastebin.com/uFFS0Gx5

I was able to reproduce the error with the following shows:
[Wynonna Earp](https://thetvdb.com/?tab=series&id=305582 )
[The Girlfrie

[2016-03-23 23:02] tedrock opened #81 "TV Show URLs are using TVdb IDs for TMDB"
When you click on the title of a TV show it takes you to https://www.themoviedb.org/tv/298368 but that's actually the TVdb ID it's using (https://thetvdb.com/?tab=series&id=298368) so you get a failed search.

The correct ID for the above show is 65367 (https://www.themoviedb.org/tv/65367)

[2016-03-23 23:24] tidusjar commented on #81
This has been fixed in the next release
The bug was #67

[2016-03-23 23:24] #81 closed

[2016-03-23 23:26] tidusjar commented on #80
Interesting. Good find.

We are not using TheTvDb api, in the 1.4.x release we switched to us ring TVMaze.

I shall take a look into this.

[2016-03-23 23:38] tidusjar commented on #50
@maxsmart can you try and upgrade mono please?

[2016-03-24 00:15] maxsmart commented on #50
Yes, upgrading mono seems to have fixed it, I was wary because Sonarr requires mono and had placed a restriction on updating it, but after upgrading to 4.2.1 Sonarr seems to still work and now so does PlexRequests.Net

[2016-03-24 00:16] maxsmart commented on #50
Now if a .exe could be compiled in the main git so that way I could just clone the directory and do a "git pull" to grab the latest version, it would be awesome :)

[2016-03-24 00:58] Fogest commented on #50
@maxsmart I don't think it is usually the best practice to version control a compiled file.

[2016-03-24 01:03] maxsmart commented on #50
Hmmm, well that's how sonarr does it and they are the only other mono-required git application I have.

[2016-03-24 04:19] Logvin commented on #72
The URL did not help, unfortunately. I have NGINX set up and working with CouchPotato and Sonarr no problem.

I think @mescon has it right... you are using absolute paths, not relative paths.

[2016-03-24 07:04] tidusjar commented on #50
I'm pretty sure on yeah release the sonarr guys Push to their own private repository.

[2016-03-24 08:58] tidusjar commented on #80
It seems that TVMaze doesn't have the TheTVDB id's for any of those shows. I've just reported it to the TVMaze guys.

I think I might have to look into querying both the TVMaze api and if I cannot find any results, fallback to TheTvDB somehow.

[2016-03-24 08:58] #80 closed

[2016-03-24 09:07] grumpydev commented on #50
Might be better sticking it in a public dropbox folder and dropping in an "update.sh" / "update.ps1" while you are still updating regularly?

[2016-03-24 09:07] grumpydev commented on #50
Glad it's sorted though :+1:

[2016-03-24 09:27] tidusjar commented on #50
@grumpydev That's a good idea, just need to make sure that the main process is terminated so there are no .dll's in use. Thanks for the assistance again :+1:

[2016-03-24 09:30] tidusjar commented on #79
@tedrock Ah, it's because the database you was deleting was not being created in the install directory, it was being created where you was running the terminal command. I'll take a look at fixing this at some point.

[2016-03-24 10:28] tidusjar commented on #72
I'm going to create a separate branch to be able to test the fix for this (I do not want to make the changes in the main code yet). Once this is complete are you happy to try it out?

[2016-03-24 11:32] tidusjar commented on #78
Fixed, this will be included in the next release.

[2016-03-24 11:32] #78 closed

[2016-03-24 11:33] tidusjar commented on #72
Here is the custom build that has attempted to fix this, please let me know how you get on. If this works I will merge it into the mail codebase.

https://ci.appveyor.com/project/tidusjar/requestplex/build/1.4.50/artifacts

[2016-03-24 12:26] #56 closed

[2016-03-24 12:27] tidusjar commented on #56
Related to #72

[2016-03-24 14:07] tidusjar commented on #49
All finished. Currently we have the ability to change the password. But most of the backend work has been done to allow multiple users and stuff. That will be in a future release.

[2016-03-24 14:07] #49 closed

[2016-03-24 14:08] tidusjar opened #82 "Add the ability to create multiple admins"

[2016-03-24 15:38] ruricu commented on #72
I'm testing 1.4.54 on this branch; 1.4.50 did not appear to have any changes supporting redirects, unless I'm mistaken.

When I launched the app, the console displays "Request Plex is running on the following: http://+:3579/"

I assume this string was changed from previous versions to allow subdir support for Plex Requests itself, but there is no setting in the administration pane, and I could not

[2016-03-24 15:41] tedrock commented on #79
I kind of suspected this, it would explain why my settings were erased and why it worked once or twice depending on how where I was typing the command.

[2016-03-24 15:43] tidusjar commented on #72
Hello, the build 1.4.54 is the latest Development branch and is not stable. The build I provided above has specific changes to how we are redirecting content and hopefully will get around the subdir issue.
I am hoping this build will fix the issue posted here: https://ci.appveyor.com/project/tidusjar/requestplex/build/1.4.50/artifacts

The couchpotato error is difficult to handle as it can vary, t

[2016-03-24 15:44] tidusjar commented on #79
Yep, I know why this is happening. Just need to work out how to correctly locate the directory for each platform.

[2016-03-24 15:44] tedrock commented on #80
Could you possible include a more graceful way to handle the failure? The show currently gets added as "Bad Request (1)" so you have no idea what show it was and it will block all other ID missing requests (you get a message the request already exists).

[2016-03-24 15:46] tidusjar commented on #80
Well since the request is separated from the search it's difficult without changing quite a few of the components, we pass the TVDB id when requesting and that is all, if it doesn't have it, it's difficult to know what was requested. So I could potentially block the request and say it's TVMaze fault and they need to fix it?

Opinion?

[2016-03-24 17:17] Logvin commented on #72
I should have some time tonight (10 hours from this post) to test this out. I'll install the test build and provide feedback.

[2016-03-24 17:18] tidusjar commented on #72
@Logvin Thanks. That would help a lot.

[2016-03-24 17:20] ruricu commented on #72
I installed the 1.4.50 build first, but it doesn't appear to have any options for specifying the SubDir for PlexRequests, **or** for any of the services interfacing with PlexRequests. Using this build, how am I supposed to set SubDirs for any of these things?

[2016-03-24 17:22] tidusjar commented on #72
@ruricu Correct, there are no options, it should just work with whatever path you run it under (or virtual directory).

If it's set up using nginx to run under `http://localhost:4000/requests` it should now redirect you to  `http://localhost:4000/requests/userlogin` :pray:

[2016-03-24 17:59] ruricu commented on #72
For one reason or another, I've been using WAMP/Apache handling my reverse proxies. To this end, a configuration like this has been sufficient:

<VirtualHost *:80>
	ServerName my.domain.here
	ProxyPass /sonarr http://localhost:8989/sonarr
	ProxyPassReverse /sonarr/ http://localhost:8989/sonarr
</VirtualHost>

After some trial and error, the only partially-functional configuration I could find for

[2016-03-24 18:29] tidusjar commented on #72
Thank you for your feedback. I did not start this to make it 'more user-friendly', I started it because I wanted to try out a new .Net framework (Nancy). I admit that my experience with Nancy is lacking, but this is the primary reason for me doing this project (you know, all of this work is also done in my spare time). If you are finding it more 'obscure' there is nothing stopping you from using t

[2016-03-24 19:00] Logvin commented on #72
Just for the record.... it doesnt work in the original version of PlexRequests either, and the work you are doing here is flat out amazing. I really appreciate your work on this and will be looking for a way to donate as soon as my next paycheck comes :)

[2016-03-24 19:03] tidusjar commented on #72
Thank you @Logvin I have left an issue with the guys at Nancy, they have been amazing assisting me with some of the issues i've had. Hopefully they will be able to point me in the right direction to get this working for you.

[2016-03-24 19:45] #69 closed

[2016-03-24 20:03] ruricu commented on #72
@tidusjar I'm sorry that my feedback came across as dismissive or condescending. That was truly nowhere near my intent. I am genuinely excited about the additional features you've implemented here as compared to the original PlexRequests.

What I was trying to convey is that you seem to be "divining" a url base from an external request in a way that is unique to your project when compared to the e

[2016-03-24 20:09] jchannon commented on #72
So what I do is run the Nancy self host on 127.0.0.1 and then nginx to proxy calls. That way the Nancy app isnt exposed to the world.

[code]

Here's my nginx conf. Now bear in mind this has a load of SSL stuff which you probably don't need just to get a simple demo going but this all works in production.

[code]

[2016-03-24 23:17] #59 closed

[2016-03-24 23:49] tidusjar commented on #72
Thanks for the help @jchannon does this work for anyone else?

[2016-03-25 00:25] Auwen opened #84 "Only allow users to see their Requests"
I would like to have an option that would make it so that users can see only the requests they've made, not everyone's. While the Admin account would see all of course. #

[2016-03-25 00:46] Auwen opened #85 "JSON errors when using Approve All"
Tried to use Approve All for _lots_ of movies and a few TV shows. Clicking on Approve All gives the Something Went Wrong error.

Looking at the error, it states:
`2016/03/24 19:37:10.781 PlexRequests.Api.ApiRequest Fatal: Newtonsoft.Json.JsonSerializationException: Cannot deserialize the current JSON array (e.g. [1,2,3]) into type 'PlexRequests.Api.Models.Sonarr.SonarrAddSeries' because the type r

[2016-03-25 00:54] Auwen opened #86 "Show the item name in the "Success" or "Already in Plex" notifications"
Enhancement to just say something like "[Movie_Title] ([Year]) successfully added!" instead of just "Successfully Added", etc.

This way, when adding multiple items quickly, and one fails, you can easily tell which one.

[2016-03-25 00:59] Auwen commented on #85
I was able to Delete the shows that I had manually added, re-ran Approve All and it worked.

[2016-03-25 03:01] shiitake commented on #85
@Auwen - you're correct in your assessment. PR checks Plex when the request is created but it probably needs to check Plex again if approval is required for the requests.

At least there is a workaround for it.

[2016-03-25 03:03] shiitake commented on #86
Good call!

[2016-03-25 04:49] Logvin commented on #72
@jchannon I gotta admit, what you are doing is a bit above my head.

Here is what I have in my NGINX.conf file:

			proxy_pass http://127.0.0.1:3579;
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		}
		location /CouchPotato {
			proxy_pass https://127.0.0.1:5050;
			proxy_set_header Host $host;
			proxy_s

[2016-03-25 04:58] Logvin commented on #72
@tidusjar I just installed the custom build you made, it did not help the redirect issue. When I go to domain.com/requests, the URL is immediately changed to domain.com/userlogin

[2016-03-25 10:43] tidusjar commented on #72
Thanks for confirming that @logvin .
@jchannon it seems that the issue is I am redirecting them to /uselogin/ when they are not logged in

[2016-03-25 10:45] tidusjar commented on #84
Good idea!

[2016-03-25 10:50] jchannon commented on #72
I think the nginx conf should proxy all requests not have separate location
configs. Try that first and see how you go

On Friday, 25 March 2016, Jamie <notifications@github.com> wrote:

[2016-03-25 10:55] jchannon commented on #72
Try this:

worker_processes 4;

events { worker_connections 1024; }

http {
    upstream web-app {
        server webapp1:5090;
        server webapp2:5090;
    }

    server {
      listen 80;

      location / {
        proxy_pass http://web-app;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection keep-alive;
        proxy_set_heade

[2016-03-25 13:19] tidusjar commented on #85
I think the issue is thatwe are attempting to try and add it to Sonarr/SickRage but it is already present.

    "errorMessage": "This series has already been added"

 We could check if it's in Plex when approving but it might not be in Plex but will be in Sonarr/SickRage...

I might be worth Rechecking if the content is in Plex and also see if we are able to check the `errorMessage` we get back.

[2016-03-25 14:56] heartisall opened #87 "Not receiving pushbullet notifciations for TV shows requested."
I'm receiving notifications for movies just fine, but I logged in today and noticed several tv series were requested over the past few days that I wasn't notified of.

[2016-03-25 14:59] tidusjar commented on #87
Really? That's strange, are you able to request a tv show and not get a notification now?

[2016-03-25 15:02] heartisall commented on #87
Odd I just closed Plex requests and reopened it, logged in as one of my users and requested something and now It's working. I'll chalk it up as a fluke for now.

[2016-03-25 15:05] tidusjar commented on #87
Hmm strange. I'm not sure why that would happen, There is 0 difference for notifying for movies or TV shows... I'll close this for now but if it happens again please let me know.

[2016-03-25 15:05] #87 closed

[2016-03-25 17:01] #68 closed

[2016-03-25 17:01] #62 closed

[2016-03-25 18:46] Fogest commented on #50
As a side note, to background this process effectively on Linux with how it is setup, it does look like using that supervisor thing is a good idea anyway.

[2016-03-25 18:51] Codehhh opened #90 "Start PlexRequests on boot (mono)"
Mono flag to disable "Press any key to exit" to allow PlexRequests.Net to auto start on headless Debian server?

If there is another way to start "mono PlexRequests.exe" on boot this is not necessary.

[2016-03-25 18:53] tidusjar commented on #90
What version are you running? I just release v1.5.0 that has better startup options for Linux.

[2016-03-25 19:16] Codehhh commented on #90
Wow, that's some good timing! I've been trying to get it to autostart for the past couple of days!
Got it working perfectly after a little bit of tinkering.

[2016-03-25 19:16] #90 closed

[2016-03-25 21:43] curlz620 opened #91 "500 error"
I recently set plexrequests .net up and ran into an internal 500 error when attempting to access it. I unblocked the application and attempted to launch as an admin, but still run into this problem. Is there something during installation I am missing?

[2016-03-25 21:45] curlz620 commented on #27
I love this feature. This would be amazing since a lot of users request something and they never watch it since they forget and don't see it being released.

[2016-03-25 21:46] curlz620 commented on #47
Just a thought, if this feature is added it would be really nice to be able to disable the multiple quality request. I generally keep my requests at a lower quality and I feel many of my users would request high quality even though they stream at lower qualities.

[2016-03-25 21:56] tidusjar commented on #91
When you download the .zip file you should unblock the zip. Windows blocks .zips from unknown sources. That's it really. I've mentioned it in the FAQ and on the readme.

So try and unblock the whole zip?

[2016-03-25 21:57] tidusjar commented on #27
There's quite a few things that need to be done to make this happen. We would need to store the users details e.g. Email address. It is planned. Just don't know when it will be done (sooner rather than later)

[2016-03-25 21:58] tidusjar commented on #47
That's not a bad idea. can just add a new setting to enable requesting of higher quality.

[2016-03-25 22:42] tidusjar commented on #76
As you know, this has been done :) It will be in the next release now :+1:

[2016-03-25 22:42] #76 closed

[2016-03-25 23:07] curlz620 commented on #91
Thank you!
I guess i misunderstood. I unblocked just the application after it was extracted. Thanks for the quick reply.

[2016-03-25 23:07] #91 closed

[2016-03-25 23:22] curlz620 commented on #26
This would be amazing. since a lot of users request an entire show with 20+ seasons and only want the last two. If a user selects season 5 and its currently airing season 7 would it start grabbing the new episodes as they air? I could see a user wanting to request season 5,6, and 7 and all new episodes.

[2016-03-26 00:12] curlz620 opened #93 "Pushover Notifications not working"
I set up pushover and am able to test the same account using Plex Requests Meteor, but on .net it seems to not be working. I registered a new app within pushover just in case, but I cannot get it to send a notification. I even tried my wife's plex account to see if it wouldn't send notifications to the admin, but this didn't work either.

This also brings up the idea of adding a test button to the

[2016-03-26 00:12] tidusjar commented on #26
There would be a list of seasons in some sort of modal where they can check (checkboxes) what ones they are requesting.

[2016-03-26 00:13] tidusjar commented on #93
There is a logs folder in the install directory, are there any errors? And i'm assuming it's enabled?

[2016-03-26 00:16] tidusjar opened #94 "If we request something is in Plex, the button stays at 'Loading ...'"

[2016-03-26 00:17] curlz620 commented on #93
2016/03/25 18:45:49.666 PlexRequests.UI.Program Trace: Getting product version
2016/03/25 18:45:49.682 PlexRequests.UI.Program Info: Version: 1.5.0
2016/03/25 18:45:49.682 PlexRequests.Store.DbConfiguration Trace: Checking DB
2016/03/25 18:45:49.682 PlexRequests.Store.DbConfiguration Trace: DB doesn't exist, creating a new one
2016/03/25 18:46:57.112 PlexRequests.UI.Program Trace: Getting product

[2016-03-26 00:19] tidusjar commented on #93
Are you looking in the settings or the `/logs` folder in the install directory?

And you got it enabled and also the Api Key is the app key and the User Token is the user key right?

[2016-03-26 00:25] curlz620 commented on #93
that is the from /logs folder in the file 2016-03-25

I believe the logs are enabled. i double checked and clicked debug then submit and rerequested a movie. Yes I checked the User and API key a few times, they are correct. I also tried error as well for the log level. either way it doesn't make a change to the log file.

[2016-03-26 00:26] tidusjar commented on #93
Can you jump on gitter? https://gitter.im/tidusjar/PlexRequests.Net

[2016-03-26 00:59] tidusjar commented on #46
@causefx can you check if it's resolved with the latest release?

[2016-03-26 01:04] tidusjar commented on #93
This bug has now been fixed. I'll raise a separate issue for the test buttons.

[2016-03-26 01:04] #93 closed

[2016-03-26 01:04] tidusjar opened #96 "Add test buttons to all the notifications"
Add test buttons so the user can test their notifications

[2016-03-26 01:08] causefx commented on #46
@tidusjar  sure, let me update it real quick :)

[2016-03-26 01:16] causefx commented on #46
@tidusjar `Connected to CouchPotato successfully!`

Nice!  I will go test other areas now :)

[2016-03-26 01:29] curlz620 commented on #73
Until this is changed with auto-update or something. maybe throw this up on the main page under installation? had to hunt for it.

[2016-03-26 02:10] curlz620 opened #97 "404 error page when searching"
When you click on the movie title while searching it will go to a 404 error page instead of IMDB.com

This is not an issue when click on title once requested.

[2016-03-26 02:17] tedrock commented on #73
I found it in the FAQ thus why I closed this, I had no idea people were commenting on it.

[2016-03-26 11:02] tidusjar commented on #73
I'll add it to the main page (readme)

[2016-03-26 12:34] #97 closed

[2016-03-26 12:51] tidusjar commented on #94
Fixed in v1.5.2

[2016-03-26 12:51] #94 closed

[2016-03-26 12:51] tidusjar commented on #97
Fixed in v1.5.2

[2016-03-26 14:11] curlz620 opened #99 "V1.5.2 is still V1.5.1"
Just grabbed the V1.5.2, but upon launch and checking in the status page it is still V1.5.1

[2016-03-26 14:12] tidusjar commented on #99
Yeah I didn't bump up the version number... I've not been on top form the past few days!

[2016-03-26 14:29] curlz620 opened #101 "Mylar Support"
Add support for requesting Comics via Mylar.

[2016-03-26 14:35] curlz620 commented on #99
Looks good now,

Thanks!

[2016-03-26 14:35] #99 closed

[2016-03-26 17:08] causefx opened #103 "Integrate with Lazy Librarian"
:)

[2016-03-26 17:10] tidusjar commented on #103
What's Lazy Libarian? :)

[2016-03-26 17:12] causefx commented on #103
auto-searcher for Books and Magazines :)

https://github.com/lazylibrarian/LazyLibrarian

[2016-03-26 22:11] curlz620 commented on #103
i've seen this, but i thought development on it stopped?

[2016-03-26 23:40] EddiYo opened #105 ""Something went wrong" when adding some preexisting series to Sonarr."
Tried with a few different series that have not started yet, like "Marseille", "Outcast" and "Hunters".

Got the same error when adding "Doctor Who (2005)" which I already have.All it feeds back to the requesting user is a "Something went wrong" message.

Here is the logfile of the latest attempt.

![fatal](https://cloud.githubusercontent.com/assets/17574014/14062969/6185855e-f3b4-11e5-8c52-3c3913

[2016-03-27 00:03] tidusjar commented on #105
This is a known 'issue' area. The application doesn't give great feedback at the moment but we are working on that. The issue in the screenshot above is because you are attempting to add to Sonarr, but it's rejecting it because it's all ready in sonarr.

[2016-03-27 00:08] EddiYo commented on #105
Yeah, kinda figured as much. Did a quick search to see if there was any open issues on it, but did not find one right of the bat, so created one.

It's more of an issue for the requesting users, than it is for me with access to the log files. The reason I noticed this, was that I tried to populate the request list with every new item coming out "soon" so that the users themselves would not need to

[2016-03-27 00:12] tidusjar commented on #105
Yeah sorry about that. It will be fixed sooner rather than later as its a pain!

I'm going to close this one off and use #85 as the master.

Thanks for reporting this.

[2016-03-27 00:12] #105 closed

[2016-03-27 00:13] tidusjar commented on #103
What's the difference between this and Mylar?

[2016-03-27 00:14] causefx commented on #103
Mylar is strictly comics

[2016-03-27 00:17] tidusjar commented on #103
Oh ok!

I can add it to the backlog but unfortunately it isn't going to be done anytime soon, the next thing is Headphones and user integration

[2016-03-27 00:20] causefx commented on #103
Take all the time in the world. No rush. You're the best!!!

[2016-03-27 01:11] EddiYo opened #106 "More options for sorting of requests"
Hi,

Any chance of some better control when sorting the requests? As it stands right now, "Default" and "Requested Date" does not really change much. For me, it is always preferable that the latest request is the one that shows at the top of the list, and not on the buttom of the list like it is now. If you have quite a few requests, the scrolling down part is a bit counterproductive.

And it seem

[2016-03-27 07:58] tidusjar commented on #106
Yes that's probably the best idea to have latest at the top by default. We will change that!

[2016-03-27 15:08] Auwen opened #107 "System.Net.Sockets error, crashing PR"
Getting an error that is crashing Plex Requests, but doesn't show up in the log, only shows on the command prompt window. Here is the error: http://i.imgur.com/kwURyJI.png

None of it makes sense to me and maybe it's not Plex Request, but Windows erroring out. Seems to happen within 24 hours, but I don't watch it closely enough to tell the time table.

[2016-03-27 15:18] Auwen opened #108 "Plex Requests querying Plex incorrectly?"
There are a few movies that Plex Requests seems to get confused when querying Plex. If I try to add Joy to PR, it says that I already have it but I don't. I have several episodes of different with the word "joy" in them and a show, "The Joy of Painting".

It also says that I have The Jungle Book (2016) but that's not even out yet, though I do have the 1967 version.

But what seems odd is that ther

[2016-03-27 18:18] Codehhh opened #109 "Unable to start on Debian"
I had to do a fresh install on my NAS, but now I can't get PlexRequests to run.
<img width="1268" alt="screen shot 2016-03-27 at 2 16 04 pm" src="https://cloud.githubusercontent.com/assets/12055335/14066962/a55d1ed2-f426-11e5-8978-1547de0ec8e3.png">

[2016-03-27 18:53] Drewster727 commented on #109
I *think* I had something similar to this if you only have the runtime version of mono installed. Try installing the complete or developer version of mono to load all of the libraries.

[2016-03-27 19:30] Codehhh commented on #109
Thank you so much! Installing mono-complete fixed the problem!

[2016-03-27 19:30] #109 closed

[2016-03-27 19:46] tidusjar commented on #107
That's strange, it seems that it's attempting to connect to Plex to check if there are any updates on availability for the requests and it cannot connect and is bombing out. If it can't connect it usually just returns that nothing has been updated, but in your case there is something different going on. Do you have any logs in the `logs` folder in the install directory?

[2016-03-27 19:49] tidusjar commented on #108
Yeah that's slightly a problem.

I think this area needs to be taken a look at, at first it would try and match the title, but sometimes the title contains a year or is slightly different than what TheTVDB contains, so I included the year of the movie too...

But we are doing a `contains` so this is a bug. I suggest we fix this asap.

[2016-03-27 19:55] Auwen commented on #107
I do have logs, but they don't contain any errors right before it dies like one would think.

I'll clear the logs, let it run, and report back with them next time it happens.

[2016-03-27 20:59] tidusjar commented on #107
It does seem quite unusual.

I'll keep this open for a few days.

[2016-03-28 15:17] Auwen commented on #107
PR crashed again, but slightly differently. Not sure if it's related, I'll be more than happy to split off into a different Issue if needed.

It crashed in the same way, but not a System.Net.Sockets error this time. This was a System.NullReferenceException. This happened when I tried to Remove the movie Happy Feet Two from PR.

Image of error in CMD promt: http://i.imgur.com/xCIS3vB.png
Pastebin o

[2016-03-28 15:21] Auwen opened #111 "Undo button for Removes"
Very low priority enhancement, but I just found out that it would be nice to have an Undo button for when requests are Removed. If possible, it could go on the notification itself.

[2016-03-28 15:28] tidusjar commented on #111
Go on the notifications?

[2016-03-28 15:30] tidusjar commented on #107
It crashed this time when attempting to check if the current requests are in Plex (Does this every 5 minutes).

Do you have any logs of it saying anything about the `PlexAvailibiltyChecker` around this time?

[2016-03-28 15:33] Auwen commented on #111
Maybe popup was a better work. Like this crude model.

![2016-03-28_10-29-53](https://cloud.githubusercontent.com/assets/12058855/14081473/761fe92e-f4d0-11e5-825a-3ba46027d616.png)

[2016-03-28 15:50] tidusjar commented on #111
Ahh I see what you mean!

[2016-03-28 16:09] heartisall opened #112 "Can't connect to couch potato over SSL"
In the older versions I was actually able to connect just fine by putting https://  in the hostname box before the IP or using the check box. With version 1.5.2 I am not able to connect when I check the SSL check box. This is the Error I'm getting in the log:

`System.ApplicationException: Error retrieving response. Check inner details for more info. ---> System.Net.WebException: Unable to connect

[2016-03-28 16:10] Auwen commented on #107
Through the two logs that I have from yesterday and today, I found no `PlexAvailibiltyChecker` anywhere.

[2016-03-28 16:15] #112 closed

[2016-03-28 17:31] tidusjar commented on #112
@heartisall Why did you close it?

[2016-03-28 18:23] heartisall commented on #112
Sorry, I found out it had to do with couch potato. For some reason the API key is different in couch potato now so when I copied it over and put it in my new install of 1.5 it didn't work. When I used the old API key from my 1.4.1 install it works. Literally makes no sense, but fairly certain it's a CP issue not Plex Requests

[2016-03-28 21:20] mattg1000 opened #113 "Feature Request: Add ability to send test email notification"
Add ability to send test email notification under Admin > Settings > Email Notifications to validate that settings are correct.

[2016-03-28 21:22] mattg1000 commented on #113
Actually it seems this was already requested in #96

[2016-03-28 21:22] #113 closed

[2016-03-28 21:39] Drewster727 opened #114 "Allow choosing a quality profile upon approving"
I'd like to be able to pick the quality profile when I go to approve a movie/show. If the category is set to auto-approve, it should use the default. I tend to change the quality profile depending on the age of the show/movie.

I think this can be done from a UI standpoint easily via a bootstrap button dropdown.

[2016-03-28 22:33] tidusjar commented on #114
Yeah pretty good idea. should be a setting for this. Some people might just want to download the quality selected in the settings.

[2016-03-29 03:00] Drewster727 opened #115 "Cast/Crew/Genre Information"
Would be nice to see some basic cast/crew information in the results. Maybe something like the following:

Cast -- top 3-4 actors/actresses
Director(s)
Writer(s)
Genre
Rating (5 star scale?)

I know you can get to this by clicking the link, but it's nice to see at a glance if you've got the right show or movie.

[2016-03-29 03:02] Drewster727 opened #116 "imdb links don't work for movies"
redirects you to... http://www.imdb.com/title//

additionally, this should always open a new tab rather than taking you away from PR.

[2016-03-29 06:44] tidusjar commented on #116
This has been fixed in release 1.5.2

[2016-03-29 06:44] #116 closed

[2016-03-29 06:45] tidusjar commented on #115
My only concern is that there will be too much information displayed. But we can look into it.

[2016-03-29 07:47] tidusjar commented on #108
The issue is that if we do an exact match on the Title I am worried that the titles will differ in Plex compared to TVMaze, we need to match on Title and Year as Plex does not provide any sort of unique id in it's API's.

[2016-03-29 08:34] tidusjar opened #117 "Admin Module is getting a bit big"
I suggest we split it out.

Opinions?

[2016-03-29 09:38] tidusjar commented on #108
@Auwen How much is this bug preventing you from working with PlexRequests?

I am debating to either wait until the next release or push out a minor build (v1.5.3).

[2016-03-29 09:49] tidusjar commented on #85
The code has been changed to now feedback any errors we get from Sonarr back to the user. So if the series is already in Plex the user will be notified in the UI for this. In regards to 'approve all', We log that the series is in Plex so we couldn't send it over rather than an error message

[2016-03-29 09:49] #85 closed

[2016-03-29 10:03] tidusjar opened #118 "Improve the email notifications"
Make it look a bit nicer

[2016-03-29 11:15] #46 closed

[2016-03-29 11:18] #65 closed

[2016-03-29 11:21] tidusjar commented on #107
@Auwen Looking through the code there is a race condition where it would be possible to get this error if you deleted a request while we are checking Plex to update the availability. I shall plus this hole, but did you delete a request at the time?

[2016-03-29 11:43] Auwen commented on #107
It is extremely possible, but I am unsure at this time. I'll keep an eye out.  Though, I know there's been a few crashes that happened in the middle of the night, so maybe those aren't related?

[2016-03-29 11:45] Auwen commented on #117
Can you describe a bit more on what you think is the problem and solution? Are you talking about the Admin > Settings page?

[2016-03-29 11:47] tidusjar commented on #117
Sorry, this is more of a technical implementation.

For each area of the application we have a `module`. All of the admin stuff is in a single module and it is quite big now and is going to continue growing (more settings + headphones etc).

[2016-03-29 11:48] tidusjar commented on #107
@Auwen I don't understand why your version is crashing... It could be possibly something to do with either your data OR your environment.

If you want me to keep digging into this are you able to send me your `plexrequests.sqlite` file to jamierees@outlook.com ?

To do this take a backup of your `plexrequests.sqlite`.
Then go back into the settings and do the following:

1. Remove all your API key

[2016-03-29 11:48] Auwen commented on #108
It's annoying, but not workflow breaking as I can always add manually to CouchPotato. No user has ran into the issue yet to my knowledge.

[2016-03-29 11:49] tidusjar commented on #108
Well the next release will possibly be next week sometime. So it might be worth me pushing out a minor release.

[2016-03-29 11:53] Auwen commented on #108
Next week is well soon enough for me. Most of my large requests are done and I'm patient.

[2016-03-29 11:54] tidusjar commented on #108
Ok no problem, I will close of this issue since it has been fixed in the code and will be in the next release (Date TBC but sometime next week hopefully).

[2016-03-29 11:54] #108 closed

[2016-03-29 13:20] heartisall opened #119 "PlexRequests.UI has stopped working"
About once per day I am getting this error. I was also getting it with 1.4.1 but I thought it was due to a bad upgrade on my part. With 1.5.2 I set it back up from scratch. This is on a Server 2012R2 box with nothing else running currently. I am getting this error when it happens:

`Version: 1.5.2
Request Plex is running on the following: http://+:3579/
Press any key to exit

Unhandled Exception:

[2016-03-29 13:30] tidusjar commented on #119
It could possibly be because the request is falling back to SSL3, I've changed it so we not specify a security protocol type of TLS so this should fix it.

How urgent is this?

[2016-03-29 13:34] heartisall commented on #119
Thanks @tidusjar . It's not super urgent when I see the domain not resolving I just login to the server and restart the .exe . I can wait for the next release, just wanted to bring it to your attention. Thanks for the help

[2016-03-29 13:35] tidusjar commented on #119
Well thank you for letting me know! :)

[2016-03-29 13:35] #119 closed

[2016-03-29 15:42] Drewster727 commented on #115
I agree, too much info would hurt, maybe something to think about.

[2016-03-29 15:44] Drewster727 opened #120 "Error when loading status page"
Hosting PR on ubuntu server, initializing via mono, I get this error when going to the status page:

Error Details

Nancy.RequestExecutionException: Oh noes! ---> System.FormatException: Invalid format.
  at System.Net.Http.Headers.HttpHeaders.AddInternal (System.String name, IEnumerable`1 values, System.Net.Http.Headers.HeaderInfo headerInfo, Boolean ignoreInvalid) [0x00000] in :0
  at System.Net

[2016-03-29 18:58] Drewster727 commented on #117
perhaps a module for each settings section, maybe a base class that would provide us what we need in terms of injection? the URLs would all have a root path of /admin/... ?

[2016-03-30 08:04] tidusjar commented on #107
What version are you running?

I think I got a rough idea where the problem is but I think your running version 1.5.1?
If so can you please upgrade to 1.5.2 as that will fix the logs not appearing issue.

It looks like that for some reason we are either losing connection to CP/Sonarr and it's also returning `{ "error": "Unauthorized" } ` which is unusual.

[2016-03-30 09:48] tidusjar commented on #117
@Drewster727 That is a good idea. I suggest we do this for 1.7.

[2016-03-30 09:51] tidusjar commented on #60
@WinstonP Who would the notification go to? The admin, so push a new notification if we find that we now have a new movie/tv show in Plex?

[2016-03-30 13:46] heartisall opened #121 "Remember Me not working for admin"
I have only tried in chrome but even when I tick the "remember me" check box I always have to login. The Username and PW is not being stored or prompted by chrome to be remembered.

[2016-03-30 14:39] Auwen commented on #107
PlexRequests is showing Version: 1.5.2 and no update available.

I can wipe it out and re-install if you think it'd help.

[2016-03-30 14:42] Auwen commented on #115
Instead of showing that information by default, you could have an "More Info" button for each result, requiring the user to click to see but not leave the page.

[2016-03-30 14:46] tidusjar commented on #107
I don't think that will help.

I'm going to do some work to make the area that i'm pretty sure that is failing more robust tonight.

[2016-03-30 16:09] Drewster727 opened #122 "Requested Date time is incorrect"
Requested a movie/show, then go check when it was requested, mine says "5 hours ago" even though it was requested less than a minute ago.

I think we're doing just a simple DateTime.Now when saving requests. We probably need to start storing this in UTC and convert as necessary.

[2016-03-30 16:11] Drewster727 commented on #115
Great idea. That would keep the initial tmdb api request fast and responsive, then query the api for cast info when clicking show info.

[2016-03-30 16:11] tidusjar commented on #122
We are doing a `DateTime.Now` which will return the local computer time that the code is running, I'm assuming your server doesn't have it's clock set correctly?

I agree using UTC and then converting it is the better way to do it, but If we are going to do this we will need to store the Users timezone and then also the requesting users timezone so it also appears correct for them.

[2016-03-30 16:12] tidusjar commented on #115
I agree.

[2016-03-30 21:04] Drewster727 commented on #27
can we query the user's plex email address from the plex api? I'm going to assume no... but figured I'd ask.

[2016-03-30 21:04] tidusjar commented on #27
That's a good point. I think it does contain that.

[2016-03-30 21:07] Drewster727 commented on #27
if that's the case, we can enable this option in the email settings start and do it pretty easily.

[2016-03-30 21:08] tidusjar commented on #27
We still need to allow the user to enable it. They may not want the notifications.

[2016-03-30 21:10] Drewster727 commented on #27
o right, of course. :+1:

[2016-03-30 21:25] Drewster727 commented on #122
The time clock is properly set to my time zone so I don't know how this could be. Reproduced on my dev windows box and prod linux box.

[2016-03-31 08:58] tidusjar opened #123 "Make the Plex Availability Checker more robust"

[2016-03-31 09:53] tidusjar commented on #123
Currently testing on my server to make sure the new changes work.

[2016-03-31 12:53] tidusjar commented on #32
@shiitake I added you to this card, Since you would be able to have a better understanding what the requirement are for the API side of things.

[2016-03-31 12:54] tidusjar commented on #123
Seemed to have worked pretty well. There is a lot more logging now though. Might look at reducing it.

[2016-03-31 13:33] Drewster727 commented on #106
We've got this one added to 1.6.. We have 4 options now.

- Recent Requests (default)
- Older Requests
- Recent Releases
- Older Releases

[2016-03-31 13:33] #106 closed

[2016-03-31 13:35] Drewster727 commented on #96
added to 1.6

[2016-03-31 13:35] #96 closed

[2016-03-31 13:36] Drewster727 commented on #54
added to 1.6

[2016-03-31 13:36] #54 closed

[2016-03-31 13:36] Drewster727 commented on #84
added to 1.6

[2016-03-31 13:36] #84 closed

[2016-03-31 13:46] EddiYo commented on #106
Not sure if this really matters that much, but would calling the default one "Latest Requests" maybe make it easier for a user to distinguish? "Recent" is a relative term, "latest" makes it more specific. But I may be way off.

[2016-03-31 13:51] Drewster727 commented on #106
I see what you mean, you're probably right, "Latest Requests" is a little more user friendly. We'll fix that

[2016-03-31 16:12] Drewster727 opened #125 "Indicate in search results if an item is already requested or available"
Start comparing external API searches with what is already available/requested and give a clear indication in the search results.

i.e. movie A has already been requested, the user searches and sees movie A in the results, it should not have a request option (instead it should say "Already Requested" or "Already Available") -- something to that effect.

[2016-03-31 17:37] #55 closed

[2016-04-01 03:23] Drewster727 commented on #122
fixed

[2016-04-01 03:23] #122 closed

[2016-04-01 06:02] EddiYo commented on #27
How about making that a checkbox when they do add the requests @tidusjar ?

Maybe even add the possibility of checking and unchecking notifications for requests made for other users as well? Probably not as easy as it sounds to implement tho..

[2016-04-01 08:45] tidusjar opened #126 "Update the preview in the readme.md"
Update the preview with the new look and feel of v1.6

[2016-04-01 16:53] nucshuco commented on #107
I am getting the random crashes also.
It happens a couple times a day.
I’m on windows 7 64

[2016-04-01 19:16] tidusjar commented on #107
I think I know the problem area and have made it a lot more stable in the development branch. 1.6 will have these changes to hopefully fix this.

[2016-04-01 20:25] tidusjar commented on #27
@EddiYo I think that will complicate things, All we need is a page where the user can enable notifications, and they can turn it off and on :) We don't need their email as we can get it from the Plex Api. But if they want pushbullet or pushover notifications then we will need their api keys.

[2016-04-01 21:46] tedrock opened #128 "DB Lost After Upgrade"
#### Plex Requests.Net Version: 1.5.2

#### Operating System: FreeNAS-9.3-STABLE-201602031011

#### Mono Version: Mono JIT compiler version 4.2.2

#### Applicable Logs (from `/logs/` directory or the Admin page):
2016/04/01 17:33:58.558 PlexRequests.UI.Program Trace: Getting product version
2016/04/01 17:33:58.581 PlexRequests.UI.Program Info: Version: 1.5.2
2016/04/01 17:33:58.600 PlexRequests.St

[2016-04-01 21:53] tedrock commented on #128
Appears this was actually a result of the 1.5.0 update. Disregard

[2016-04-01 21:53] #128 closed

[2016-04-01 21:58] tidusjar commented on #128
@tedrock Sorry, what was the issue here?

[2016-04-01 22:09] tedrock opened #129 "Requests are hidden"
#### Plex Requests.Net Version:1.5.2

#### Operating System: FreeNAS

#### Mono Version: Mono JIT compiler version 4.2.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Reproduction Steps:

I request a movie, it indicates it's been successfully added, I go to the requests page and it's blank. I try to approve all, I get "Something went wrong". I try to add the movi

[2016-04-01 22:11] tedrock commented on #128
I thought my DB was gone because I had to make a new admin. I discovered I was mistaken when I read the release notes. I do have a real issue now though #129

[2016-04-01 22:13] tedrock commented on #129
Also if I don't have require approval on the same thing happens and they don't get passed to CouchPotato.

[2016-04-01 22:22] tidusjar commented on #129
Can you please check your filter? The filters seem a bit broken sometimes.

[2016-04-01 22:32] tedrock commented on #129
I tried each filter option while under Movies and Shows, nothing shows. Unless you mean something else when you say "check your filters".

[2016-04-01 22:35] tidusjar commented on #129
@tedrock I have just imported your DB to see what is going on an the title Beetlejuice has been added and I can see it in the requests page.

Now what has happened when you have tried to approve all, is that in `v1.5.x` the Approve All will approve Movies and TV Shows, the reason the error is there is because we have an error back from Sonarr, this is usually because the series already exists in S

[2016-04-01 23:32] tedrock commented on #129
I just discovered it's only happening in Chrome (Version 49.0.2623.110 m) on my computer (Windows 7). Firefox shows them, and Chrome on my iPad and friends Surfice shows all the requests fine. I have launched Chrome with all extensions disabled and the issue still occurs. The div id tvList and movieList don't appear to want to show. I'll try rebooting my PC next to see if that does anything.

[2016-04-01 23:37] tedrock commented on #129
Fixed it, cleared my cache in chrome :disappointed:

[2016-04-01 23:40] tidusjar commented on #129
Man that sucks, I wonder what it was caching since the content was in the DOM...

[2016-04-02 22:51] Codehhh opened #131 "No search for TV when only searching for TV."
#### Plex Requests.Net Version:
1.5.2

#### Operating System:
Ubuntu 14.04.4 LTS

#### Mono Version:
mono 3.2.8

#### Reproduction Steps:
Deselect "Search for Movies"
Go back to main page.
*Note:* You can still search by hitting the tab.
![ss 2016-04-02 at 06 49 56](https://cloud.githubusercontent.com/assets/12055335/14229541/c498922c-f903-11e5-9d68-5cb83d6dfc29.png)

[2016-04-03 05:37] tidusjar commented on #131
Ah. The TV show tab is not active. You will need to click on it.
We should fix this.

[2016-04-03 05:38] #129 closed

[2016-04-03 16:29] #131 closed

[2016-04-03 16:30] Drewster727 commented on #27
I say we keep it super simple to start with, and just show a check box on the main search page above the tabs. this assumes we have emailing setup, so we'd need to check if that's enabled before showing this option for the user.

[2016-04-03 22:30] Drewster727 commented on #114
this is done, but might need some tweaking. Definitely needs to be tested.

[2016-04-03 22:30] #114 closed

[2016-04-04 01:42] Drewster727 opened #132 "Auto-approve for Admins"
Admins will probably also use this app to easily queue up movies/shows/albums/etc. It makes sense to auto-approve their requests (even when approval is required for that particular category) -- as they are the ones who will be doing the approving!

We should either enable this by default (my preference) or add a settings option for it.

@tidusjar

[2016-04-04 03:21] Drewster727 commented on #120
this issue is also rearing it's ugly head on startup now that we're pulling version info when we first launch the app. Gotta get this one fixed.

[2016-04-04 06:30] tidusjar commented on #120
Hmmmm. I had a quick look at this s the other day and I can't see anything obvious. Looks to be something internal to otokit. I agree it needs to be fixed

[2016-04-04 06:31] tidusjar commented on #132
By default sounds good.

[2016-04-04 10:44] tidusjar opened #133 "Start writing up the release notes"

[2016-04-04 11:15] tidusjar opened #134 "Stop the browser from caching old content"

[2016-04-04 11:15] #123 closed

[2016-04-04 11:23] tidusjar commented on #103
@causefx I am not sure if we want to go down this route now. This is not what Plex Requests is, if we was going to do this we would need to change the name of the application since it has nothing to do with Plex.

If there is enough requests for this we will reconsider.

[2016-04-04 11:23] #103 closed

[2016-04-04 11:23] tidusjar commented on #101
@curlz620 I am not sure if we want to go down this route now. This is not what Plex Requests is, if we was going to do this we would need to change the name of the application since it has nothing to do with Plex.

If there is enough requests for this we will reconsider.

[2016-04-04 11:23] #101 closed

[2016-04-04 11:24] tidusjar commented on #79
This has been fixed in V1.6

[2016-04-04 11:24] #79 closed

[2016-04-04 14:16] Drewster727 commented on #132
done!

[2016-04-04 14:16] #132 closed

[2016-04-04 16:15] tidusjar commented on #120
Raised with Octokit: https://github.com/octokit/octokit.net/issues/1241

[2016-04-04 17:40] Drewster727 commented on #120
upgraded to mono 4.2.3 and it's working fine. Had to manually install the package, they do not seem to have the repository updating properly for ubuntu 15.10. Thanks for raising that issue.

[2016-04-04 17:40] #120 closed

[2016-04-04 21:23] Drewster727 commented on #134
added a 15min cache expiration. I'll make a separate issue for versioning our content based on file modified date, we can handle that later.

[2016-04-04 21:23] #134 closed

[2016-04-04 21:26] Drewster727 opened #135 "Implement a better client side caching strategy"
use cache bust versioning strategy to version our client side css/js content. This should append a querystring to files that would contain the modified date of the file.

good resource for this:
http://madskristensen.net/post/cache-busting-in-aspnet

[2016-04-04 21:55] OoGuru commented on #133
That would be nice :)

[2016-04-04 22:01] tidusjar commented on #133
Most of them are wrote up for 1.6 :+1:

[2016-04-04 22:11] OoGuru commented on #60
How about enabling the option to push to a PushBullet channel - I currently use this from PlexPy which enables me to share the channel with other users, effectively informing them about new additions automatically.

[2016-04-05 05:04] the4ndy opened #136 "Allow suppress of searching a plex instance"
I would like to use Plex Requests but I do not want the requirement of having to tie it to my Plex server. As of current the users get an error that it cannot properly search the plex server. Is there a way to suppress this error and allow the requests to be submitted anyway? Is this something that I perhaps could implement myself (albeit I am not a very experienced programmer)? Let me know if its

[2016-04-05 06:10] tidusjar commented on #136
Why wouldn't you want it to check your Plex server?
Yeah it's something we can configure.

[2016-04-05 12:00] tidusjar opened #137 "Filters are no longer working"
#### Plex Requests.Net Version:
 Dev

#### Reproduction Steps:
Try and filter a request and it does not filter correctly.

[2016-04-05 12:01] tidusjar commented on #137
Caching issue

[2016-04-05 12:01] #137 closed

[2016-04-05 12:50] #107 closed

[2016-04-05 13:22] tidusjar commented on #32
Last bit to do is the sorting/filtering on the Requests UI for albums does not work.

[2016-04-05 13:24] tidusjar commented on #121
@heartisall After looking at the code, the 'remember me' should keep your session for 7 days.

It will not remember you if you restart PlexRequests.Net

[2016-04-05 17:35] Drewster727 opened #138 "Start adding to the Wiki"
We should start adding instructions for various operating systems, dependencies (i.e. mono) and perhaps some simple troubleshooting tips into the wiki.

Also, it might be good to add some dev instructions for people who want to contribute, instructing them on how to setup their dev environment.

[2016-04-05 17:42] Drewster727 opened #139 "Utilize moment.js to improve out client side date manipulation"
We can remove our c# dependency on the Humanizer lib by using moment. We just need to pass back UTC to the client, and let moment do the conversion to the local timezone.

[2016-04-05 18:50] Drewster727 commented on #139
added! c# Humanizer() library is gone (had issues with mono)

[2016-04-05 18:50] #139 closed

[2016-04-05 19:12] Codehhh commented on #138
Here is the startup script I used for my debian install. It assumes that monodevelop or mono-complete is installed to the default directory and PlexRequests.NET is installed to /opt/PlexRequests/

[PlexRequest init.d Script.txt](https://github.com/tidusjar/PlexRequests.Net/files/205147/PlexRequest.init.d.Script.txt)

[2016-04-05 19:15] Drewster727 commented on #138
thanks @Codehhh - I actually have some instructions written up using upstart. We also have to modify existing instructions to make sure users have the latest version of mono, 4.x

[2016-04-05 19:16] Drewster727 commented on #138
@Codehhh  check the dev branch main page and take a look at those instructions, see if it makes sense and is easier for users.

[2016-04-05 19:24] Codehhh commented on #138
@Drewster727 I would have used upstart, but my NAS uses a special build of Debian, so have to make a daemon that way. Maybe have both in the wiki?

[2016-04-05 19:26] Drewster727 commented on #138
Sure, I don't see why not. We'll add when we move over to the wiki. Thanks!

[2016-04-05 21:23] #32 closed

[2016-04-05 21:23] #133 closed

[2016-04-06 01:04] the4ndy commented on #136
I dont want to add undo work for you, I would perhaps be willing to take a crack at doing it myself if you could point me in the right direction (though I have no .NET programming experience sadly). Its not that I do not want it to check my plex server, its more that I do not want it to HAVE to check the plex server (for example if it were offline / down, not responding, not on the same network pe

[2016-04-06 03:03] the4ndy commented on #136
UPDATE: The meteor version of plex requests does not seem to have the "search through plex" feature at all...which is cool for you guys being ahead of the curve i guess. It also seems like the .NET version is a bit smoother, but i think i need to just adjust some VM settings. Either way, for now, my particular issue is resolved, still think it would be a cool on/off toggle for the search through p

[2016-04-06 06:38] tidusjar commented on #136
I agree. It would be a good idea.

[2016-04-06 07:44] csy7550 commented on #60
How about giving each user the option to add his/her own individual pushbullet/pushover setting? So if user X requests something, user X gets a notification of his/her choice.

[2016-04-06 11:26] AmansRevenger opened #141 "No PushBullet Notifications / Log Level not saved?"
I cant get any PushBullet Notifications working, I can even put in an empty PushBullet API key and it will say "Successfully sent a test Pushbullet Notification!". But also nothing will show up in the logs, since I am stuck on Trace Level, I can change it and get a "The new log level is now Debug" message, but it will be Trace again upon reloading / revisiting the log settings.

I already checked

[2016-04-06 11:40] tidusjar commented on #141
Can you show the logs in the `logs` folder in the install directory?

[2016-04-06 11:44] AmansRevenger commented on #141
I honestly dont know how to mask the information in the logs...

[2016-04-06 11:47] tidusjar commented on #141
Could you delete the file, send off a test message and then email the file to jamierees@outlook.com ?

That way there is very little information in there?
(The application will recreate the log file).

[2016-04-06 12:00] AmansRevenger commented on #141
Here are the logs with most of it redacted, but I restarted PlexRequest and now it wont create a new log file ... what the hell

[2016-04-02.txt](https://github.com/tidusjar/PlexRequests.Net/files/206334/2016-04-02.txt)
[2016-04-06.txt](https://github.com/tidusjar/PlexRequests.Net/files/206335/2016-04-06.txt)
[2016-04-03.txt](https://github.com/tidusjar/PlexRequests.Net/files/206337/2016-04-03.txt

[2016-04-06 12:04] tidusjar commented on #141
It will create a new log file on the first instance it logs something. If it's not logging anything then a new file will not be created. Thanks I will take a look through.

[2016-04-06 12:18] tidusjar commented on #141
Any idea @Drewster727 ?

[2016-04-06 12:23] AmansRevenger commented on #141
I randomly got a Test Notification just now

![image](https://cloud.githubusercontent.com/assets/18306225/14316394/f8e5aa04-fc02-11e5-8eeb-d7edcb0bc851.png)

Weird thing is ... I wasnt even testing it right now.

[2016-04-06 12:30] tidusjar commented on #141
Are you 100% you replaced all of the files? Can you just install the application to a different directory and copy the `plexrequests.sqlite` file over?

It sounds like you are missing something.

[2016-04-06 13:13] AmansRevenger commented on #141
New Install + old sqlite = same issue, no Logs folder gets created, nothing get's logged outside of the UI, log setting reverts to trace (or never get's changed at all, which is more likely).

i will try around a bit more and report back!

[2016-04-06 13:21] AmansRevenger commented on #141
Ok it doesnt log to the application path (/var/lib/PlexRequests/ for example) but to the log file folder of the user

/home/<username>/logs

and with a FRESH install and everything I get this logged:

2016/04/06 15:12:37.117 PlexRequests.UI.Program Info: We are going to use port 3001 that was passed in
2016/04/06 15:12:37.164 PlexRequests.UI.Program Trace: Getting product version
2016/04/06 15:12:

[2016-04-06 14:05] AmansRevenger commented on #141
What I got so far:

As long as I dont try to change the Log Setting (Trace, Debug etc), it logs happily into the home directory.

As soon as I submit something on the Log UI, it stops logging anywhere as far as I can tell.

Also despite the settings being correctly shown (as proven above in the log) for Pushbullet and Email, AND saying it sent a test notification, it wont work.

Currently in the p

[2016-04-06 14:12] tidusjar commented on #141
I think it's logging to the home directory because that's the current directory your user is in when running the command to launch PlexRequests? That's a bug.

[2016-04-06 14:17] tidusjar commented on #141
@AmansRevenger On the server you are running PlexRequests on, can you navigate to this? https://YourAPIKey@api.pushbullet.com/v2/pushes

It should display a bunch of your pushes to yourself. I just want to make sure your sever can communicate with pushbullets endpoint.

[2016-04-06 14:41] Codehhh opened #142 "1.6.0 Not starting"
#### Plex Requests.Net Version:
v1.6.0

#### Operating System:
ReadyNASOS 6.4.2 (based on Debian 7)

#### Mono Version:
mono 4.2.3

#### Reproduction Steps:
Start PlexRequests.
First screenshot is v1.5.2 running
Second screenshot is v1.6.0 running. v1.6.0 has many repeated errors, I cut it off after the first group.
![152](https://cloud.githubusercontent.com/assets/12055335/14320656/e7e079ba-fbe3-

[2016-04-06 14:47] Drewster727 commented on #142
Looks to be a TLS security issue @tidusjar

[2016-04-06 15:06] AmansRevenger commented on #141
I have PlexPy Running on the same server and get those notifications without problems. So yes, it can communicate on that API Key.

and I ALSO have ONE (the one mentioned above) message from Plex Request

`{"active":true,"iden":"ujy3J8b6PAqsjAzl8opNa8","created":1.4599452690832582e+09,"modified":1.4599453282422552e+09,"type":"note","dismissed":true,"direction":"self","sender_iden":"ujy3J8b6PAq","s

[2016-04-06 15:32] tidusjar commented on #142
@Codehhh Would you be willing to try a custom build? We added some TLS options to fix #119 that at a first glance looks to be the issue.

[2016-04-06 15:35] nephaste commented on #142
Same on Qnap

/mono PlexRequests.exe 8625
Version: 1.6.0
Location of the database: /share/CACHEDEV2_DATA/.qpkg/PlexRequests/Release/PlexRequests.sqlite

Unhandled Exception:
System.AggregateException: One or more errors occurred. ---> System.Net.WebException: Error: SendFailure (Error writing headers) ---> System.Net.WebException: Error writing                          headers ---> System.IO.IOExc

[2016-04-06 15:36] Codehhh commented on #142
@tidusjar Of course I would try a custom build! Let me know how I can help.

[2016-04-06 15:37] nephaste commented on #142
same on my side

[2016-04-06 15:41] tidusjar commented on #142
Custom build: https://ci.appveyor.com/project/tidusjar/requestplex/build/1.6.223/artifacts

Please let me know the result.

[2016-04-06 15:44] Codehhh commented on #142
Error isn't fatal anymore :+1:, but still errors.

![testbuild1](https://cloud.githubusercontent.com/assets/12055335/14323008/ceae9978-fbec-11e5-833c-57334b3e8c7c.png)

[2016-04-06 15:45] Drewster727 commented on #142
Quick question, are you guys running the 'complete' version of mono? I doubt that's the issue, but thought I'd ask.

mono-complete or mono-devel

[2016-04-06 15:46] Codehhh commented on #142
I installed mono-complete, but have tried mono-devel also

[2016-04-06 15:47] nephaste commented on #142
cross compiled version from source on my side

[2016-04-06 15:50] tidusjar commented on #142
After doing some reading it seems to be a mono issue where there are no trusted certs.
Can you try:

    mozroots --import --ask-remove

[2016-04-06 15:52] Codehhh commented on #142
That fixed it for me on v1.6.0 :+1:

[2016-04-06 15:53] tidusjar commented on #142
Hmmm. Yeah it's a mono bug that they have not fixed.
https://bugzilla.xamarin.com/show_bug.cgi?id=26658

Has this fixed it for you on the main build or the custom?

[2016-04-06 15:55] tidusjar commented on #142
@nephaste does using `mozroots` work for you?

[2016-04-06 15:56] Codehhh commented on #142
Fixed the problem on both the test build and the main build!

[2016-04-06 16:02] nephaste commented on #142
Great , it woks i publish it in a minute on Qnap Forum   Thanks for your help

[2016-04-06 16:18] #142 closed

[2016-04-06 16:57] Auwen opened #143 "Admin account doesn't show any Requests if admin account name is a user's name"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

#### Plex Requests.Net Version:
1.6.0

#### Operating System:
Windows 10 64bit

#### Reproduction Steps:

Set up the admin account with a user's name instead of something generic like "Admin", go into Requests, and see nothing. I originally thought this w

[2016-04-06 17:14] Auwen commented on #143
...Uhhh... nevermind. Dunno why, but it fixed itself.

[2016-04-06 17:14] #143 closed

[2016-04-06 17:32] SaskiFX commented on #72
So I moved over to this version from the Meteor version as well, mainly because I got tired of pounding my head on it for the same issue, and liking the direction you were going with adding features.I'll see if I can describe what's going on so far.

My nginx config for this application:
location /requests {
proxy_pass http://192.168.1.27:3579;
proxy_set_header Host $host;
proxy_set_header X-Real-

[2016-04-06 18:11] tidusjar commented on #143
I suspect this is due to your browser cache, we changed the way we filter requests, so the data was slightly different.

[2016-04-06 18:13] tidusjar commented on #72
@jchannon How does Nancy deal with static content when using this method?

[2016-04-06 18:48] Codehhh opened #144 "SickRage API fails"
#### Plex Requests.Net Version:

v1.6.0
#### Operating System:

ReadyNASOS 6.4.2 (based on Debian 7)
#### Mono Version:

mono 4.2.3

#### SickRage Version:
SickRage 2016.03.28-2

#### Reproduction Steps:
Request TV. The show is still added, but "Something went wrong" popped up.
![ss 2016-04-06 at 02 47 26](https://cloud.githubusercontent.com/assets/12055335/14328876/aae61fba-fc06-11e5-983b-bf59028

[2016-04-06 18:49] magnum226 opened #145 "Empty search fields"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

#### Plex Requests.Net Version: 1.6.0

#### Operating System:Windows 7/8.1

#### Mono Version:

![blank](https://cloud.githubusercontent.com/assets/18314117/14328788/db8dc7b6-fbfd-11e5-931a-c29561d57c02.PNG)

#### Applicable Logs (from `/logs/` directory

[2016-04-06 19:00] jchannon commented on #72
I think you are limiting your requests by an endpoint in nginx and I'm not
sure why. It should be at the front of the whole of your app. Remove the
/requests in the config and just make it /

On Wednesday, 6 April 2016, Jamie <notifications@github.com> wrote:

[2016-04-06 19:02] SaskiFX commented on #72
Well, I'm setting this up to act as a reverse proxy so I can hit a bunch of internal apps through one host/port. I can try removing it and see what it does at root.

[2016-04-06 19:02] jchannon commented on #72
Also shouldnt you be visiting the app via the nginx IP address which should
different to the ip your Nancy app is on?

On Wednesday, 6 April 2016, Jonathan Channon <jonathan.channon@gmail.com>
wrote:

[2016-04-06 19:07] SaskiFX commented on #72
So making it the root does work with the exact nginx code block I used above.

But how do I get it working as a /requests option. :) In the end, I want it to be behind a sub-directory so its not the first thing people see when hitting my IP on port 80.

[2016-04-06 19:07] SaskiFX commented on #72
Actually, in this case the app and nginx are on the same server. Just going to use nginx as the front end for reverse proxying everything.

[2016-04-06 19:09] jchannon commented on #72
I guess in theory if your views ask for a relative /content/my.css it
should relate to http://nginx/requests/content/my.css ?

On Wednesday, 6 April 2016, Craig <notifications@github.com> wrote:

[2016-04-06 19:12] SaskiFX commented on #72
I think so?

I can see in the logs its like nginx is looking in its own root for the files instead of the "root" for the app like in this entry: "/usr/share/nginx/html/Content/moment.min.js

[2016-04-06 19:15] SaskiFX commented on #72
Htm. I just notcied that internally there is a reuqests page. I wonder if it was getting confused with my naming. Let me try naming the proxy something else.

[2016-04-06 19:21] SaskiFX commented on #72
Nope, no difference. But I'll try naming it something else in the future just in case it should cause issues.

[2016-04-06 19:26] Codehhh commented on #145
I have this same issue in Firefox 45.0.1 on Windows 10.
It works on Chrome for me, so I just use that for requests.

[2016-04-06 19:49] SaskiFX commented on #72
Ok for more info that might help, and where I think the idea of a base_url option comes in.

When I try 192.168.1.27/test I get:

[code]

You can see how it progresses and forwards me around till I get 404'ed, and then if I manually correct it by putting /test in the URL again, it works.

So going to the browser and visiting http://192.168.1.27/test/userlogin in the page source in the head I get:

[2016-04-06 19:51] jchannon commented on #72
Try changing it to ~/Content

On Wednesday, 6 April 2016, Craig <notifications@github.com> wrote:

[2016-04-06 19:51] jchannon commented on #72
In your cshtml file that is

On Wednesday, 6 April 2016, Jonathan Channon <jonathan.channon@gmail.com>
wrote:

[2016-04-06 19:52] SaskiFX commented on #72
That one I'll have to leave for @tidusjar :)

[2016-04-06 20:01] jchannon commented on #72
Out of interest try hitting http://nginx/proxyurl/content/my.css to see
what happens

On Wednesday, 6 April 2016, Craig <notifications@github.com> wrote:

[2016-04-06 20:08] tidusjar commented on #144
@shiitake this look like its to do with your changes. Any idea?

[2016-04-06 20:09] tidusjar commented on #145
Ok. I'll see what's going on.

[2016-04-06 20:12] tidusjar commented on #72
Ah good point. Give me an hour or so to get home and I'll make the change for you.

[2016-04-06 20:18] csy7550 commented on #145
Just confirming, I got the exact same problem.

[2016-04-06 20:19] csy7550 commented on #144
Just confirming this one also, exactly the same problem here.

[2016-04-06 20:20] tidusjar commented on #144
I'll take a look when I get home. @shiitake if you have any ideas please let me know.

[2016-04-06 20:20] tidusjar commented on #145
@csy7550 I'll take a look soon.

[2016-04-06 20:23] SaskiFX commented on #72
Accessing http://192.168.1.27/test/Content/pace.min.css gives me a result.

`.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;}.pace-inactive{display:none;}.pace .pace-progress{background:#ffa400;position:fixed;z-index:2000;top:0;right:100%;width:100%;height:2px;}`

[2016-04-06 20:24] SaskiFX commented on #72
Hitting http://192.168.1.27/Content/pace.min.css gives me a 404

[2016-04-06 20:31] jchannon commented on #72
Yup makes sense. Hopefully the cshtml change will do the trick

On Wednesday, 6 April 2016, Craig <notifications@github.com> wrote:

[2016-04-06 21:26] sch1308 opened #146 "No .exe in v1.6 release zip file."
![image](https://cloud.githubusercontent.com/assets/7896067/14333455/bf889c34-fc1c-11e5-811d-3ac29ba33819.png)

[2016-04-06 21:29] Drewster727 commented on #146
you must have grabbed the source code by accident, try this link for v1.6:
https://github.com/tidusjar/PlexRequests.Net/releases/download/v1.6.0/PlexRequests.zip

[2016-04-06 21:29] #146 closed

[2016-04-06 21:55] tidusjar commented on #72
@jchannon I have changed the `.cshtml` to the following

        <script src="~/Content/moment.min.js"></script>

But when I look at the markup it's

        <script src="/Content/moment.min.js"></script>

Does nancy do anything with this?

[2016-04-06 23:03] Drewster727 commented on #145
fixed, should get rolled out in the next point release. (hopefully soon)

[2016-04-06 23:03] #145 closed

[2016-04-07 00:14] SaskiFX commented on #72
Could it be that you are hosting on the root, so its ignoring it? Maybe it needs to be pointed at from a sub directory.

[2016-04-07 05:18] Drewster727 commented on #125
@shiitake  hey man sorry didn't realize you snagged this task. I just wrapped it up.... sorry!

[2016-04-07 05:18] #125 closed

[2016-04-07 07:51] tidusjar commented on #141
This has really confused me, It doesn't make much sense.

[2016-04-07 08:09] evilspectre opened #147 "Test Email Notification not working on Mono"
#### Plex Requests.Net Version:
1.6.0

#### Operating System:
Debian 8

#### Mono Version:
4.2.3

#### Applicable Logs (from `/logs/` directory or the Admin page):

2016/04/06 16:16:06.852 PlexRequests.UI.Modules.AdminModule Trace: {
  "EmailHost": "localsmtp",
  "EmailPort": 25,
  "Ssl": false,
  "RecipientEmail": "email@address.net",
  "EmailSender": "email@address.net",
  "EmailUsername": "loca

[2016-04-07 08:38] tidusjar commented on #147
And I assume that the email host is correct when you are running it through docker or debian?

[2016-04-07 09:09] dfgsaerh opened #148 "CouchPotato API Fails"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

1.6.0 Plex Requests.Net Version:

Windows 7 Operating System:

4.2.3 Mono Version:

Applicable Logs (from `/logs/` directory or the Admin page):

System.ApplicationException: Error retrieving response. Check inner details for more info. ---> System.Xml.Xm

[2016-04-07 10:27] tidusjar commented on #148
This is usually because it cannot authenticate, are you sure it's correctly setup e.g. IP/Hostname correct, SSL box, Subdir (if using)?

[2016-04-07 10:35] dfgsaerh commented on #148
Thanks for the fast reply and all the work that goes into this project. it's awesome
If i go to localhost:port/api/<myapikeyhere> that works, mind you the address changes to localhost:port/couchpotato/25DigitHexValue

[2016-04-07 11:20] tidusjar commented on #148
Wait. So what is the URL you use for accessing couchpotato?

[2016-04-07 11:34] dfgsaerh commented on #148
Normally just access CP with localhost:port
I just saw when I googled the error you asking someone to try browsing to localhost:port/api/APIKEY

[2016-04-07 12:20] tidusjar commented on #148
Ah ok! So are you using some sort of reverse proxy? In the `SubDir` can you put in `couchpotato` ?

[2016-04-07 12:23] dfgsaerh commented on #148
Nope not using a reverse proxy, but I put couchpotato into SubDir and it's all working now,
Thanks for that.

[2016-04-07 12:23] #148 closed

[2016-04-07 12:26] tidusjar commented on #148
Yeah if it was redirecting you to `localhost:port/couchpotato/` when attempting to get the api we would need that. :+1:

[2016-04-07 12:27] tidusjar commented on #147
@evilspectre  Also can you see it in your sent folder (Using some sort of email application) and you sure it's not in Spam/junk?

[2016-04-07 12:28] tidusjar commented on #144
@Codehhh  @csy7550 I have fixed the issue where we couldn't covert the type, but I could never get it to appear with 'Something went wrong'.

Is anyone willing to try out the dev build with the fix to make sure it fixes the issue before I push a release?

[2016-04-07 12:30] Codehhh commented on #144
I can test out the dev build. Just linkme and I'll let you know what
happens.

On Thu, Apr 7, 2016, 8:28 AM Jamie <notifications@github.com> wrote:

[2016-04-07 12:47] curlz620 commented on #136
Basically this would allow people to use Plex Requests even if they were not running plex. believe it or not some people use other programs like Media Server? I think thats what its called. idk.

[2016-04-07 13:05] tidusjar commented on #136
I agree.

[2016-04-07 13:42] Drewster727 commented on #147
@tidusjar I can confirm this as well, same issue on ubuntu server w/ mono 4.2.3. Email settings are correct.

[2016-04-07 13:44] tidusjar commented on #144
@Codehhh https://ci.appveyor.com/project/tidusjar/requestplex/build/1.6.225/artifacts

[2016-04-07 14:19] Codehhh commented on #144
@tidusjar That fixed it for me!

[2016-04-07 14:19] tidusjar commented on #144
@Codehhh Excellent. It settings the seasons selected correctly in Sickrage? (If you selected First season or Latest)?

[2016-04-07 15:16] tidusjar commented on #144
Looking at the logs this is what we got back from SickRage:

      "message": "An existing indexerid already exists in database",

But that should have appeared in the notification for you.

Latest season will set the most recent season as 'Wanted'

Can you delete the log file and repo it and then upload the logs?

[2016-04-07 15:21] Codehhh commented on #144
by repo it do you mean add it to git?

[2016-04-07 15:23] evilspectre commented on #147
@tidusjar the email server I am using is an in network SMTP relay, looking at the logs it does not even speak to the STMP server.

[2016-04-07 15:38] tidusjar commented on #147
Yeah, it's a problem in mono, we are going to switch out the SMTP bit for mono's reccomended SMTP client.

[2016-04-07 15:39] tidusjar commented on #144
@Codehhh Sorry, reproduce the error.

[2016-04-07 15:39] phairplay opened #149 "PlexRequests.UI crashed on fresh install"
Hi I've just tried to install your the latest version of plex request.net for the first time on my window 8 64bit machine and after ensuring its unblocked and unzipped I run plexrequests.exe and the plexrequests.ui crashes and I see this in the logs

http://pastebin.com/QP8yHaVv

could you please help me resolve this issue

[2016-04-07 15:41] tidusjar commented on #149
You need to run it as an admin.

You can read [here](https://github.com/tidusjar/PlexRequests.Net/wiki/FAQ#how-can-i-run-plex-requestsnet-as-a-non-administrator) if you do not want to run as admin.

[2016-04-07 15:41] #149 closed

[2016-04-07 16:01] Codehhh commented on #144
The Bachelor: All Seasons
The Bachelor Australia: First Season
The Bachelor Canada: Latest Season
[2016-04-07.txt](https://github.com/tidusjar/PlexRequests.Net/files/208726/2016-04-07.txt)

[2016-04-07 16:06] tidusjar commented on #144
I can't seem to find out what is going on. What timezone are you in? Can we do a remote session so I can take a look?

[2016-04-07 16:10] Codehhh commented on #144
I'm in EST. I will be free in roughly 3 hours, have class until then. Let me know when you're free and how we can communicate more privately.

[2016-04-07 16:16] tidusjar commented on #144
Ok I should be free around them. We can communicate privately on Gitter.

[2016-04-07 19:53] noahruss commented on #66
In the mean time I've been using stunnel and it works wonderfully

[2016-04-07 20:23] csy7550 commented on #141
I can confirm that change of the log level does not work. The logging of the plex availability checker has made my log grow to 500MB in 7 hours.

[2016-04-07 20:29] tidusjar commented on #141
@csy7550 ok thanks for letting me know. I'll fix that and reduce the logging.

[2016-04-07 21:18] jchannon commented on #72
A tilde should output the correct path to the file from root I believe so
if it's what you expect then we're good to go. Just need to workout why
we're not getting the full nginx url when seeing the view

On Thursday, 7 April 2016, Craig <notifications@github.com> wrote:

[2016-04-07 21:23] tidusjar commented on #141
@csy7550 Regarding the log level, the file log is set at Trace by default (Most verbose logs). If you change the log level in the UI to `Info` (Best user friendly information) it should fix it. I have tested out the logging and it seems to be working as expected.

[2016-04-07 21:28] SaskiFX commented on #72
Could it be looking for ./ instead of ~/ ?

Sent from my iPhone

[2016-04-07 21:35] tidusjar commented on #72
@SaskiFX The latest Dev build contains all of the Scripts using `~/` do you want to try it to test on your system?

[2016-04-07 21:47] tidusjar commented on #144
Fixed.

[2016-04-07 21:47] #144 closed

[2016-04-07 22:14] SaskiFX commented on #72
Yes please. I'll be heading out to dinner in a bit, but when I get home I'll be happy to download and test.

[2016-04-07 22:32] tidusjar commented on #72
here is the latest dev build https://ci.appveyor.com/project/tidusjar/requestplex/build/1.6.232/artifacts

[2016-04-08 00:59] SaskiFX commented on #72
Alright, so I tried the dev build and didn't have any success.

I found the _Layout.cshtml file and started playing with the options.

These didn't work:
[code]

However, I went in and edited in this:
`<script src="/test/Content/moment.min.js"></script>`

And with the right nginx config:

[code]

I get a result! The search.js doesn't load, but all the css and js in the Content folder does.

When I

[2016-04-08 06:00] csy7550 commented on #141
I've changed it to info now, let's see :) Had it set to error. The reason I thought the log level won't save is because the dropdown menu always says "Trace" when you reload the page after you submit the changes.

[2016-04-08 06:02] tidusjar commented on #141
The dropdown menu doesn't reflect the current log level.

[2016-04-08 06:03] tidusjar commented on #72
So I just need to prepend something onto the scripts and styles?

[2016-04-08 12:56] SaskiFX commented on #72
Depends, do you think its something you need to do, or is it an option you can pass to whatever you are serving the files with, kind of like the port number on the command line?

Not sure.

[2016-04-08 13:27] tidusjar commented on #72
@SaskiFX You read my mind. I have done it. Can you please test it out? You will need a fresh database (Just for now, once I know this works i'll implement it properly).

Usage:

    PlexRequests.exe -base test

Where `test` is your base location (Test is used in your nginx config above).

    location /test/

If this works I'll allow it via the command line and also add it to the settings page.

B

[2016-04-08 13:27] csy7550 commented on #141
Changed to "info", but still log is 700MB for today and to big to open, but the old one was full of plex availability checking so I'm guessing that's whats in there.

[2016-04-08 13:29] tidusjar commented on #141
@csy7550 Do you have Plex configured in Plex Requests? The Plex IP and the Auth token under Authentication?

[2016-04-08 13:36] csy7550 commented on #141
Yes, everything set up and working. I've noticed availability changes almost instantaneous after a request is available so maybe the frequency can be changed a bit? I've deleted the logs now and restarted plexrequest, I'll zip and attach a log when I get home/have time.

[2016-04-08 13:54] tidusjar commented on #141
@csy7550 I have also noticed from viewing a few peoples logs that the plex checker is checking more than the frequency set. So I need to look into that.

[2016-04-08 13:57] Drewster727 opened #150 "Cache plex, couchpotato, sonarr, and sickrage content and compare the search data"
We have an opportunity to provide more real-time feedback on search results (in terms of requested status) by checking against what's already in CP/Sonarr/Sickrage upon searching.

Instead of querying these apps every search, we should cache their wanted/queued items at some specified interval, and cache the results, then use the cache to compare against.

Couch is already done in dev.

[2016-04-08 15:07] Drewster727 commented on #150
Sonarr/SickRage caching added. @tidusjar  I put two small TODO marks in commit 5f67302. Any way you can do those two small items? I don't have sickrage setup. Should just need to add the model and return the IDs correctly from the cache.

[2016-04-08 15:47] Codehhh opened #151 "New Episodes (SickRage)"
When selecting episodes, "Latest Season" should say "New Episodes" because it sets new episodes to wanted in SickRage

[2016-04-08 16:01] tidusjar commented on #151
That's a good point. It gets the latest season and sets future seasons as wanted.
If we put it as New Episodes it would still be misleading as it would grab the latest season (if the series has ended for example).
Hmmm...

[2016-04-08 16:48] csy7550 commented on #141
Where can I send the logs? I don't want to go through 10000 lines and remove sensitive information so I would like to send you in private

[2016-04-08 17:21] SaskiFX commented on #72
It goes all explody on me.

[code]

I tried running with just the -base option, and just the port, and both fail with the same error.

[2016-04-08 17:23] jchannon commented on #72
That looks like a Nancy CI version? If you can track it down let us know
https://github.com/NancyFx/Nancy/issues/2396

On Friday, 8 April 2016, Craig <notifications@github.com> wrote:

[2016-04-08 17:38] tidusjar commented on #72
I'm using Nancy 1.4.3 from Nuget according to my packages.

[2016-04-08 17:39] jchannon commented on #72
Hmm fair enough....

On Friday, 8 April 2016, Jamie <notifications@github.com> wrote:

[2016-04-08 17:40] Drewster727 commented on #72
I can confirm this error is also happening to me under mono, I think I narrowed it to your ConfigureConventions method @tidusjar

[2016-04-08 17:49] Drewster727 commented on #115
additionally, let's indicate, for tv shows, whether the show has "ended" or is "continuing"

[2016-04-08 18:43] tidusjar commented on #141
jamierees@outlook.com

[2016-04-09 10:25] krikv commented on #147
I've got the same problem as above, however the test email isn't my only problem. I've configured Plex Requests to use my mailserver, test email doesn't work and when a user requests an item, I don't receive an email either.
PlexRequests host: Debian 8 in an container using mono 4.2.3
Mailserver: imap using starttls over port 587

[2016-04-09 12:18] shire210 opened #152 "Pushover Notifications not working"
#### Plex Requests.Net Version: 1.6.0

#### Operating System: unraid

#### Mono Version:4.2.1.102

#### Applicable Logs (from `/logs/` directory or the Admin page):

2016/04/09 07:58:20.112 PlexRequests.UI.Modules.AdminModule Info: Sent pushover notification test

#### Reproduction Steps:

Entered my information for Pushover into the app and it does not work. I saw there was a previous issue (#93)

[2016-04-09 16:24] tidusjar commented on #147
@krikv Correct, email's currently do not work

[2016-04-09 17:47] krikv commented on #147
@tidusjar Thank you, I wan't sure if it was just the problem with the test mail or mailing in general. Thanks for clearing that up!

[2016-04-09 18:09] theg1nger commented on #60
I like where @csy7550 is going with this. Would be great for my users if they knew when new stuff was downloaded.

A pushbullet update to the admin would be great.

[2016-04-09 18:25] theg1nger opened #153 "NSSM Steps Wrong Order."
Hey Jamie,

Thanks for putting my NSSM steps in the FAQ!

I noticed something though, when I originally wrote it I actually got step 9 and 10 switch. It should read:
9. Click Install Service
10. In the same CMD admin window type "nssm start plexrequest"

This isn't a huge deal, but could be confusing to users trying to follow the steps to the T.

Thought I'd share this with you.
-Winston

[2016-04-09 18:45] phairplay opened #154 "Cpu 100% after using plex requests"
Hi,
after making several requests through plex requests I found that plex media server was running at 326% pushing my cpu to 100%
 What could be the cause?

Windows 8
I5 Intel
Latest version of plex requests

[2016-04-09 19:37] tidusjar commented on #154
I think I have found the issue. It seems that there is quite a nasty bug in the plex checker. It checks plex for content every 10 minutes but I think I have found a scenario where multiple schedules are starting so it can check it every seconds for example.

I am fixing that as we speak.

[2016-04-09 19:37] tidusjar commented on #153
Are you able to change them in the FAQ? :)

[2016-04-09 19:39] phairplay commented on #154
Great!
Many thanks for the fast response and I'm really liking this program, my wife loves the suggestion section

[2016-04-09 20:24] csy7550 commented on #154
Had a friend add 20 movies to check, CPU = 100% and serverroom is like a sauna!

[2016-04-09 20:38] theg1nger commented on #153
Not sure you have that turned on. I don't see where I can make the change. I'm happy to do it, just don't see the option.

[2016-04-09 23:05] Drewster727 commented on #150
Plex content caching added. Music part needs testing @tidusjar

[2016-04-09 23:28] Drewster727 commented on #136
Another popular one is kodi - we could potentially add support for that. This would take some re-working, not to mention the potential name change?

[2016-04-11 01:17] zenjabba opened #155 "Email being sent for user requesting the movies/tv series"
A feature request,

1. Pull the email address of the user requesting the movie/tv series
2. When the Movies/TV Series is completed, email the user that the request has been fulfilled.

[2016-04-11 07:58] tidusjar commented on #155
This is part of #27

[2016-04-11 07:58] #155 closed

[2016-04-11 16:24] Drewster727 commented on #135
waiting on fix for nancy virtual "assets" directory fixes before doing this.

[2016-04-11 22:04] mescon commented on #72
Any progress on this? This is what's keeping me from migrating.

[2016-04-12 07:47] tidusjar commented on #153
All done!

[2016-04-12 07:47] #153 closed

[2016-04-12 11:36] tidusjar commented on #154
It was a misunderstanding on my part on how Nancy (The underlying framework) initializes everything. So a new 'scheduler' was being spun up on every HTTP request.

I've fixed this in the dev branch. We need to push a new version out soon, so it shouldn't be a long wait.

[2016-04-12 11:41] tidusjar commented on #121
Are you still finding this a problem?

[2016-04-12 13:18] heartisall commented on #121
It seems to be keeping my session now although chrome still doesn't prompt to save my credentials, I think the problem was that I was having to restart PlexRequests.net rather often which was killing it. I just updated to 1.6 today so I don't know if it will fix the lockups that I'm having yet.

[2016-04-12 13:24] HamilcarH commented on #32
I don't know if it's in the works, but can we have artists request ?

[2016-04-12 14:41] speedyflipper opened #156 "Can't Connect to Headphones"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

#### Plex Requests.Net Version: 1.6

#### Operating System: Windows 7 64 bit

When trying to setup Headphones, I receive a message "Something went wrong". I don't see anything in the logs and I've verified the information multiple times

[2016-04-12 15:35] tidusjar commented on #156
What happens when you navigate to `http://ip:port/api?apikey=$apikey&cmd=getVersion` on the machine you are running PlexRequests?

[2016-04-12 16:27] tidusjar commented on #72
@mescon I'm looking into the issue. We should have it resolved very soon.

[2016-04-12 17:03] SaskiFX commented on #72
@tidusjar Thanks a ton. :)

[2016-04-12 18:19] speedyflipper commented on #156
I get a blank screen but the problem is I use a URL base, so http://ip:port/**headphones**/api?apikey=$apikey&cmd=getVersion works

[2016-04-12 18:36] phairplay commented on #154
Great many thanks

[2016-04-12 21:40] tidusjar commented on #156
Put 'headphones' into the sub dir

[2016-04-12 22:54] #156 closed

[2016-04-13 21:15] tidusjar commented on #72
Can someone give this build a go?

https://ci.appveyor.com/project/tidusjar/requestplex/build/artifacts

Same thing with passing in the `-base` param.

[2016-04-14 02:07] SaskiFX commented on #72
Alright, ran it as this:

`/usr/bin/mono /opt/PlexRequests/Release/PlexRequests.exe -base plexrequests 3579`

It doesn't crash, and I do see it saying its loading the URL base.
[code]

But I'm still getting redirected without the base URL.
[code]

When I go and manually enter `https://<servername>/plexrequests/userlogin` I do get the page, but nothing else loads as before. (It looks like this: htt

[2016-04-14 12:20] tidusjar commented on #72
Ok i'm on to something, I think I figured it out. The `assets` is now a virtual directory that points to `/Content/` by default, but if you provide a `-base` it will change to `/baseProvided/Content/`

[2016-04-14 13:53] tidusjar commented on #72
I have now fixed this with the latest dev build. Setup my own Ngnix reverse proxy to test and it all works correctly.

If you want to confirm you can here: https://ci.appveyor.com/project/tidusjar/requestplex/build/1.6.254/artifacts

(Note: if you are using an existing database you will need to go into the settings and change the Base Url, if you dont have a database yet (clean install) you can ju

[2016-04-14 13:55] SaskiFX commented on #72
Woo! I'll remote in to my home system in a bit and give this a test and will update. :)

[2016-04-14 14:05] mescon commented on #72
If this works will you push to master?

[2016-04-14 14:05] tidusjar commented on #72
@mescon Correct. With a few other bug fixes.

[2016-04-14 14:08] mescon commented on #72
Nice - looking forward to it! :)

[2016-04-14 15:52] SaskiFX commented on #72
I see the Base URL! But its not the one I expected. :)
[code]

But when I hit the site, I get a 404 from the server because it seems to be using 'test' instead of 'plexrequests' for the URL.
[code]
I went and deleted the database to see if it was stuck, but it seems to still reading test from somewhere.

[2016-04-14 15:53] tidusjar commented on #72
OOPS! I left some of my test code there!

[2016-04-14 15:56] SaskiFX commented on #72
I wondered if that's what it was. Happy to report that I did go in and change all mine back to using test and it did work!

[2016-04-14 15:57] tidusjar commented on #72
Great! Just removed the test code. Sorry about the long wait, I couldn't get my head around Ngnix until I set it up for myself!

[2016-04-14 15:59] SaskiFX commented on #72
Doh! Spoke too soon. I was getting redirected to /test/userlogin and it worked, but when I logged in it forwarded me back to /search, which 404ed.

But if I went and added /test/ back, the search loaded and loaded correctly.

[2016-04-14 16:00] SaskiFX commented on #72
Hey, no apologies. You are fixing code for us weirdos who want to reverse proxy stuff, and I for one greatly appreciate it. :+1:

[2016-04-14 16:00] tidusjar commented on #72
OK must have been another area I missed. I will fully test the application before I push to master.

[2016-04-14 16:01] SaskiFX commented on #72
Once this all works, it should be working for both reverse http and reverse https as well, as I changed over to https a few days ago and things still seem to be working.

[2016-04-14 16:12] SaskiFX commented on #72
I used your link from before and clicked latest version on AppVeyor and downloaded the new zip it generated, just to see if I could get it back on /plexrequests/ instead of /test/. Running that version gave a huge error. Just an FYI.

[code]

[2016-04-14 16:13] tidusjar commented on #72
Yeah I know about that issue, I'm fixing it now :)

[2016-04-14 16:20] tidusjar commented on #72
There we go @SaskiFX the latest dev build should work

[2016-04-14 16:22] tidusjar commented on #72
@SaskiFX Actually scrap that. Still have some more work to do.

[2016-04-14 16:26] SaskiFX commented on #72
No worries. :+1: I'll test again when you are ready. Gonna head to lunch over here.

[2016-04-14 16:28] tidusjar commented on #72
Todo

[ ] - Links in views e.g. Navbar
[ ] - JS Script redirecting

[2016-04-14 19:45] gaandu opened #157 "CMD remains open after executing PlexRequests"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

#### Plex Requests.Net Version:
1.60

#### Operating System:
Windows 10

#### Mono Version:

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Reproduction Steps:

Double click PlexrequestS.exe The cmd opens up and gives the

[2016-04-14 20:03] gaandu commented on #152
I am also facing the same issue

[2016-04-14 20:12] tidusjar commented on #157
Sorry. The text should be a bit more clear. It's really press Enter.

[2016-04-14 20:20] tidusjar commented on #152
We have fixed this in the latest build. We will be releasing soon

[2016-04-14 20:21] gaandu commented on #157
I pushed enter, and it closed the cmd window and also completely closed my plexrequest system. :(

[2016-04-14 21:38] tidusjar commented on #157
@gaandu Take a look at this to run it as a service: https://github.com/tidusjar/PlexRequests.Net/wiki/FAQ#how-to-run-plexrequestsnet-with-nssm---thanks-theginger3469

[2016-04-14 21:39] #157 closed

[2016-04-15 02:57] bootldrDNB commented on #72
I'll be looking forward to testing this as BaseUrl build as well. :)

[2016-04-16 11:48] achoerle348 commented on #72
First off, thank you so much for all the work you've put into this project. I foresee that PR.Net is going to push my family's media experience (shared across multiple state lines) into the next level.

That said, I installed 1.6.266 and have done a little testing, as results are superb.
I run a reverse proxy through Apache for all the usual apps; Sab, Sonarr, PlexPy, etc. With Apache redirecting

[2016-04-16 13:04] tidusjar commented on #72
@achoerle348 Thanks! Guess what guys! It's finished!!! I'll be releasing 1.6.1 today :)

[2016-04-16 13:46] #154 closed

[2016-04-16 13:51] tidusjar commented on #152
Fixed in release 1.6.1

[2016-04-16 13:51] #152 closed

[2016-04-16 13:52] tidusjar commented on #150
Included in  build 1.6.1

[2016-04-16 13:52] #150 closed

[2016-04-16 13:52] tidusjar commented on #147
Fixed in release 1.6.1

[2016-04-16 13:52] #147 closed

[2016-04-16 13:52] tidusjar commented on #141
Fixed in release 1.6.1

[2016-04-16 13:52] #141 closed

[2016-04-16 13:52] tidusjar commented on #72
Fixed in release 1.6.1

[2016-04-16 16:03] phairplay opened #159 "How to setup nginx"
Hi
I'm really pleased to see proxy supported but a little confused on how to set it plexrequests up

Could you please give a quick how to?

[2016-04-16 16:08] SaskiFX commented on #72
Found a missing BaseURL spot. Admin registration link for when you are creating a new account. I started with a fresh database.

[2016-04-16 16:14] tidusjar commented on #72
Damn! I thought I covered all areas.

[2016-04-16 16:15] tidusjar commented on #159
Yeah that's fine.

You just need to go into the admin settings, under the Plex Requests settings there is a new option "Base URL".
Fill that in and then restart Plex Requests.

You can then use Ngnix or Apache etc. with Plex Requests.

[2016-04-16 16:16] SaskiFX commented on #72
Eh, its a lot of links to check. :) I was able to get registered and get in. Everything else seems to be working along with all my various sonarr, couchpotato, and pushover stuff.

[2016-04-16 16:17] tidusjar commented on #72
Excellent, glad to hear!

[2016-04-16 16:18] SaskiFX commented on #159
For reference, this is the way I'm running PlexRequests

/usr/bin/mono /opt/PlexRequests/Release/PlexRequests.exe -base plexrequests 3579

[code]
Mine has code in there to disable my .htaccess, and pass the appropriate stuff for SSL.

[2016-04-16 16:20] tidusjar commented on #159
Instead of using `-base` id recommend going to the settings and applying the base url

[2016-04-16 16:21] phairplay commented on #159
Super!
Many thanks

[2016-04-16 16:22] SaskiFX commented on #159
Ah, I set that and didn't even see it. :) I'll adjust my service.

[2016-04-16 17:09] mescon commented on #72
*eagerly waiting* :-)

[2016-04-16 17:10] tidusjar commented on #72
@mescon 1.6.1 has been released :) Check the releases page. There is 1 place where the URL base doesn't work and that's when creating a admin

[2016-04-16 17:15] mescon commented on #72
... which I would probably like to do :) I'll wait for your next push.

[2016-04-16 17:16] tidusjar commented on #72
@mescon You can only create 1 administrator currently. So if you are using an existing database you will never go to that page.

[2016-04-16 17:19] mescon commented on #72
I don't have an existing database, I'm still on the lokenx version!

[2016-04-16 17:22] SaskiFX commented on #72
When you click the link to make the admin account it will 404. Just add the base url in the address bar and it loads. Create the account and then you are good. Reload the site and your in.  Everything else works as expected.

Sent from my iPhone

[2016-04-16 17:25] mescon commented on #72
Ah cool, will try - thx!

[2016-04-16 17:59] Logvin commented on #72
Thank you so much @tidusjar for bearing with us on this and getting it resolved. Shout out to @SaskiFX and @mescon for helping troubleshoot and provide input.

[2016-04-16 18:13] SaskiFX commented on #72
I think he still has one link to fix. :)

[2016-04-16 18:18] tidusjar commented on #72
Correct. I'll leave this open. But I'm not going to push a release out just for that one link :)

[2016-04-17 01:56] Auwen opened #160 "Add a filter option in Requests page to only show released movies"
(Feature request)
My Request list is getting pretty much filled up with requests of movies that haven't even been released in Theaters yet. It'd be nice to hide those until they're released.

[2016-04-17 05:38] tidusjar commented on #160
We do have the filters, so I guess you are suggesting a new filter option?

[2016-04-17 12:17] Auwen commented on #160
That is correct, an additional filter. Though this filter option should be able to be active along with other ones as well (check boxes instead of drop down)

[2016-04-17 13:41] bootldrDNB commented on #138
@Codehhh Hi! I used your init.d script on my Ubuntu 14.04 server, and it seems that PlexRequests dies every couple hours or so, while running the program manually using mono, I have 100% uptime. Do you know what the culprit could be here?

[2016-04-17 13:51] Codehhh commented on #138
@bootldrDNB Go to you app root and upload the log so we can get to the bottom of this!

[2016-04-17 17:11] tidusjar commented on #138
@bootldrDNB Yeah, we need to see why it potentially died :)

[2016-04-17 17:37] mescon opened #161 "PlexRequests 1.6.1 doesn't start at all (Windows/Debian)"
#### Plex Requests.Net Version:
1.6.1

#### Operating System:
Windows 8.1
Debian 8.4

#### Mono Version:
On Debian: 4.2.3

#### Applicable Logs (from `/logs/` directory or the Admin page):

#### Windows 8.1
[code]

#### Debian 8.4 (mono 4.2.3)
[code]

#### Reproduction Steps:
Download - try to start either with mono or with Windows
Please include any steps to reproduce the issue, this the request

[2016-04-17 19:21] tidusjar commented on #161
The Windows issue is you need to run it as admin.

The Debian issue should be resolved by updating mono.

[2016-04-18 01:58] krispayne opened #162 "Can't save Sonarr settings"
When testing connectivity or simply hitting save for Sonarr I generate the following error on it's own on a new page.:

`{"result":false,"message":"You must specify a Quality Profile.","baseUrl":null,"hasBase":false}`

I can also throw a similar error when I delete the port number and hit save/test. Maybe it's in the Javascript on this particular page?
`{"result":false,"message":"You must specify

[2016-04-18 06:03] tidusjar commented on #162
That's strange. It's like the JavaScript is not executing correctly. The message you are seeing drives the little notification pop ups.

[2016-04-18 09:19] bootldrDNB commented on #138
Alright, got the log here.

http://pastie.org/private/elycijwe8gqwpdkpxguzdg

[2016-04-18 09:28] tidusjar commented on #138
@bootldrDNB OS?

[2016-04-18 09:31] tidusjar commented on #138
Well that is strange... I have never come across that issue with NLog before (Been using it for at least 3 years).

[2016-04-18 10:06] bootldrDNB commented on #138
Nope, its been running now for 2 days with no crashes. With the init.d script, it crashes after a few hours. Might make a script based on my rtorrent script, running rtorrent in a screen session.

[2016-04-18 12:02] #159 closed

[2016-04-18 12:04] tidusjar commented on #162
@krispayne What browser are you using? Does this happen on all browsers?

[2016-04-18 12:04] #121 closed

[2016-04-18 12:54] heartisall opened #163 "Add ability to request anyway if currently available."
I often have people wanting to request a better version of a movie I already have for instance due to hardcoded subs, lack of subs, Standard Definition, etc. It would be great it you could click the available button and have an option to re-request based on a set of issues much like we already have for movies that you request that aren't in plex.

[2016-04-18 13:33] AmansRevenger opened #164 "Add Slack Notification support"
Basically the title, it's the only thing missing from the original plexrequest-meteor I can think of/ notice missing.

[2016-04-18 13:39] jkaberg opened #165 "Docker Container"
Could you guys please add an Docker container (with automated builds @ hub.docker.com), perferebly Alpine based one

Thanks!

[2016-04-18 13:42] Drewster727 commented on #138
@bootldrDNB what port are you running PR on? I had an issue where I was running it on port 80 and some app/service in my ubuntu server box was booting it off that port after x amount of time, never did figure out what was causing it. However, I confirmed mono was still running after that happened. I reinstalled my whole box and the problem went away. Could be related, probably not...

[2016-04-18 13:43] Drewster727 commented on #163
@tidusjar we may have to start storing quality levels

[2016-04-18 13:50] tidusjar commented on #163
@Drewster727 Maybe not storing them, but caching them, I'm pretty sure the Plex api should give us this information of what the current quality is.

[2016-04-18 14:25] bootldrDNB commented on #138
I'm running it on its standard port, 3579. :)

[2016-04-18 14:56] bootldrDNB opened #166 "PlexRequests times out when certain iptables rules are applied."
Hi!

I usually block access to my applications running on my server on IP:PORT, so they can only be accessed through my webserver with password protection.

I setup a subdomain for PlexRequests, but I would still to like to keep it separated from all my other tools.

I setup my iptables like this for every tool that I use.

`-A INPUT -s 127.0.0.1/32 -p tcp -m tcp --dport <PORT> -j ACCEPT

 -A INPU

[2016-04-18 14:56] bootldrDNB opened #167 "PlexRequests times out when certain iptables rules are applied."
Hi!

I usually block access to my applications running on my server on IP:PORT, so they can only be accessed through my webserver with password protection.

I setup a subdomain for PlexRequests, but I would still to like to keep it separated from all my other tools.

I setup my iptables like this for every tool that I use.

[code]

However, if I do this with PlexRequests I get a 504 timeout error.

[2016-04-18 14:59] #166 closed

[2016-04-18 15:55] krispayne commented on #162
I was using Safari 9.1 on my two mac's. Also happens on Safari on iOS. Same issue on Firefox 42.
Tested also in Chrome 44 on Windows Server 2008 R2. Same result.

[2016-04-18 15:56] tidusjar commented on #162
When you extracted PR from the .zip, did you 100% unblock the actual zip file? Or just the .exe?

[2016-04-18 16:37] sydeburnz opened #168 "undefined error when adding tv show"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

#### Plex Requests.Net Version:
1.6.1

#### Operating System:
windows server 2008 r2

#### Mono Version:

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Reproduction Steps:

Go to TV Shows, Search for Twin Peaks, request a

[2016-04-18 16:42] Drewster727 commented on #168
@sydeburnz you need to follow the steps in the issue. We need logs, steps to reproduce, etc..  Please provide that info so we can troubleshoot.

[2016-04-18 17:32] tidusjar commented on #164
The question is, does anyone actually use it? I'm not going to bother implementing it, if no one wants it.

[2016-04-18 17:47] tidusjar commented on #162
I have fixed this in the latest dev build. I found out what was going on. The current dev build is very stable so please feel free to use it until we push out a new version:
https://ci.appveyor.com/project/tidusjar/requestplex/build/1.6.279/artifacts

[2016-04-18 17:54] #162 closed

[2016-04-18 17:55] tidusjar commented on #167
Sorry, I'm a Linux noob here, can you explain what this is doing in Windows terms? :astonished:

[2016-04-18 17:59] tidusjar commented on #165
Got any guides on where to start creating a docker container? :)

[2016-04-18 18:06] tidusjar commented on #168
@sydeburnz Thank you for the logs.

I have tried requesting it on my server and everything seems to be fine.

In your settings do you have `Require approval of TV show requests` enabled or disabled?

If it is enabled is the admin requesting this or a user in the list that do not require approval?

[2016-04-18 18:13] sydeburnz commented on #168
require approval of TV show requests - not enabled (box not checked)

[2016-04-18 18:17] tidusjar commented on #168
@sydeburnz Ok, is your Sonarr/Sickrage setup correctly? Since when you request it will automatically be approved and sent to Sonarr/Sickrage

[2016-04-18 18:22] sydeburnz commented on #168
i have setup the sonaar page, finally got it to get the quality profiles and tested the connection with  with a success message and then I submitted the setup.  I am assuming that is what you mean by setup correctly?

is there anything from the old version (not .net) that may be conflicting?

[2016-04-18 18:26] tidusjar commented on #168
@sydeburnz Yeah that's what I meant.

I'm struggling to reproduce this issue of yours. Is it being added to Sonarr?
Do you have any more logs around that time?

[2016-04-18 18:33] sydeburnz commented on #168
first off, is there a specific log type?  i see in your app you have several logs types and you have to set the log type in the admin, or does that even matter?  do the raw logs just keep everything and the admin allows you to filter?  strange thing is when i test this, it doesn't seem to be hitting the log.

![untitled](https://cloud.githubusercontent.com/assets/18535787/14615087/b26ee44e-0569-11

[2016-04-18 18:47] sydeburnz commented on #168
2016/04/18 13:42:55.530 PlexRequests.UI.Program Info: Version: 1.6.1
2016/04/18 13:42:55.545 PlexRequests.Store.DbConfiguration Trace: Checking DB
2016/04/18 13:42:56.481 PlexRequests.Core.Setup Info: Executing GetSettings call to CouchPotato for quality profiles
2016/04/18 13:42:56.481 PlexRequests.Core.Setup Info: Executing GetSettings call to Sonarr for quality profiles
2016/04/18 13:42:56.887

[2016-04-18 18:51] jkaberg commented on #165
Yeah, here's one https://github.com/justin8/docker-sonarr-develop/blob/master/Dockerfile

And here's how you create automated builds, https://docs.docker.com/docker-hub/builds/

[2016-04-18 18:51] tidusjar commented on #168
Can you press F12 and tell me what browser errors you are getting?

[2016-04-18 18:52] sydeburnz commented on #168
The request of TV Shows is not correctly set up. Please contact your admin.

[2016-04-18 18:55] sydeburnz commented on #168
oh my word.  i double checked all my settings and  it appears that for some reason when i was trying to get the quality profiles to load right, in unchecked the 'enable' button at the top and forgot to check it when i got the settings right.  sorry.

[2016-04-18 18:55] sydeburnz commented on #168
works now.

[2016-04-18 18:56] krispayne commented on #162
@tldusjar : not sure if I can unblock a zip on CentOS 7.2, or need to.

I'll try out the dev build tonight, don't have vpn to my home network setup at this time. Thanks!

[2016-04-18 19:05] tidusjar commented on #168
strange why you didn't get the error in the notification window. That's a bug. Glad it's sorted though

[2016-04-18 19:09] #168 closed

[2016-04-18 19:43] bootldrDNB commented on #167
Allowing localhost to connect to that port, but no-one else. :)

[2016-04-18 20:14] rogueosb commented on #165
Try this one: [https://github.com/rogueosb/docker-plexrequestsnet-alpine](https://github.com/rogueosb/docker-plexrequestsnet-alpine)

[2016-04-19 03:17] krispayne commented on #162
@tidusjar Installed the dev build. Issue resolved.

Thank you!

[2016-04-19 07:54] tidusjar commented on #162
@krispayne I suggest staying on that version (dev build) until we release a new version :)

[2016-04-19 10:00] bootldrDNB commented on #138
UPDATE: The application crashed after 3 days in screen.

[2016-04-19 10:09] tidusjar commented on #138
Same error in the logs?

[2016-04-19 11:29] HamilcarH opened #169 "Add the ability to request an artist. (Headphones)"
Instead of just an album.

Thanks !

[2016-04-19 17:52] R-Jimenez opened #170 "Specify a Sonarr file path on approval"
Obligatory 'Holy crap this makes everything much easier thanks a ton for working on this project xoxoxo'

Ehem. Anyways, as the title might suggest, I would love it if the Sonarr integration would allow me to specify the file path on a per-series basis. So that when I click approve on the requests panel, instead of using the default path found in the settings, I could instead use a certain path fo

[2016-04-19 20:15] tidusjar commented on #170
Just trying to think how this would fit into the UI and flow, so maybe another dropdown option on the Approval button? What do you think?

[2016-04-20 11:09] csy7550 opened #171 "PlexRequest crashing"
#### Plex Requests.Net Version:

1.6.1

#### Operating System:

Windows 8.1

#### Mono Version:

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Reproduction Steps:

Leave PlexRequest running for some time. This has happend 2 times now, same error. Should note that this is from the windows event log as plexrequest log doesn't say anything about this.

[2016-04-20 11:12] tidusjar commented on #171
Thanks, @Drewster727 are you able to comment on this? You are more familiar with the CP Cacher

[2016-04-20 13:01] Drewster727 commented on #171
This could be something similar to what I'm running into under linux/mono. I'll have to confirm. Interesting that the logs didn't show this and you had to grab it from the event viewer.

[2016-04-20 14:51] bootldrDNB commented on #138
Yes. :(

[2016-04-20 18:37] heartisall commented on #171
@csy7550 @tidusjar I think this is likely the same issue I was having on Server 2012. On the Newest release I changed the .exe to run in compatibility mode (Windows 7) and I have not had a crash since vs. before at least 1 or 2 per day.

[2016-04-20 18:45] csy7550 commented on #171
@heartisall I'll try that :)

[2016-04-20 18:46] Auwen opened #172 "Allow for Report Issue from search results."
(Enhancement)

I love PlexRequests showing if it's Available or Requested within the search. What would be nice, though, is if the Available button allowed for Report Issues as well.

That is, a user sees that a movie is unplayable, goes to PlexRequests, searches movie, clicks drop down for Available (Or a separate button for Report Issue, etc). Admin gets notified via PushBullet (etc.).

Currentl

[2016-04-20 22:48] scipio314 commented on #72
I'm having trouble getting this to work.

I install plexrequest and go to localhost:3579 and create an Admin account. I then create a URL base called 'request'. I hit save and then the css disappears. I then restart plexrequest.

I have tried localhost:3579 and it gives me 404 page not found. I then try domain/request and I also get 404 page not found. My apache settings are:

\<Location /request>

[2016-04-21 05:31] csy7550 commented on #171
@heartisall Does not make a difference, crashed during the night

[2016-04-21 06:03] tidusjar commented on #72
Does http://localhost:3579/request work?

[2016-04-21 06:04] tidusjar commented on #171
Same error logs @csy7550 ?

[2016-04-21 07:07] csy7550 commented on #171
Actually no, but kind of (!) SickRage this time.

Application: PlexRequests.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Net.Sockets.SocketException
   at System.Net.Sockets.Socket.DoConnect(System.Net.EndPoint, System.Net.SocketAddress)
   at System.Net.ServicePoint.ConnectSocketInternal(Boolean, System.Net.Sockets

[2016-04-21 08:04] tidusjar commented on #171
We throw an `ApplicationException` (could be a better exception type) when the response from the API call contains errors. It looks like in the cachers we need to catch that exception type and handle it better to stop PR from crashing.

[2016-04-21 11:30] tidusjar commented on #171
Anyone want to try out a new build to see if it resolves the issue?

[2016-04-21 11:37] csy7550 commented on #171
@tidusjar I would love to try :)

[2016-04-21 11:38] tidusjar commented on #171
@csy7550 https://ci.appveyor.com/project/tidusjar/requestplex/build/1.6.287/artifacts

Let me know how you get on!

[2016-04-21 11:42] csy7550 commented on #171
Up and running, will report back!

[2016-04-21 21:04] mwill945 commented on #164
It's the only thing keeping me from switching over from the meteor version. Both Pushbullet and Pushover fail to send notifications to me on a regular basis, whereas Slack always seems to work.

[2016-04-21 21:05] tidusjar commented on #164
Ok, we will add slack notifications in!

[2016-04-21 22:17] DereckR opened #173 "Request Certain Seasons"
Hello,

I am getting a lot of users wanting to select like last 3 seasons and I have them just request latest then go in sonarr and select more. Is there a way this could be added like another option to select specific seasons?

Thanks,
Dereck

[2016-04-22 07:56] csy7550 commented on #171
@tidusjar Been running since yesterday now without any crashes, looks promising!

I might have found a HUGE memory leak though, have to confirm first, then report new issue.

[2016-04-22 08:47] csy7550 opened #174 "Log level memory leak"
#### Plex Requests.Net Version:

1.6.1

#### Operating System:

Windows 8.1

#### Reproduction Steps:

1. Log level fatal = no significant memory leak. Sitting at 50MB memory usage after 1 day.

2. Log level trace = 1.7GB memory usage after 1 day.

Perhaps this is related to the plex availability checker? I've confirmed this over a few days now and the results are the same every time. Could be rel

[2016-04-22 09:16] tidusjar commented on #174
Wowzers, the `Trace` level is mainly for debugging purposes. I suggest keeping it at the `Info` level.

[2016-04-22 12:46] scipio314 commented on #72
yes thank you that worked. I changed my reverse proxy settings to:

\<Location /request>
ProxyPass http://localhost:3579/request
ProxyPassReverse http://localhost:3579/request
\</Location>

[2016-04-22 14:52] tidusjar commented on #173
@DereckR Hi! Thanks for the suggestion, we have already got a task to do that! #26 !

[2016-04-22 14:52] #173 closed

[2016-04-22 15:58] evilspectre commented on #170
Not OP, but was coming here to request same thing, another drop down would work, you could also put that info into approved/available/requested by list like https://i.imgur.com/81MQkWq.png

Also, I was going to make a similar request for Movies/CouchPotato and adding another drop down for Categories, do you want that a separate issue?

[2016-04-22 16:13] tidusjar commented on #170
@evilspectre Yeah if we added another dropdown we would make sure we display it on the requests page.

Regarding the categories yes can you please raise that separately  :)

[2016-04-22 16:18] R-Jimenez commented on #170
Either solution would be great! Having it tied to the request like @evilspectre suggested may be my preferred method (similar to Sonarr's object design), but something like Approve ([category name]) would work just fine, and users can just set up file categories in their config like everything else.

[2016-04-22 16:24] tidusjar commented on #170
Well I was thinking, for TV under the approve dropdown there would be a new option `Approve with path` or something like that. That will then give you some sort of text box to specify a file path for that single approval ? Opinions?

[2016-04-22 16:25] tidusjar commented on #172
Sounds like a good idea. If a user does this, would you expect it to be in the requests page? Or just send a notification and that is the end of it?

[2016-04-22 16:26] R-Jimenez commented on #170
Fine by me. Simply having the capability is more than enough for my needs.

[2016-04-22 16:27] tidusjar commented on #170
I'm just wondering on the most user friendly way to do things (I don't have a need for this functionality).

What's the usual usecase? You would have series 1 = C:\Series\Series 1 and series 2 = D:\Series\Series 2?

[2016-04-22 16:28] Auwen commented on #172
It would make sense to me for it to be in the Requests (or maybe a separate Issues page? if not too much work) that way I can keep track of which ones I've fixed and haven't yet.

Thanks!

[2016-04-22 16:29] tidusjar commented on #161
@mescon Any luck?

[2016-04-22 16:29] tidusjar commented on #172
So you would set the value on the actual approval of the request @Auwen ?

[2016-04-22 16:37] Auwen commented on #172
Maybe an Issue Report doesn't need to be 'approved of' per-say by the admin, but rather Outstanding or Done/Delete? Just a standing list, as it were.

Maybe: User searches for movie. If movie is found in Plex, show Available and Report Issue button (similar to how it is on the Requests page, drop down for Report Issue, showing options). User clicks the issue, and it's put into Issues list. Admin g

[2016-04-22 16:41] Auwen opened #175 "Allow Pre-Approved users to set quality level from Search Page"
For those users that have been pre-approved to request movies, it'd be nice to allow them to choose the quality from the Search Page instead of using the CouchPotato default as it is now.

Maybe the Request button could use the CouchPotato default, but a dropdown along side allows to choose the quality.

What happens is that the admin (me) requests a movie, but I want it in a different quality tha

[2016-04-22 16:58] R-Jimenez commented on #170
I have three distributed media folders across three drives, but yeah, you've got the gist of the usecase. Live-action dramas go on one drive, anime on another, etc.

[2016-04-22 21:42] evilspectre commented on #170
Same, have a /Media/TV /Media/Cartoons and a /Media/Anime folders

[2016-04-22 21:45] evilspectre opened #176 "Specify Category when Approving Movies (CouchPotato)"
Similar to #170, but with approving Movies. CP lets you select a Category when adding a Movie, would just need to pull all Categories and list in a drop down so it can be selected before approving the Movie.

[2016-04-22 23:53] mescon commented on #161
Hey, thanks for checking in.

I haven't tried it on Windows (but thats not really where I want to deploy this anyway).
As stated in the bug report, I am already running the latest version of mono on the package manager (4.2.3 stable)

[2016-04-23 09:51] csy7550 commented on #171
@tidusjar I think it's safe to say the problem is gone. Should have crashed multiple times by now. Great!

[2016-04-23 14:45] #171 closed

[2016-04-23 21:24] my95z34 opened #177 "Requests show for all users, except admin"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

#### Plex Requests.Net Version: 1.6.1

#### Operating System: FreeNAS

#### Mono Version: 4.2.2

#### Applicable Logs (from `/logs/` directory or the Admin page):

Nothing shows up in the logs regarding this issue.

#### Reproduction Steps:

Whenever I am

[2016-04-23 21:52] tidusjar commented on #177
Have you tried clearing the browser cache? Also have you tried changing the filters when admin to see if anything happens?

[2016-04-24 00:17] tedrock opened #178 "The authentication or decryption has failed"
Decided, against my better judgement, to update to the latest version. I assume this means I'll have to rebuild my database again.

#### Plex Requests.Net Version: 1.6.1 (updated from 1.5.2)

#### Operating System: FreeNAS-9.3-STABLE-201602031011

#### Mono Version: Mono JIT compiler version 4.2.2 (Stable 4.2.2.10/7b87787 Sat Mar 12 03:34:34 UTC 2016)

#### Applicable Logs (from `/logs/` directory

[2016-04-24 15:28] yeyeoke opened #179 "Feature request: Friendly names for users"
I'd love to have the ability to change the user-names into a more friendly and recognizable name i.e. margehateshorses666 can be edited into "mom".

[2016-04-24 20:35] ptcfast2 opened #180 "CouchPotato API Communication Issue"
**Plex Requests.Net Version:** 1.6.1
**CouchPotato Version:** c4fad95c (2/24/2016) cloned from git
**Operating System:** Windows Server 2012 R2 Standard
**Mono Version:** N/A
**Applicable Logs:**

   at PlexRequests.Api.CouchPotatoApi.GetProfiles(Uri url, String apiKey) in C:\projects\requestplex\PlexRequests.Api\CouchPotatoApi.cs:line 108
   at PlexRequests.Core.Setup.CacheCouchPotatoQualityProfi

[2016-04-24 20:55] ptcfast2 commented on #180
So uhhhh...by mashing the test connectivity button over and over and adding a forward slash at the end of the key and then removing it something started working. I don't know what, I don't know how but eventually it connected.

Let me know if you want me to nab anything from the requests PlextRequests would ask for from CouchPotato.

[2016-04-25 06:38] tidusjar commented on #180
This issue usually happens when we hit couchpotato but can't authenticate correctly either due to bad credentials or not hitting the correct endpoint. Thanks for reporting it.

[2016-04-25 06:38] #180 closed

[2016-04-25 08:58] tidusjar commented on #179
Hmmm, this is a good idea, but not sure if we would want to manage this. If anyone else wants this functionality please post on here.

[2016-04-25 09:12] tidusjar commented on #178
Strange, We seem to be experiencing a few issues with Octokit (Library that get's the github information).

[2016-04-25 09:14] tidusjar commented on #178
It's possible that it cannot verify the certificate when executing the request. Can you try and run the following command:

    mozroots --import --ask-remove

[2016-04-25 12:52] tidusjar commented on #72
All fixed.

[2016-04-25 12:52] #72 closed

[2016-04-25 12:54] khellang commented on #72
:clap:

[2016-04-25 14:14] tedrock commented on #178
Resolved the issue thank you

[2016-04-25 14:15] tidusjar commented on #178
Not a problem, seems that mono didn't have all of the certificates it needed.

[2016-04-25 14:15] #178 closed

[2016-04-25 16:27] tidusjar opened #182 "Allow custom notifications"
Allow the users to specify the notification text etc.

[2016-04-25 16:30] tidusjar commented on #161
Can you run the below and then try. I think it's a certificate issue.

    mozroots --import --ask-remove

[2016-04-25 19:24] mescon commented on #161
That did the trick! Still the same problem with base url though - if i click "admin" i get 500 internal server error".

[code]

[2016-04-25 20:19] mescon commented on #161
ah, i see you fixed that in develop... *patiently waiting for a release*

[2016-04-25 20:41] tidusjar commented on #161
You are using Url base right? What's your base set at?

[2016-04-25 22:15] Drewster727 opened #183 "Should notifications be sent when an admin makes a request?"
I think it makes sense to avoid sending a "user x requested y" notification when that user is an admin.

[2016-04-26 06:45] tidusjar commented on #183
Yeah I agree

[2016-04-26 12:41] my95z34 commented on #177
I've done the shift + refresh. Not entirely clearing cache. Just found it
interesting that it happens on more than just one device. And when one
works, they all work. When one doesn't work, none work. Seems to be server
side.

Yes to the filters.

Also, now, it seems to be intermittent. Sometimes they show for the Admin,
sometimes they don't.
On Apr 23, 2016 5:52 PM, "Jamie" <notifications@github.

[2016-04-26 13:50] tidusjar commented on #177
That's is strange. If you don't mind, if you are able to get it into a state where they do not appear and then open up the browsers developer tools (usually F12) and go to the console, are there any errors?

[2016-04-26 14:22] my95z34 commented on #177
Of course now it's working, lol.  Next time it stops I'll check.

Also, not sure if I was clear with my report, but it's only the movies page.  The TV shows page loads fine.

[2016-04-26 22:13] mescon commented on #161
its set to "requests", i.e: ``http://computer.net/requests/" is the external URL.

[2016-04-26 22:14] tidusjar commented on #161
That's the issue. You can't have it set to an existing page in the website currently. If you change your base to 'request' you will have no issues.

[2016-04-26 22:20] tidusjar commented on #161
@mescon by the way, I'm loving muximux!

[2016-04-27 05:48] polytrophic opened #184 "Handle Octokit.RateLimitExceededException (And Allow Server to Start)"
#### Plex Requests.Net Version:
1.6.1

#### Operating System:
Windows 10 Pro Insider Preview

#### Mono Version:
.NET Framework 4.6.1

#### Applicable Logs (from `/logs/` directory or the Admin page):
Exception message happens at startup:
[code]
Server does not start after exception.

#### Reproduction Steps:

Presumably, start the server a bunch of times to the point of reaching the GitHub/Octoki

[2016-04-27 08:34] tidusjar commented on #184
Correct, you have reached the Github api limit. I am not sure there is much we can do about this. We can continue the application but we run the risk of not knowing your version and not updating any backend stuff correctly e.g. DB.

After looking at the code I think we do not have to call github on startup to prevent this.

All we need is the assembly version I think. https://github.com/tidusjar/P

[2016-04-27 09:53] JigSawFr opened #185 "Feature/Fix Request : Support for Plex Home"
Hello,
It could be great to add Plex Home support.
When you refresh Users, Plex Home members are shown as an "empty" item in list.
So, why not include Plex Home members to requests too, just by entering their name,
Or by creating a password on PlexRequests side for them :)

Thanks you !

[2016-04-27 09:55] tidusjar commented on #185
Sorry, I'm not sure what Plex Home members are, can you explain a bit more?

[2016-04-27 12:12] JigSawFr commented on #185
@tidusjar Plex Home is a Plex Pass functionnality described here: https://support.plex.tv/hc/en-us/articles/203815766-What-is-Plex-Home-
So, you can have local user in a Plex Account

[2016-04-27 12:15] tidusjar commented on #185
Hmmm... I've taken a look an I can't seem to find out how to get that information from the Plex Api.

[2016-04-27 12:35] JigSawFr commented on #185
But it seems that they are present in list of Plex Requests but with empty pseudo no ?

[2016-04-27 12:48] tidusjar commented on #185
They are present in Plex Requests? What do you mean? In the admin screen?

[2016-04-27 13:04] JigSawFr commented on #185
@tidusjar Yes they are some blank items in users list, maybe my Plex Home users i think ?

[2016-04-27 13:05] tidusjar commented on #185
Can you please show me a screenshot?

[2016-04-27 13:11] JigSawFr commented on #185
Yes of course @tidusjar
![Plex Home](http://i.imgur.com/wTawRKB.png)

[2016-04-27 13:14] tidusjar commented on #185
Oh ok, that's interesting! I'll take a look. I do not have Plex Pass myself so I may ask for some assistance from you at some point if that is ok?

[2016-04-27 13:29] JigSawFr commented on #185
No problem i can help you to introduce this feature if you want ;)

[2016-04-27 13:44] tidusjar commented on #185
@JigSawFr You are welcome to take a look!

https://github.com/tidusjar/PlexRequests.Net/blob/master/PlexRequests.UI/Modules/AdminModule.cs#L260

The above is where we filter get the users from the Plex api.

[2016-04-27 14:14] Auwen commented on #179
It'd be nice, but very low priority for me.

[2016-04-27 14:21] Drewster727 commented on #185
interestingly, I also use Plex Home, but I don't have any blanks like what @JigSawFr sees. My plex home users show up just fine in the list. What would the benefit be to adding support for plex home? are you trying to automatically make these users admins in plexrequests?

[2016-04-27 14:26] tidusjar commented on #185
That's interesting then. The only reason why they would be blank is if Plex told us they are empty strings or whitespace.

@JigSawFr Can you open up the browser development tools (F12) and use the DOM/Element inspector on one of the empty items in the box and post the results?

[2016-04-27 15:07] JigSawFr commented on #185
@tidusjar yes they are empty:

`<select id="users" multiple="" class="form-control-custom "><option>XXX</option><option></option><option>XXX</option><option></option><option>XXX</option><option>XXX</option><option>XXX</option><option>XXX</option></select>`

I will fork it and work on it to view results of requests.

@Drewster727 you see your Home's users in the list directly ?
My family's members

[2016-04-27 15:12] tidusjar commented on #185
@JigSawFr Can you put this in your browser where *YOURAPIKEY* is your Plex api key?

https://plex.tv/pms/friends/all?X-Plex-Client-Identifier=das&X-Plex-Product=dsa&X-Plex-Version=123&Content-Type=application/xml&X-Plex-Token=*YOURAPIKEY*

We use the `username` property in the User node, what is appearing for you?

[2016-04-27 15:28] JigSawFr commented on #185
Okay i've understand why, username is blank for Plex Home users as this example:
`<User id="123456789" title="Julie" username="" email="" recommendationsPlaylistId="abc123abc123" thumb="https://plex.tv/users/abc123abc123/avatar">
<Server id="123456789" serverId="123456789" machineIdentifier="abc123abc123" name="MyHomeServer" lastSeenAt="123456789" numLibraries="3" owned="1"/>`
We need to use title

[2016-04-27 15:30] tidusjar commented on #185
The reason why I chose to use username is because it makes sense. But I don't know if the Title could be different to the username...

From what I have seen the Title is always the same as the username but I don't know that 100%

[2016-04-27 16:59] JigSawFr commented on #185
PlexPy is using title as Local users are working on it. I've not seen any option to change title on Plex.tv

[2016-04-27 18:24] tidusjar commented on #185
Yeah looks like everyone is using title! Guess we will change it :D

[2016-04-28 09:17] tidusjar opened #186 "Backup the DB"
Introduce a task to backup the database every X hours/days

[2016-04-28 13:19] JigSawFr commented on #185
@tidusjar so it's now possible whi local users pseudo to request something ? And they will be denied if we require a password ? Login control check if pseudo provided is present in users list no ?

[2016-04-28 13:20] #186 closed

[2016-04-28 13:24] tidusjar commented on #185
@JigSawFr Sorry, I forgot about that!

So I just change it. So if we require authentication without a password we will check the `title` of your users returned from the Plex Api.

If it requires a password then it's not going to work as we preform a different Plex Api call to log the actual user into Plex.

[2016-04-28 13:26] tidusjar commented on #185
If you want to test this, you can use this build: https://ci.appveyor.com/project/tidusjar/requestplex/build/1.6.304/artifacts

[2016-04-28 17:07] KrunchMuffin opened #187 "System.SystemException: Error running mcs: Cannot find the specified file"
#### Plex Requests.Net Version:
1.6.1

#### Operating System:
Ubuntu 14

#### Mono Version:
4.2.3

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Reproduction Steps:

Started OK
`mono PlexRequests.exe`
`
Version: 1.6.1
Location of the database: /plexrequests.net/Release/PlexRequests.sqlite
Request Plex is running on the following: http://+:3579/
`
Then went to the

[2016-04-28 17:12] KrunchMuffin commented on #187
I just saw this https://github.com/tidusjar/PlexRequests.Net/issues/50 but I am on a 4 release of mono.

[2016-04-28 17:15] KrunchMuffin commented on #50
So , I am on 4.2.3 of mono and I am still getting this.
I am leary to try `sudo apt-get install mono-complete` cause I don't want to break sonarr

[2016-04-28 17:27] Fogest commented on #50
It won't break it. It is just a package.
On Apr 28, 2016 1:15 PM, "Derek" <notifications@github.com> wrote:

[2016-04-28 18:00] tidusjar commented on #187
Hmmm... I'm not sure what to suggest other than install the mono complete...

[2016-04-28 19:04] KrunchMuffin commented on #187
ya, looks like I can't. no sudo perms

[2016-04-28 19:30] tidusjar commented on #187
Are you able to remove and install mono?

[2016-04-28 19:32] KrunchMuffin commented on #187
I don't think so. If I can't sudo to upgrade I doubt I can
remove/reinstall. No big deal.

On Thu, Apr 28, 2016 at 3:30 PM, Jamie <notifications@github.com> wrote:

[2016-04-28 20:44] Ovicior commented on #179
Add another parameter to each user.

Instead of using the "username" to represent the user, add another field to input a "nickname". Nickname is shown. Each user has a list of nicknames corresponding to certain people, so only they see the changes.

[2016-04-29 03:57] dualznz opened #188 "C# admin mode instruction"
right click on Solution, click Add / New item, scroll down to "Application Manifest File"

this will add it to the solution, open it on your solution explorer,
you will see
`<requestedExecutionLevel  level="asInvoker" uiAccess="false" />`

change this to
`<requestedExecutionLevel  level="requireAdministrator" uiAccess="false" />`

this will force the application to always run in admin mode
simple

[2016-04-29 06:27] tidusjar commented on #188
Thanks! But we don't always need the application to run with admin privileges.

[2016-04-29 13:13] tidusjar commented on #184
I have fixed this in the latest dev build.

We didn't really need to check the github version at that point as we can get that information out of the local assemblies (dll's).

[2016-04-29 13:13] #184 closed

[2016-04-29 13:14] tidusjar opened #189 "Show when there is an update available in the UI"
If there is a update available, show the admin in the UI.

[2016-04-29 13:14] #189 closed

[2016-04-29 13:17] tidusjar commented on #177
@my95z34 Any luck?

[2016-04-29 13:17] #165 closed

[2016-04-29 13:18] tidusjar commented on #161
@mescon Any luck?

[2016-04-29 13:21] #185 closed

[2016-04-29 13:57] my95z34 commented on #177
It's still working normally... Lmao. I guess we can close this and if it
happens again I'll comment with the info you asked for.

I love how it was happening 75% of the time before I report the issue, then
stops. Lol

Thank you though.
On Apr 29, 2016 9:17 AM, "Jamie" <notifications@github.com> wrote:

[2016-04-29 13:59] tidusjar commented on #177
Haha that is usually the case with everything!

Not a problem, I get emails with issues so when you comment on this I will see.

[2016-04-29 14:00] #188 closed

[2016-04-29 14:53] tidusjar opened #190 "Update the gh-pages"
Comment from visitor, they didn't know what PR did:

I suppose you need to just add in the about section some simple description, akin to what was given to me above, something like that? Just mentioning that plex users that utilise the share function can now use your program and add new features and those features will be useful between sharing users. . That's what I didn't realise. Once I knew th

[2016-04-29 14:57] mescon commented on #161
Ah... damnit... all of my friends have bookmarked /requests already, but I could just do a 301 redirect or something on that to /plexrequests or something. What internal URL:s are "banned" from being used?

Thanks btw :-)

[2016-04-29 15:02] tidusjar commented on #161
Sorry! The Url's that are used by the application.

So off the top of my head:

- admin
- requests
- search
- userlogin
- login
- search
- applicationtester
- updatechecker

[2016-04-29 17:51] Leroyvg opened #191 "IIS compatible"
Hello,

Is it possible to host plexrequests in IIS. i manage all my websites in IIS that how i can create more a records for my website. I only need then 1 port for more websites.

[2016-04-29 19:16] tidusjar commented on #160
This has been done in @origamirobot 's PR

[2016-04-29 19:16] #160 closed

[2016-04-29 19:20] tidusjar commented on #191
I'm not sure that I want to add a dependency on IIS, we are using a specific technology called NancyFx, the reason for this is so we can easily Self Host.

Sorry. If I ever find out how to host under IIS and also have the ability to self host I will let you know.

[2016-04-29 19:20] #191 closed

[2016-04-30 05:23] PhAzE-Variance opened #194 "Allow use of base url for reverse proxies"
Can support be added to allow a base url to the gui so that a reverse proxy can be used.  An example is
Http://192.168.1.3:9077/request -> http://domain.com/requests

All of the Web pages will need to become a sub directory of the base url.

[2016-04-30 05:28] PhAzE-Variance opened #195 "Allow users to request tv shows, movies, or both per user"
Add ability for different users to have different options. Some users can only request movies while others can only request tv shows, or both movies and tv shows.

The main reson behind this is tv shows can be huge and i wouldnt want everyone i allow on to add shows while family members i would allow.

[2016-04-30 05:43] PhAzE-Variance commented on #194
My mistake,  this is already implemented on the .net version.

[2016-04-30 05:43] #194 closed

[2016-04-30 09:54] tidusjar commented on #195
Good idea!

[2016-04-30 09:54] tidusjar commented on #194
:D

[2016-04-30 12:38] stewie4684 opened #196 "Feature Requests: Support for multiple plex servers"
I know this is a probably a rare case but I run a separate plex server for my movies and tv shows. At the moment I have plex request set to check my tv shows server (well simply because tv shows are harder to mark off by hand). I was wondering if there are any plans to add support for multiple plex servers.
Thanks again for such a great program.

[2016-04-30 13:25] tidusjar commented on #196
Someone else has also mentioned they use a separate plex server and split them up. It would be possible. We just need to plan it correctly really. Since this is the 2nd request we will implement this at some point.

[2016-05-01 02:42] ramsaytc opened #197 "Existing Movies in Plex not showing up as 'Available' during Search"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

#### Plex Requests.Net Version:
1.6.1

#### Operating System:
Debian Wheezy (rogueosb's docker)

#### Mono Version:
4.2.3.4

#### Applicable Logs (from `/logs/` directory or the Admin page):

[code]

#### Reproduction Steps:

Searching for existing movies

[2016-05-01 08:18] bjonness406 opened #198 "Admin can not request tv shows"
Admin can not request tv show, only moveis. Then you request as an admin, you will get an error message.

#### Plex Requests.Net Version:
1.6.1

#### Operating System:
Docker from rogueosb

#### Reproduction Steps:
Log in as Admin, and then request a tv show. Then it will give a error message when you request a tv show, movies work just fine.

I have not set up sonarr/sickrage yet, maybe that is w

[2016-05-01 10:29] tidusjar commented on #198
Ah that makes sense. As an admin we sent the request straight to sonarr/sickrage.

Looks like this is a bug

[2016-05-02 03:01] jrdnlc opened #199 "Base URL for Reverse Proxy"
What is the proper url format? I'm entering /request in the base url but then plexrequests becomes unusable and I get a "404 - NotFound" error when I try to access the webui.

![Image of Error]
(http://puu.sh/oDaty/e901650a70.png)

[2016-05-02 03:08] PhAzE-Variance commented on #72
Im using the base url "requests" and it seems to work,  except when i click on Admin i get the following error.

`Error Details

Nancy.RequestExecutionException: Oh noes! ---> Microsoft.CSharp.RuntimeBinder.RuntimeBinderException: `System.Dynamic.ExpandoObject' does not contain a definition for `SearchForMovies'
  at (wrapper dynamic-method) System.Object:CallSite.Target (System.Runtime.CompilerSe

[2016-05-02 07:21] khellang commented on #72
Maybe there should be a check for reserved URLs? :stuck_out_tongue:

[2016-05-02 12:23] tidusjar commented on #199
Have you navigated to localhost:3579/request ?

[2016-05-02 14:27] jrdnlc commented on #199
@tidusjar Yeah. It takes me to that 404 page

[2016-05-02 14:41] bjonness406 opened #200 "Can add content that is already on plex"
I don't know if this is a bug, or something I have messed up. If it is something I have done, it is probarly something with the "Plex SubDirectory", since I was not sure what to write there (screenshot below). If it is this, it should be a info text right under it :)

Then I request something on plex that is already there, it still adds the content. (Yes I have logged out of admin, and saved my se

[2016-05-02 14:52] bjonness406 opened #201 "Can not log out when on Logs page and sticky log level button"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)
#### Plex Requests.Net Version:

1.6.1
#### Operating System:

Docker from rogueosb
#### Reproduction Steps:

When you are logged in as admin, and go to settings --> Logs you can not log out. When you click the "Admin" button on the top right corner to bri

[2016-05-02 14:58] tidusjar commented on #199
What is in your settings?

Don't include a '/' in the settings if you have. Are you sure you also pressed save and then restarted plex requests?

[2016-05-02 14:59] tidusjar commented on #72
That's true @khellang!

[2016-05-02 15:01] jrdnlc commented on #199
@tidusjar I tried /requests and requests without the "/" and same results. There is no save button only submit.

[2016-05-02 22:39] williamray507 opened #202 "Program Keeps Crashing"
#### Plex Requests.Net Version: 1.6.6
#### Operating System: Windows Server 2012R2

My system is as follows:
OS: Windows Server 2012 R2 Standard
Processor: AMD Fx-6300 Six-Core Processor 3.50 GHz
RAM: 32GB
PlexRequests is running out of the following directory: C:\PlexRequests\Release
It will run for a few hours at most before crashing.

#### Applicable Logs (from `/logs/` directory or the Admin p

[2016-05-03 20:01] zenjabba commented on #202
I'm having the same problem, every few hours it just stops working. I've tried on Unix, and Windows and both of them crash.

Any debug logs I can send?

[2016-05-03 20:21] Drewster727 commented on #202
@zenjabba you should have a logs folder with log files in there. Send them over and we'll take a look.

[2016-05-03 20:31] zenjabba commented on #202
This is all I found, I think I need to change the debug level.

2016/05/03 07:39:50.890 PlexRequests.UI.Program Trace: Getting product version
2016/05/03 07:39:50.915 PlexRequests.UI.Program Info: Version: 1.6.1
2016/05/03 07:39:51.465 PlexRequests.Store.DbConfiguration Trace: Checking DB
2016/05/03 07:39:55.405 PlexRequests.Core.Setup Info: Begin executing GetProfiles call to Sonarr for quality p

[2016-05-03 21:03] zenjabba commented on #202
Unhandled Exception: System.ApplicationException: Error retrieving response. Che
ck inner details for more info. ---> System.Net.WebException: Unable to connect
to the remote server ---> System.Net.Sockets.SocketException: A connection attem
pt failed because the connected party did not properly respond after a period of
 time, or established connection failed because connected host has failed to

[2016-05-03 21:14] williamray507 commented on #202
Mine will crash even if plex is not restarted, it seems to just crash randomly after a few hours.

[2016-05-03 21:15] zenjabba commented on #202
Agreed re: crashing every few hours, but at least I figured out one of the crashes!

[2016-05-03 21:18] Drewster727 commented on #202
I found that when I had my logging set to "Trace" (or maybe anything below "Info") it will crash after a few hours. Can you guys confirm this?

[2016-05-03 21:57] jrdnlc commented on #199
Anyone??

[2016-05-03 23:39] tidusjar commented on #199
Sorry for the late reply. I am on vacation currently.

You issue is that you are using requests.

You need to change this to 'request'. Since requests is a reserved page by the application.

So just enter request in the settings field, restart plex requests and then navigate to http://localhost:3579/request (change the port if you have changed it in the settings)

[2016-05-03 23:42] jrdnlc commented on #199
@tidusjar Nope, that does not fix the issue. Same error

[2016-05-03 23:43] tidusjar commented on #199
Can you try starting plex requests with '-base request' as a parameter ?

[2016-05-03 23:44] jrdnlc commented on #199
@tidusjar How do I do that? I'm running plex requests as a docker under unraid.

[2016-05-03 23:45] tidusjar commented on #199
Oh. I have no idea then.  So you are getting the 404 when going to /request. What about if you just go to local host?

[2016-05-03 23:46] jrdnlc commented on #199
@tidusjar Same error. It becomes pretty much useless - have to remove it and do a fresh install.

[2016-05-04 01:56] ramsaytc commented on #200
I'm having the same problem.  See #197

[2016-05-04 14:29] bjonness406 commented on #200
Well , it at least works with tv shows for you, neither tv shows or movies works for me.

[2016-05-04 14:32] tidusjar commented on #200
Leave it empty, restart plex requests so it does a fresh query on Plex and then try (you don't have to restart, just wait 15minutes)

[2016-05-04 14:38] bjonness406 commented on #200
Can't belive I did not try that... Thanks for your help!

[2016-05-04 14:38] #200 closed

[2016-05-04 14:40] tidusjar commented on #197
See #200

[2016-05-04 14:40] #197 closed

[2016-05-04 14:53] bjonness406 opened #203 "[Feature Request] Issue button next to request/available"
One thing I feel like is missing is a Issue button next to the request/available one.
When a user want to report a issue with a tv show/movie that is already available, it is not possible to do if it is not on the requested list.
So a report issue button right under the "available" one would be perfect.

[2016-05-04 14:57] tidusjar commented on #203
That is a very good point. It has been discussed already, we just need to think how to implement it and manage it. I'm thinking we might need a separate page to manage all of the issues instead of managing them on the requests page.

[2016-05-04 16:45] zenjabba commented on #202
Basically it seems my issues are when a service doesn't respond back fast enough, it crashes.

Unhandled Exception: System.ApplicationException: Error retrieving response. Che
ck inner details for more info. ---> System.Net.WebException: The operation has
timed out
   at System.Net.HttpWebRequest.GetResponse()
   at RestSharp.Http.GetRawResponse(HttpWebRequest request)
   at RestSharp.Http.GetResp

[2016-05-04 16:47] zenjabba commented on #202
@Drewster727 What do you consider massive size of plex?

[2016-05-04 17:07] tidusjar commented on #202
@Drewster727 can we add some more protective code around the cache services?

[2016-05-04 17:40] DereckR opened #204 "Gmail Email Issues"
Gmail port 25 works but 465 and 587 receive errors.

Thanks,
Dereck

[2016-05-04 17:42] DereckR opened #205 "Feature Request - API"
I am using Slack.com for notifications right now and want to make a channel called requests and users can use /request and it would integrate with plex requests and send api commands to requests. Any chance this could happen?

Thanks,
Dereck

[2016-05-04 18:37] bjonness406 commented on #203
That is a good idea.

[2016-05-04 18:42] my95z34 commented on #177
It's happening again. =\

Console shows nothing except the fact that it's navigating to the specific page.

[2016-05-04 18:45] my95z34 commented on #177
http://imgur.com/lDU4SYW

Also, it may be noted that this is immediately after a reboot of the server.

[2016-05-04 20:35] tidusjar commented on #177
Hmmm. That's strange. Browser you are using?

[2016-05-04 20:38] my95z34 commented on #177
Chrome, on both my Android phone and my computer.
On May 4, 2016 4:35 PM, "Jamie" <notifications@github.com> wrote:

[2016-05-04 22:23] whitecollar17 opened #206 "500 - InternalServerError Nancy.RequestExecutionException: Oh noes"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

#### Plex Requests.Net Version:
v1.6.1

#### Operating System:
Windows 10 pro 64bit

#### Mono Version:
x

#### Applicable Logs (from `/logs/` directory or the Admin page):
2016/05/05 00:21:32.767 PlexRequests.UI.Program Trace: Getting product version
201

[2016-05-04 22:38] tidusjar commented on #206
Hi!

You need to follow the install instructions ;)

Unblock the .zip and then extract it! :)

[2016-05-05 15:10] heartisall commented on #202
Yep mine is crashing all the time too, currently just have a scheduled task to close it and reopen it every few hours. It works, but it's a sloppy workaround.

[2016-05-05 16:10] tidusjar commented on #202
Hmm that's not great. We need to know the areas it's crashing so we can stop it.

It's difficult to code for every error scenario, everyone's setups are different unfortunately. But we can try our best so thank you guys for your patience.

I'm currently on vacation but I'll see if I can do something when I get back to the hotel tonight.

Has anyone tried out the latest Dev build because I know we

[2016-05-05 19:11] zenjabba commented on #202
If your on Vacation, STAY on vacation!

Seriously this isn’t that important compared to holidays!

[2016-05-05 19:19] heartisall commented on #202
I agree completely with @zenjabba enjoy your Vacay man None of this is life threatening.

[2016-05-05 19:21] tidusjar commented on #202
Haha thanks guys! I find it difficult as I don't want to disappoint!

[2016-05-05 19:22] zenjabba commented on #202
Get back on Vacation and stop reading until your finished.

Hell my partner would KILL me if I worked on a open source project whilst on Vacation. Nope, this can wait till you get back.

[2016-05-06 22:41] cmer opened #207 "Crash when visiting admin page"
If this is a bug report please make sure you have filled the following in:
(If it's not a bug and a feature request then just remove the below)

#### Plex Requests.Net Version:

Latest master

#### Operating System:

Ubuntu

#### Mono Version:

#### Applicable Logs (from `/logs/` directory or the Admin page):
Nancy.RequestExecutionException: Oh noes! ---> Microsoft.CSharp.RuntimeBinder.RuntimeBind

[2016-05-06 22:52] tidusjar commented on #207
Have you enabled a base url?

[2016-05-06 23:20] cmer commented on #207
Yes I have

[2016-05-06 23:23] tidusjar commented on #207
Did you put it to /requests?

If so you can't use that. We need that irk reserved for the application. We need to give a list of these to the user and that will be in the next release. But you can use /request (without the 's')

[2016-05-06 23:40] cmer commented on #207
Ah! I didn't know that!

Is there a way to get myself out of this mess without deleting my config file?

Sent from my iPhone

[2016-05-06 23:42] tidusjar commented on #207
Hmmm...

Try starting up the exe with '-base request' parameter.

[2016-05-07 19:12] tidusjar commented on #207
Any luck ?

[2016-05-07 19:13] tidusjar opened #208 "Use a Topaz block in the scheduler"
Use a transient fault handling block in the scheduler with a back off and retry strategy.

[2016-05-07 19:25] cmer commented on #207
Looks like "-base" didn't do anything for me. I ended up deleting the config file and starting from scratch. No biggie. thanks!

[2016-05-07 19:25] #207 closed

[2016-05-07 19:26] tidusjar commented on #207
Sorry about that!

[2016-05-07 19:26] tidusjar opened #209 "Add validation on the base url field"
Make sure we cannot use any of the reserved URL's.

[2016-05-07 22:23] zenjabba commented on #202
I've found a way around the problem for now (Under WIndows)

https://www.raymond.cc/blog/disable-program-has-stopped-working-error-dialog-in-windows-server-2008/

Follow this, then I simply created a batch file (below), and created a shortcut to that batch file and placed that short cut into the startup folder. Once it crashes, it drops out, and starts up again :)

plexrqrun.bat
---

@echo off
:st

[2016-05-07 23:40] williamray507 commented on #202
Thank you for that.

[2016-05-08 23:01] Propayne commented on #177
Good afternoon,
I wanted to comment that I am experiencing the same behavior. I have tried the mainstream browsers on OSX, Windows, Android and IOS.

The service runs on a W7 box and as mentioned before occasionally will show the movie requests, but it doesn't seem to be tied to any event when it happens. I did notice the issue started after a rather large number of requests were submitted back to

[2016-05-09 00:56] tidusjar commented on #177
Thanks for the report! I'll be looking into this one when I get some time after I'm off vacation.

[2016-05-09 02:29] squaresmile opened #210 "Ability to change posters' url to https"
I got mixed content warning on Chrome because the posters are from `http://image.tmdb.org`. I believe the posters could be retrieved from `https://image.tmdb.org`. It would be nice if it's changed or at least there's an option in the settings.

[2016-05-09 02:44] tidusjar commented on #210
Are you running the site over https?

We can add a settings for this.

[2016-05-09 02:46] squaresmile commented on #210
Yes the site is behind nginx served over https.

[2016-05-09 20:55] EddiYo opened #211 "[Feature Request] "Upcoming Series" list"
One thing I am missing from the request bit for the TV show section is a "Upcoming Series" list. I am not sure where to pull that from to be fair.

Did try to find something on thetvdb that might suffice, but no luck. But would be a neat feature so that people didnt have to go for other sites to find new and interesting series. Maybe even some sort of "tag" function if any of the tv sites have tha

[2016-05-09 20:57] EddiYo commented on #179
Much like the way its done in PlexPy, I'd appriciate this function as well. But like @Auwen its very low priority here as well. A "nice to have" function.

[2016-05-10 18:52] yalpski opened #212 "base URL change"
So, assuming one did not come to Github and read the release notes before attempting to set the base URL to /requests - is there any way to recover the previous setting to get the service working properly again?

[2016-05-10 18:56] tidusjar commented on #212
Unfortunately not.

I am aware this is something that I overlooked initially and plan to sort this out.

The reason is that we encrypt all of the settings so if anyone got hold of the database somehow it is all encrypted.

Sorry about that.

[2016-05-10 19:03] yalpski commented on #212
My own fault for not RTFM before making a change! Essentially then it comes down to stopping the service and reinstalling?

[2016-05-10 20:18] yalpski commented on #212
So I just tried reinstalling but it seems to be preserving the settings somewhere. I have it running on OSX - does it place its settings file somewhere other than the directory I have it running from?

[2016-05-10 20:21] Drewster727 commented on #212
It's all stored in the sqlite file located in the directory. Are you sure you deleted that first?

[2016-05-10 20:27] yalpski commented on #212
Looks like I neglected to empty the trash - seems it was pulling the settings from there for some reason. All fixed up now. Thanks for the help!

[2016-05-10 20:30] tidusjar commented on #212
All you had to do was delete the .sqlite file. But reinstalling works too!

glad it's sorted.

[2016-05-10 20:30] #212 closed

[2016-05-10 22:10] nickhdamico opened #213 "No .exe in zip"
is there any chance the .exe file was deleted from the repo?

[2016-05-10 22:32] tidusjar commented on #213
We don't version control the .exe. Take a look at the releases.

[2016-05-10 22:33] tidusjar commented on #213
https://github.com/tidusjar/PlexRequests.Net/releases

[2016-05-10 22:36] nickhdamico commented on #213
Oh wow sorry, brain fart, thanks for the quick answer

[2016-05-10 22:37] #213 closed

[2016-05-10 22:37] tidusjar commented on #213
No problem! :)

[2016-05-11 16:33] Auwen opened #214 "Base URL Wiki section"
Can someone who understands the Base URL setting and reverse proxying in general create a bit for the Wiki on here for those (like me) who are much more novice?

Things like:
- What all pages are not valid to use?
- What is the proper formatting for the setting? "/request"
- How to use the -base switch as well?
- Would be nice for suggested settings within NGINX, Apache, etc.
- Anything else I am

[2016-05-11 21:38] tidusjar commented on #214
Yeah that does makes sense!

I'm adding some validation to the page so it will allow "/" and it won't let you use "/requests" etc. But yes it does make sense to add it to the wiki.

[2016-05-11 21:57] Jakesparrow opened #215 "Albums requested all point to "0""
So whenever a user or me as a user requests an album, it finds the album they want, they click request, I get the notification. I log in, I approve it, and in Headphones, under wanted, a new item shows up called "None"  It shows None under artist, album, date released, and type.
When I go back to the requests page for albums, I click on the actually album, and this is where it takes me:

https://m

[2016-05-12 00:41] tidusjar commented on #215
What appears on the requests page? Is all the information there?

What is the album name?

[2016-05-12 13:37] Auwen opened #216 "Archive instead of Delete"
I like to have my list clean from completed requests, so currently I just delete them off. But every so often I'd like to go back and see who requested something or how many requests someone has made. But I can't do that since I delete them.

What would be nice is to Archive instead of Delete with them hidden by default but the ability to see them via a new Filter would be great!

[2016-05-12 13:53] tidusjar commented on #216
Yeah this is a good idea. I was thinking about something like this as managing the requests is a pain.

[2016-05-12 17:41] tidusjar commented on #199
Any more information on this?

[2016-05-12 17:43] #206 closed

[2016-05-12 17:43] tidusjar commented on #211
I'd like to do this but I'm not sure where to get the information from. We need a Api
Provider that has this.

[2016-05-12 18:15] area commented on #199
So I managed to get this to work with the following block in my Nginx:

[code]

Not even really sure why I tried it - I've never set up a reverse proxy like this in the past (i.e. including the baseurl in the redirect), but there we are...